<script type="module">


import { init_firebase_todacarne, write_jlq, get_out, read_jlq, read2_jlq } from '../code/tc_firebase.js';

window.init_firebase_todacarne = init_firebase_todacarne;
window.write_jlq = write_jlq;
window.read_jlq = read_jlq;
window.read2_jlq = read2_jlq;
window.get_out = get_out;


</script>       
 
