<script type="module">


//import { init_firebase_todacarne, write_jlq, firebase_sign_out, read_jlq, read2_jlq } from '../code/tc_firebase.js';
import * as fb from '../code/tc_firebase.js';

window.init_firebase_todacarne = fb.init_firebase_todacarne;
window.write_jlq = fb.write_jlq;
window.read_jlq = fb.read_jlq;
window.read2_jlq = fb.read2_jlq;
window.read3_jlq = fb.read3_jlq;
window.firebase_write_object = fb.firebase_write_object;
window.firebase_read_object = fb.firebase_read_object;
window.firebase_sign_out = fb.firebase_sign_out;

</script>       
 
