{{> top}}
<div id="id_content">
  <div id="id_side_nav" class="col-3 col-m2">
    <div id="id_side_nav_name">AllFlesh</div>
    <nav>
    <ul>
      {{> nav_all_flesh}}
    </ul>
    <br><br><br><br><br>
    </nav>
  </div>
  <div class="cl_main_content col-9 col-m10">
    <h1 class="big_title">Book</h1>
    {{> text_all_flesh}}
    {{> footer}}
  </div>
  <!-- div class="rside col-3 col-m12">
  </div -->
</div>
{{> bottom}}
