
{{> top}}

<div class="exam_top_menu">
	<div id="id_exam_save_button" class="exam_menu">SAVE</div>
	<div id="id_exam_open_button" class="exam_menu">OPEN</div>
	<div id="id_exam_sort_button" class="exam_menu">SORT</div>
	<div id="id_exam_mode_button" class="exam_menu">LEARN</div>
</div>

<div id="id_exam_content" class="exam_content">
	<div id="id_exam_name" class="big_title">
	</div>
    <h1 class="big_title">Interactive Theology Test</h1>
    <div id="id_exam_statements">
    </div>  
</div>  
</div>

<script src="../code/tc_lang_all.js"></script>  // ALWAYS FIRST !!!
<script src="../code/tc_lang_en.js"></script>
<script src="../code/tc_db_exam.js"></script>
<script src="../code/tc_exam.js"></script>

{{> bottom}}

