
{{> top}}

<div class="exam_top_menu">
	<div id="id_exam_save_button" class="exam_menu">SAVE</div>
	<div id="id_exam_open_button" class="exam_menu">OPEN</div>
	<div id="id_exam_delete_button" class="exam_menu">DELETE</div>
	<div id="id_exam_sort_button" class="exam_menu">SORT</div>
	<div id="id_exam_mode_button" class="exam_menu">LEARN</div>
</div>

<div id="id_exam_content" class="exam_content">
	<div id="id_exam_top_content"></div>
	<div id="id_exam_name" class="big_title">
	</div>
    <h1 class="big_title">Interactive Theology Test</h1>
    <div id="id_exam_all_questions">
    </div>  
</div>  
</div>

<script type="module">

//import { init_firebase_todacarne, write_jlq, firebase_sign_out, read_jlq, read2_jlq } from '../code/tc_firebase.js';
import * as fb from '../code/tc_firebase.js';

window.init_firebase_todacarne = fb.init_firebase_todacarne;
window.write_jlq = fb.write_jlq;
window.read_jlq = fb.read_jlq;
window.read2_jlq = fb.read2_jlq;
window.read3_jlq = fb.read3_jlq;
window.firebase_write_object = fb.firebase_write_object;
window.firebase_read_object = fb.firebase_read_object;
window.firebase_sign_out = fb.firebase_sign_out;

import * as en_lang from '../code/tc_lang_en.js';
import * as exm from '../code/tc_exam.js';

en_lang.init_en_module();
exm.init_page_exam();

</script>
 

{{> bottom}}

