<div id="id_footer" class="footer col-10 col-m10">
<h4>Author</h4>
<p>Jose Luis Quiroga Beltrán. Cédula. 79.523.732 de Bogotá Colombia.</p>
<p>
    <a href="http://joseluisquiroga.github.io/">joseluisquiroga.github.io</a><br>
    <a href="http://toda-carne.github.io/">TodaCarne.com</a><br>
    <a href="http://toda-carne.github.io/">toda-carne.github.io</a><br>
</p>
<h4>Copyright y Derechos de Autor: 2021-2022.</h4>
<p>
    The text, audio y video are open source and creative commons.<br>
    Licenses:<br>
    <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL v3.0</a><br>
    <a href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons Zero v1.0 Universal</a><br>
</p>
</div>
