
{{> top}}
<div id="id_content">
  <div class="cl_main_content col-12 col-m12 home_text">

    <h1 class="big_title">All Flesh</h1>    
    <div class="home_text">
    
    <p><strong>Check by yourself that the bible is not for looneys and it does NOT teach what you were told.</strong></p>
    
    <p>This <a href="book.html">book</a> is completely FREE.</p>
    <p>You can <a href="book.html">read it</a> online or <a href="download.html">download</a> it in PDF format.</p>
    <p>You can see some introductory <a href="media.html">videos</a> before you read it.</p>
    <p>If you have a question, ANY <a href="info.html">question</a>, you can also <a href="info.html">make it</a>.</p>
    <p>It you want a summary, you can see the <a href="schema.html">schema</a> of the main topic: the bible teaches a resurrection that is for ALL dead people, and that AFTER it happens salvation for ALL FLESH.</p>
    <p>And if later you feel like giving a <a href="tips.html">tip</a>, you can also do it.</p>
      
    </div>
  </div>
  <div class="home_footer">
  {{> footer}}
  </div>
</div>
{{> bottom}}
