
{{> top}}

{{> top_quest}}

</div>

<script type="module">

import * as en_lang from '../code/tc_lang_en.js';
import * as en_txt from '../quest/old/en_text.js';
import * as cont_db from '../quest/old/cont_db.js';
import * as exm from '../code/tc_exam.js';

en_lang.init_en_module();
en_txt.init_en_poll_txt();
exm.init_page_exam(cont_db.init_exam_database);

</script>
 

{{> bottom}}

