
{{> top}}
<div id="id_content">
  <div class="cl_main_content col-12 col-m12">

  <h1 class="big_title">Tips</h1>
  
  <h1>PayPal</h1>
  <h3><a href="https://www.paypal.com/donate/?hosted_button_id=GY7DAU6WMXH5S">Propinas PayPal</a></h3>
  <img id="img_paypal_qr" src="../paypal_qr/paypal_qr.png" title="QR PayPal">
  
  <h1>Efecty</h1>
  Jose Luis Quiroga<br>
  id 79523732<br>
  cel 3053506996<br><br>
  
  And please send receipt to the email: <strong>propinas@todacarne.com</strong>
  
  <h1>Nequi</h1>
  cel 3053506996<br>
  
  
  
  </div>
</div>
{{> bottom}}
