
{{> top}}
<div class="in_center" id="id_content">
	<div class="cl_main_content col-12 col-m12">

	<h1 class="big_title">Tips</h1>

	<h1 class="in_center">PayPal</h1>
	<h3><a href="https://www.paypal.com/donate/?hosted_button_id=GY7DAU6WMXH5S">Propinas PayPal</a></h3>
	<div class="in_center"><img id="img_paypal_qr" src="../paypal_qr/paypal_qr.png" width="300px" title="QR PayPal"></div>

	<h1 class="in_center">Nequi</h1>
	<div class="in_center"><img id="img_nequi_qr" src="../nequi_qr/nequi_qr.webp" width="300px" title="QR Nequi"></div>
	<div class="very_big_font in_center">cel 3053506996</div><br>


	<h1 class="in_center">Efecty</h1>
	Jose Luis Quiroga<br>
	id 79523732<br>
	cel 3053506996<br><br>

	And please send receipt to the email: <strong>tips@todacarne.com</strong>

	</div>
</div>
{{> bottom}}
