
{{> ../all_mustache/empty_top}}

<div id="id_tool_content" class="tool_content">
<div id="id_pop_opt_sec"></div>

<h1 class="big_title">Strong Bible Selector</h1>

<div class="grid_tool">
	<div id="id_old_test" class="bib_item is_option">
	WLC
	</div>
	<div id="id_new_test" class="bib_item is_option">
	BYZ
	</div>
	<div id="id_loc_bib" class="bib_item is_option">
	WEB
	</div>
	<div id="id_rx_tgt" class="bib_item is_option">
	LOC
	</div>
	<div id="id_out_txt" class="bib_item is_option">
	ASC
	</div>
	<div id="id_search" class="input_item">
	</div>
	<div id="id_select" class="search_button_item">
	FIND
	</div>
	<div id="id_verses" class="results_item">
	FOUND
	</div>
</div>
<div id="id_end" class="end_of_content">
</div>

</div>

{{> ../all_mustache/bottom}}

