
/* 
 * @import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css');
 * @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'); 
 * 
 * @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
 * @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
 * 
 */


* {
	box-sizing: border-box;
	/* border: 1px solid red; */
}

@font-face {
	font-family: tc_icons_font;
	src: url(../fonts/tc_icons2.ttf);
}

.has_icons {
	font-family: tc_icons_font;
	font-size: 1.2em;
	/*border: 1px solid red;*/
}

/*.fa,
 * .fas,
 * .fa-solid {
 *  border: 1px solid red;
 * }*/

.has_icons {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: var(--fa-display, inline-block);
	font-style: normal;
	font-variant: normal;
	/*line-height: 1;*/
	line-height: inherit; 
	text-rendering: auto; 
}

.icon-side-menu::before {
	content: "\0061"; 
}

.icon-book::before {
	content: "\0062"; 
}

.icon-download::before {
	content: "\0063"; 
}

.icon-media::before {
	content: "\0064"; 
}

.icon-schema::before {
	content: "\0065"; 
}

.icon-info::before {
	content: "\0066"; 
}

.icon-tips::before {
	content: "\0067"; 
}

.icon-menu::before {
	content: "\0068"; 
}

.icon-pin::before {
	content: "\0069"; 
}

.icon-home::before {
	content: "\006A"; 
}

.icon-checked::before {
	content: "\006B"; 
}

.icon-language::before {
	content: "\006C"; 
}

.icon-globe::before {
	content: "\006D"; 
}

.hebreo:lang(he) {
	direction: rtl;
}

.griego:lang(el) {
	direction: ltr;
}

body {
	background-color: #13234c;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	/*font-family: 'Roboto', sans-serif;*/
	/*font-family: 'Architects Daughter', cursive;*/
	font-size: 17px;
	margin: 0;
}

.big_title{
	font-size: 6vw;
	text-align: center;  
}

.in_center{
	text-align: center;  
}

.img_center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

.home_text {
	/*color: yellow;*/
	font-size: 1em;
	padding: 0em 1em 0em 1em;
	width: 100%;
}

.home_footer {
	display: flex;
	justify-content: center;
	align-items: center;  
	align-content: center;
	padding: 0vw 0vw 3vw 3vw;
}

/* For mobile phones: */
[class *= "col-"] {
	float: left;
	padding: 1em;
	width: 100%;
}

/* For mobile phones: */
[class *= "verse_cl"] {
	float: left;
	padding: 0.1em;
	width: 100%;
}

.verse_cl1 { /* verse ref */
}

.verse_cl2 { /* verse content */
}

.verse_cl3 { /* MAIN TITLE */
	text-align: center;
}

.verse_cl4 { /* FIRST IMAGE */
	width: 80%;
}

.verse_cl5 { /* IMAGES */
}

.ref_video {
	height: 50vh;
}

/*position: static sticky fixed absolute*/
/*border: 5px solid red;*/

#id_content{
display: block;
float: left;
height: 90vh;
margin:0em;
margin-top:10vh;
overflow-y: scroll;
padding:0em;
padding-right:1em;
position: sticky;
text-align: justify;
top: 10vh;
width: 100%;
z-index: 50;
}

#id_content a {
color: #00dd00;
}

#id_content a:hover {
color: black;
background-color: white;
}

#id_content::after {
content: "";
clear: both;
display: table;
}

.key_verses img:hover {
	border: 5px solid white;
}

@media only screen and (min-width: 600px) {
	/* For tablets: */
	.col-m1 {width: 8.33%;}
	.col-m2 {width: 16.66%;}
	.col-m3 {width: 25%;}
	.col-m4 {width: 33.33%;}
	.col-m5 {width: 41.66%;}
	.col-m6 {width: 50%;}
	.col-m7 {width: 58.33%;}
	.col-m8 {width: 66.66%;}
	.col-m9 {width: 75%;}
	.col-m10 {width: 83.33%;}
	.col-m11 {width: 91.66%;}
	.col-m12 {width: 100%;}
	
	.verse_cl1 { /* verse ref */
		width: 16.66%;
	}
	
	.verse_cl2 { /* verse content */
		width: 83.33%;
	}
	
	.verse_cl5 { /* IMAGES */
		padding: 1em;
		width: 41.66%;
	}
	
	.home_text {
		/*color: red;*/
		font-size: 1.3em;
		padding: 0em 1em 0em 1em;
	}
}

@media only screen and (min-width: 768px) {
	/* For desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
	
	.verse_cl1 { /* verse ref */
		width: 16.66%;
	}
	
	.verse_cl2 { /* verse content */
		width: 83.33%;
	}
	
	.verse_cl5 { /* IMAGES */
		width: 41.66%;
	}
	
	.home_text {
		/*color: black;*/
		font-size: 1.3em;
		padding: 0em 1em 0em 1em;
	}  
}

@media only screen and (min-width: 1100px) {
	.home_text {
		/*color: green;*/
		font-size: 1.6em;
		padding: 0em 2.5em 0em 2.5em;
	}  
}

/*  background-color: #333;*/

.cl_top_nav {
	background-color: #0b142c;
	border: 2px solid #23418c;
	font-size: 3vh;
	height: 10vh;
	overflow: auto;
	position: fixed;
	top: 0em;
	width: 100%;
	z-index: 100;
}

.cl_top_nav .cl_top_elem {
	color: #f2f2f2;
	display: block;
	float: left;
	padding: 1em 1em;
	text-align: center;
	text-decoration: none;
}

.cl_top_nav .cl_top_elem:hover {
	background-color: #ddd;
	color: black;
}

.cl_top_nav .cl_top_elem.active {
	background-color: #04AA6D;
	color: white;
}

#id_top_menu, #id_side_menu {
display: none;
}

/*box-shadow: 0 1px 3px lightgray, 0 1px 2px lightgray;*/
/*border: 5px solid black;*/

#id_side_nav {
background-color: #0a1327;
border: 2px solid #23418c;
display: block;
float: left;
height: 90vh;
margin: 0em;
overflow-y: scroll;
padding: 0em;
position: sticky;
text-align: left;
top: 0em;
z-index: 99;
}

#id_side_nav ul {
display: block;
margin: 0em;
list-style-type: none;
padding: 0em;
}

#id_side_nav li {
-moz-user-select: none; /* Firefox 2+ */
-ms-user-select: none; /* IE 10+ */
-webkit-user-select: none; /* Safari 3.1+ */

background-color: #162b58;
color: white;
cursor: pointer;
display: block;
margin: 0em;
padding: 0.5em;
user-select: none;
width: 100%;
}

#id_side_nav h3 {
text-align: center;
}

#id_side_nav [href]:hover {
background-color: #ddd;
color: black;
}

.cl_sub_nav:hover {
	background-color: #ddd;
	color: black;
}

#id_side_nav a {
color: white;
display: inline-flex;
margin: 0em;
padding: 0em;
width: 100%;
}

#id_side_nav .cl_sub_nav {
width: 100%;
}

#id_side_nav .nested {
display: none;
}

#id_side_nav .active {
display: block;
}

#id_side_nav .open {
background-color: #254795;
}

#id_side_nav .selected {
background-color: #0e1a35;
/*background-color: #ff0856;*/
}

#id_side_nav_name {
display: none;
}

.cl_main_content {
	margin-top: 1em;
	padding: 1em;
}

.rside {
	background-color: #1a3067;
	border: 1em solid white;
	box-shadow: 0 1px 3px lightgray, 0 1px 2px lightgray;
	color: white;
	float: right;
	font-size: 0.8em;
	margin-top: 1em;
	padding: 1em;
	text-align: center;
}

/*float: none;*/
/*position: sticky;*/

@media screen and (max-width: 600px) {
	.big_title{
		font-size: 300%;
		text-align: center;  
	}
	
	.home_text {
		/*color: magenta;*/
		font-size: 1em;
	}
	
	.cl_top_nav .cl_top_elem {display: none;}
	
	#id_side_menu.has_side_nav {
	display: block;
	float: left;
	top: 0;
	}
	
	#id_home {
	display: block;
	position: relative;
	text-align: left;
	top: 0;
	}
	
	#id_top_menu {
	display: block;
	float: right;
	height: 10vh;
	position: absolute;
	right: 0;
	top: 0;
	}
	
	.cl_top_nav.show_menu {
		background-color: #0b142c;
		float: none;
		display: block;
		height: auto;
		width: 100%;
		z-index: 110;
	}
	
	.cl_top_nav.show_menu .cl_top_elem {
		display: block;
		float: none;
		text-align: left;
		z-index: 110;
	}
	.cl_top_nav.show_menu #id_side_menu {
		display: none;
	}
	
	#id_side_nav {
	background-color: #0a1327;
	display: none;
	}
	
	#id_side_nav.show_menu {
	display: block;
	float: none;
	position: fixed;
	text-align: left;
	top: 10vh;
	z-index: 100;
	}
	
}

/*border: 1em solid black;*/

.info_ref {
	text-align: center;
}

#id_footer {
background-color: #000000;
color: white;
display: block;
float: right;
font-size: 1em;
padding: 1em;
position: sticky;
text-align: center;
}

#id_footer a {
color: white;
}

.exam_top_menu {
	font-size: 4vh;
	height: 7vh;
	overflow-x: scroll;
	position: fixed;
	top: 10vh;  /* cl_top_nav:height */
	width: 100%;
	z-index: 100;
	text-decoration: none;
	border-spacing: 10px 0px;
	background-color: #0b142c;
	border-bottom: 3px solid #23418c;
}

.exam_sub_menu {
	display: block;
	width: 100%;
	font-size: 4vh;
	width: 100%;
	z-index: 100;
	text-decoration: none;
	//padding: 1em 1em;
	//border: 0.1vw solid white;
	background-color: #0b142c;
}

.exam_menu {
	display: table-cell;
	margin: 1vh;
	border: 0.1vw solid white;
	//background-color: red;
}

.exam_menu:hover {
	background-color: #ddd;
	color: black;
}

.exam_menu.active {
	background-color: #04AA6D;
	color: white;
}

.exam_content {
	display: block;
	float: none;
	top: 17vh; /* height = cl_top_nav:height + exam_menu:height*/
	height: 83vh;
	overflow-y: scroll;
	position: fixed;
	width: 100%;
	z-index: 50;
	//border: 0.1vw solid red;
}

.exam {
	float: none;
	font-size:1em;
	display: block;
	background-color: #254795;
	/*background-color: red;*/
	color: white;
}

.exam,h1 {
	font-size:1.1em;
}

.exam.has_border {
	margin-top: 2vw;
	border: 0.1vw solid white;
}

.exam.has_margin_bot {
	margin-bottom: 1em;
}

.exam.is_button {
	border: 0.2vw solid white;
	background-color: #1c396f;
	text-align: center;
}

.exam.is_button:hover,.exam.is_button:hover>* {
	background-color: #ddd;
	color: black;
}

.exam.is_button.active {
	background-color: #04AA6D;
	color: white;
}

.exam.stm {
	display: flex;
	width: 100%;
	height: 100%;
}

.exam.pos {
	font-size:0.8em;
	display: inline-block;
	//margin-left: 1vh;
	height: 100%;
}

.exam.msg {
	display: inline-block;
	flex-grow: 100;
	margin: 1vh;
	padding-left: 1vw;
}

.exam.is_observ {
	margin-top: 1vw;
	border: 0.5vw solid #ffff00;
}

.exam.observ_color {
	padding: 0.5vw;
	background-color: #13234c;
	color: #ffff00;
}

.exam.pos_inter {
	display: block;
	width: 100%;
}

.exam.is_block {
	display: block;
	margin-top: 0.5vh;
	margin-bottom: 0.5vh;
}

.exam.is_inline_segment {
	display: inline-block;
	margin: 0px;
	border: 0.1vw solid red;
}

.exam.is_inline_input {
	display: inline-block;
	margin-top: 0.5vh;
	margin-bottom: 0.5vh;
}

.exam.is_answer {
	display: block;
	margin: 0.7vw;
	padding: 0.5em 0.5em 0.5em 0.5em;
	border: 0.2vw solid white;
}

.exam.is_answer:hover,.exam.is_answer:hover>* {
	background-color: #3263cb;
	color: white;
}

.exam.selected {
	background-color: #13234c;
}

.exam.selected:hover,.exam.selected:hover>* {
	background-color: #0c142c;
}

.exam.is_contradiction {
	background-color: #ff0000;
}

.exam.is_contradiction:hover,.exam.is_contradiction:hover>*  {
	background-color: #d10000;
}

.exam.answ_bib {
	display: inline-block;
	height: 100%;
}

.exam.answ_msg {
	display: inline-block;
	flex-grow: 100;
	padding-left: 1vw;
}

.exam.is_option {
	display: inline-block;
	margin: 0.5vw;
	border: 0.2vw solid white;
}

.exam.is_option:hover,.exam.is_option:hover>* {
	background-color: #ddd;
	color: black;
}

.exam.is_verse_cit {
	//display: inline-block;
	margin: 0.5vw;
}

.exam.is_red_border {
	border: 0.2vw solid #ff0000;
}

.exam.is_green_border {
	border: 0.2vw solid #00ff00;
}

.exam.is_strong_cit {
	display: inline-block;
	margin: 0.5vw;
}

.exam.is_link_cit {
	display: inline-block;
	margin: 0.5vw;
}

.exam.is_citation_item {
	display: inline-block;
	margin: 0.5vw;
}

.exam.is_ed_verse {
	display: inline-block;
	margin: 0.5vh;
}

.exam.is_hidden {
	display: none;
}

.is_red {
	background-color: red;
	/* color: red; */
}

.is_big{
	font-size: 1.5em;
	text-align: center;  
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.exam_ref {
	background-color: #254795;
}

a.exam_ref {
	color: yellow;
	//color: red;
}

a.exam_ref:hover {
	color: black;
	background-color: white;
}

.exam_title {
	display: block;
	font-size: 150%;
	text-align: center;  
	margin-bottom: 0.5em;
}

