<html>
 <head>
	<meta charset="utf-8">
 </head>
 <body>
  <nav id="TOC" role="doc-toc">
   <ul>
    <li>
     <a href="#todacarne.com" id="toc-todacarne.com">
      <span id="anchor">
      </span>
      TodaCarne.com
     </a>
    </li>
    <li>
     <a href="#tabla-de-contenido." id="toc-tabla-de-contenido.">
      <span id="anchor-1">
      </span>
      Tabla de Contenido.
     </a>
    </li>
    <li>
     <a href="#parte-1.-introducción." id="toc-parte-1.-introducción.">
      <span id="anchor-2">
      </span>
      PARTE 1.
INTRODUCCIÓN.
     </a>
     <ul>
      <li>
       <a href="#introducción." id="toc-introducción.">
        <span id="anchor-3">
        </span>
        Introducción.
       </a>
       <ul>
        <li>
         <a href="#objetivo." id="toc-objetivo.">
          <span id="anchor-4">
          </span>
          Objetivo.
         </a>
        </li>
        <li>
         <a href="#advertencia." id="toc-advertencia.">
          <span id="anchor-5">
          </span>
          Advertencia.
         </a>
        </li>
        <li>
         <a href="#preguntas." id="toc-preguntas.">
          <span id="anchor-6">
          </span>
          Preguntas.
         </a>
        </li>
       </ul>
      </li>
     </ul>
    </li>
    <li>
     <a href="#parte-2.-centro." id="toc-parte-2.-centro.">
      <span id="anchor-13">
      </span>
      PARTE 2. CENTRO.
     </a>
     <ul>
      <li>
       <a href="#creador." id="toc-creador.">
        <span id="anchor-14">
        </span>
        Creador.
       </a>
       <ul>
        <li>
         <a href="#creatividad-técnica." id="toc-creatividad-técnica.">
          <span id="anchor-15">
          </span>
          Creatividad técnica.
         </a>
         <ul>
          <li>
           <a href="#aplicación." id="toc-aplicación.">
            <span id="anchor-16">
            </span>
            Aplicación.
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="#complejidad-técnica." id="toc-complejidad-técnica.">
          <span id="anchor-17">
          </span>
          Complejidad técnica.
         </a>
        </li>
        <li>
         <a href="#biología." id="toc-biología.">
          <span id="anchor-18">
          </span>
          Biología.
         </a>
        </li>
        <li>
         <a href="#creador.-1" id="toc-creador.-1">
          <span id="anchor-19">
          </span>
          Creador.
         </a>
        </li>
        <li>
         <a href="#evidencia." id="toc-evidencia.">
          <span id="anchor-22">
          </span>
          Evidencia.
         </a>
        </li>
        <li>
         <a href="#reproducción." id="toc-reproducción.">
          <span id="anchor-23">
          </span>
          Reproducción.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#resurrección." id="toc-resurrección.">
        <span id="anchor-24">
        </span>
        Resurrección.
       </a>
       <ul>
        <li>
         <a href="#futuro." id="toc-futuro.">
          <span id="anchor-25">
          </span>
          Futuro.
         </a>
        </li>
        <li>
         <a href="#física." id="toc-física.">
          <span id="anchor-28">
          </span>
          Física.
         </a>
        </li>
        <li>
         <a href="#no-pueden-morir." id="toc-no-pueden-morir.">
          <span id="anchor-33">
          </span>
          No pueden morir.
         </a>
        </li>
        <li>
         <a href="#en-el-cielo." id="toc-en-el-cielo.">
          <span id="anchor-41">
          </span>
          En el cielo.
         </a>
        </li>
        <li>
         <a href="#para-todos." id="toc-para-todos.">
          <span id="anchor-44">
          </span>
          Para todos.
         </a>
        </li>
        <li>
         <a href="#no-ha-sucedido." id="toc-no-ha-sucedido.">
          <span id="anchor-51">
          </span>
          No ha sucedido.
         </a>
        </li>
        <li>
         <a href="#dormiditos." id="toc-dormiditos.">
          <span id="anchor-63">
          </span>
          Dormiditos.
         </a>
        </li>
        <li>
         <a href="#una-tierra-nueva." id="toc-una-tierra-nueva.">
          <span id="anchor-67">
          </span>
          Una tierra nueva.
         </a>
        </li>
        <li>
         <a href="#base-de-la-fe." id="toc-base-de-la-fe.">
          <span id="anchor-73">
          </span>
          Base de la Fe.
         </a>
        </li>
        <li>
         <a href="#posible." id="toc-posible.">
          <span id="anchor-74">
          </span>
          Posible.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#la-tela." id="toc-la-tela.">
        <span id="anchor-88">
        </span>
        La
tela.
       </a>
       <ul>
        <li>
         <a href="#un-negativo." id="toc-un-negativo.">
          <span id="anchor-89">
          </span>
          Un negativo.
         </a>
        </li>
        <li>
         <a href="#realismo-fotográfico." id="toc-realismo-fotográfico.">
          <span id="anchor-90">
          </span>
          Realismo
fotográfico.
         </a>
        </li>
        <li>
         <a href="#microfibras-oxidadas." id="toc-microfibras-oxidadas.">
          <span id="anchor-91">
          </span>
          Microfibras
oxidadas.
         </a>
        </li>
        <li>
         <a href="#información-en-la-imagen." id="toc-información-en-la-imagen.">
          <span id="anchor-92">
          </span>
          Información en la imagen.
         </a>
        </li>
        <li>
         <a href="#luz-ultra-violeta." id="toc-luz-ultra-violeta.">
          <span id="anchor-93">
          </span>
          Luz ultra-violeta.
         </a>
        </li>
        <li>
         <a href="#bilirrubina." id="toc-bilirrubina.">
          <span id="anchor-94">
          </span>
          Bilirrubina.
         </a>
        </li>
        <li>
         <a href="#detalles-forenses." id="toc-detalles-forenses.">
          <span id="anchor-95">
          </span>
          Detalles forenses.
         </a>
        </li>
        <li>
         <a href="#reproducciones." id="toc-reproducciones.">
          <span id="anchor-96">
          </span>
          Reproducciones.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#pasado." id="toc-pasado.">
        <span id="anchor-97">
        </span>
        Pasado.
       </a>
       <ul>
        <li>
         <a href="#métodos." id="toc-métodos.">
          <span id="anchor-98">
          </span>
          Métodos.
         </a>
        </li>
        <li>
         <a href="#coincidencias." id="toc-coincidencias.">
          <span id="anchor-99">
          </span>
          Coincidencias.
         </a>
        </li>
        <li>
         <a href="#personas." id="toc-personas.">
          <span id="anchor-100">
          </span>
          Personas.
         </a>
        </li>
        <li>
         <a href="#suponiendo." id="toc-suponiendo.">
          <span id="anchor-101">
          </span>
          Suponiendo.
         </a>
        </li>
        <li>
         <a href="#textual." id="toc-textual.">
          <span id="anchor-102">
          </span>
          Textual.
         </a>
        </li>
        <li>
         <a href="#en-la-cruz." id="toc-en-la-cruz.">
          <span id="anchor-103">
          </span>
          En la cruz.
         </a>
        </li>
        <li>
         <a href="#creyeron." id="toc-creyeron.">
          <span id="anchor-109">
          </span>
          Creyeron.
         </a>
        </li>
        <li>
         <a href="#seguidores." id="toc-seguidores.">
          <span id="anchor-110">
          </span>
          Seguidores.
         </a>
        </li>
        <li>
         <a href="#muertos." id="toc-muertos.">
          <span id="anchor-111">
          </span>
          Muertos.
         </a>
        </li>
        <li>
         <a href="#crecimiento." id="toc-crecimiento.">
          <span id="anchor-113">
          </span>
          Crecimiento.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#credibilidad." id="toc-credibilidad.">
        <span id="anchor-114">
        </span>
        Credibilidad.
       </a>
       <ul>
        <li>
         <a href="#negación." id="toc-negación.">
          <span id="anchor-116">
          </span>
          Negación.
         </a>
        </li>
        <li>
         <a href="#observaciones." id="toc-observaciones.">
          <span id="anchor-117">
          </span>
          Observaciones.
         </a>
         <ul>
          <li>
           <a href="#fuentes." id="toc-fuentes.">
            <span id="anchor-118">
            </span>
            Fuentes.
           </a>
          </li>
          <li>
           <a href="#conocimiento." id="toc-conocimiento.">
            <span id="anchor-119">
            </span>
            Conocimiento.
           </a>
          </li>
          <li>
           <a href="#interdependientes." id="toc-interdependientes.">
            <span id="anchor-120">
            </span>
            Interdependientes.
           </a>
          </li>
          <li>
           <a href="#vivos." id="toc-vivos.">
            <span id="anchor-121">
            </span>
            Vivos.
           </a>
          </li>
          <li>
           <a href="#jerusalén." id="toc-jerusalén.">
            <span id="anchor-122">
            </span>
            Jerusalén.
           </a>
          </li>
          <li>
           <a href="#igual." id="toc-igual.">
            <span id="anchor-123">
            </span>
            Igual.
           </a>
          </li>
          <li>
           <a href="#nombres." id="toc-nombres.">
            <span id="anchor-124">
            </span>
            Nombres.
           </a>
          </li>
          <li>
           <a href="#mujeres." id="toc-mujeres.">
            <span id="anchor-125">
            </span>
            Mujeres.
           </a>
          </li>
          <li>
           <a href="#grupos." id="toc-grupos.">
            <span id="anchor-126">
            </span>
            Grupos.
           </a>
          </li>
          <li>
           <a href="#sufrieron." id="toc-sufrieron.">
            <span id="anchor-127">
            </span>
            Sufrieron.
           </a>
          </li>
          <li>
           <a href="#cuerpo." id="toc-cuerpo.">
            <span id="anchor-128">
            </span>
            Cuerpo.
           </a>
          </li>
          <li>
           <a href="#vergonzosos." id="toc-vergonzosos.">
            <span id="anchor-129">
            </span>
            Vergonzosos.
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="#aviones." id="toc-aviones.">
          <span id="anchor-130">
          </span>
          Aviones.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#el-creyente." id="toc-el-creyente.">
        <span id="anchor-131">
        </span>
        El Creyente.
       </a>
       <ul>
        <li>
         <a href="#tanakh." id="toc-tanakh.">
          <span id="anchor-141">
          </span>
          Tanakh.
         </a>
        </li>
        <li>
         <a href="#advertencia.-1" id="toc-advertencia.-1">
          <span id="anchor-145">
          </span>
          Advertencia.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#señor." id="toc-señor.">
        <span id="anchor-146">
        </span>
        Señor.
       </a>
       <ul>
        <li>
         <a href="#cielo-de-los-cielos." id="toc-cielo-de-los-cielos.">
          <span id="anchor-157">
          </span>
          Cielo de los cielos.
         </a>
        </li>
        <li>
         <a href="#ángeles." id="toc-ángeles.">
          <span id="anchor-167">
          </span>
          Ángeles.
         </a>
        </li>
        <li>
         <a href="#alas." id="toc-alas.">
          <span id="anchor-193">
          </span>
          Alas.
         </a>
        </li>
        <li>
         <a href="#creación." id="toc-creación.">
          <span id="anchor-209">
          </span>
          Creación.
         </a>
         <ul>
          <li>
           <a href="#día-1." id="toc-día-1.">
            <span id="anchor-215">
            </span>
            Día
1.
           </a>
          </li>
          <li>
           <a href="#día-2." id="toc-día-2.">
            <span id="anchor-218">
            </span>
            Día
2.
           </a>
          </li>
          <li>
           <a href="#día-3." id="toc-día-3.">
            <span id="anchor-221">
            </span>
            Día
3.
           </a>
          </li>
          <li>
           <a href="#día-4." id="toc-día-4.">
            <span id="anchor-222">
            </span>
            Día
4.
           </a>
          </li>
          <li>
           <a href="#día-5." id="toc-día-5.">
            <span id="anchor-223">
            </span>
            Día
5.
           </a>
          </li>
          <li>
           <a href="#día-6." id="toc-día-6.">
            <span id="anchor-224">
            </span>
            Día
6.
           </a>
          </li>
          <li>
           <a href="#fácil." id="toc-fácil.">
            <span id="anchor-226">
            </span>
            Fácil.
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="#lo-anterior." id="toc-lo-anterior.">
          <span id="anchor-227">
          </span>
          Lo anterior.
         </a>
         <ul>
          <li>
           <a href="#elohim." id="toc-elohim.">
            <span id="anchor-228">
            </span>
            Elohim.
           </a>
          </li>
          <li>
           <a href="#yeshua." id="toc-yeshua.">
            <span id="anchor-229">
            </span>
            Yeshua.
           </a>
          </li>
          <li>
           <a href="#ruakh-hakodesh." id="toc-ruakh-hakodesh.">
            <span id="anchor-234">
            </span>
            Ruakh Hakodesh.
           </a>
          </li>
          <li>
           <a href="#los-hijos-de-elohim." id="toc-los-hijos-de-elohim.">
            <span id="anchor-235">
            </span>
            Los Hijos de Elohim.
           </a>
          </li>
          <li>
           <a href="#los-ángeles." id="toc-los-ángeles.">
            <span id="anchor-237">
            </span>
            Los ángeles.
           </a>
          </li>
          <li>
           <a href="#el-satán-y-compañía." id="toc-el-satán-y-compañía.">
            <span id="anchor-240">
            </span>
            El Satán y compañía.
           </a>
          </li>
          <li>
           <a href="#los-alados." id="toc-los-alados.">
            <span id="anchor-241">
            </span>
            Los Alados.
           </a>
          </li>
          <li>
           <a href="#las-estrellas." id="toc-las-estrellas.">
            <span id="anchor-242">
            </span>
            Las estrellas.
           </a>
          </li>
          <li>
           <a href="#una-parte-de-los-ejércitos-del-cielo." id="toc-una-parte-de-los-ejércitos-del-cielo.">
            <span id="anchor-244">
            </span>
            Una parte de los ejércitos del Cielo.
           </a>
          </li>
          <li>
           <a href="#cielo-de-los-cielos.-1" id="toc-cielo-de-los-cielos.-1">
            <span id="anchor-246">
            </span>
            Cielo de
los Cielos.
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="#coherencia." id="toc-coherencia.">
          <span id="anchor-249">
          </span>
          Coherencia.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#salvador." id="toc-salvador.">
        <span id="anchor-250">
        </span>
        Salvador.
       </a>
       <ul>
        <li>
         <a href="#vida." id="toc-vida.">
          <span id="anchor-254">
          </span>
          Vida.
         </a>
        </li>
        <li>
         <a href="#muerte." id="toc-muerte.">
          <span id="anchor-267">
          </span>
          Muerte.
         </a>
        </li>
        <li>
         <a href="#libertador." id="toc-libertador.">
          <span id="anchor-279">
          </span>
          Libertador.
         </a>
        </li>
        <li>
         <a href="#principados-y-potestades." id="toc-principados-y-potestades.">
          <span id="anchor-301">
          </span>
          Principados y potestades.
         </a>
        </li>
        <li>
         <a href="#una-de-dos." id="toc-una-de-dos.">
          <span id="anchor-327">
          </span>
          Una de dos.
         </a>
        </li>
        <li>
         <a href="#dormiditos.-1" id="toc-dormiditos.-1">
          <span id="anchor-337">
          </span>
          Dormiditos.
         </a>
        </li>
        <li>
         <a href="#todos." id="toc-todos.">
          <span id="anchor-353">
          </span>
          Todos.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#justo." id="toc-justo.">
        <span id="anchor-374">
        </span>
        Justo.
       </a>
       <ul>
        <li>
         <a href="#justicia." id="toc-justicia.">
          <span id="anchor-375">
          </span>
          Justicia.
         </a>
        </li>
        <li>
         <a href="#el-bueno." id="toc-el-bueno.">
          <span id="anchor-385">
          </span>
          El bueno.
         </a>
        </li>
        <li>
         <a href="#lo-bueno." id="toc-lo-bueno.">
          <span id="anchor-406">
          </span>
          Lo bueno.
         </a>
        </li>
        <li>
         <a href="#los-malos." id="toc-los-malos.">
          <span id="anchor-414">
          </span>
          Los malos.
         </a>
        </li>
        <li>
         <a href="#fuego." id="toc-fuego.">
          <span id="anchor-422">
          </span>
          Fuego.
         </a>
         <ul>
          <li>
           <a href="#espiritual." id="toc-espiritual.">
            <span id="anchor-441">
            </span>
            Espiritual.
           </a>
          </li>
          <li>
           <a href="#físico." id="toc-físico.">
            <span id="anchor-456">
            </span>
            Físico.
           </a>
          </li>
         </ul>
        </li>
       </ul>
      </li>
      <li>
       <a href="#todos.-1" id="toc-todos.-1">
        <span id="anchor-471">
        </span>
        Todos.
       </a>
       <ul>
        <li>
         <a href="#infierno." id="toc-infierno.">
          <span id="anchor-472">
          </span>
          Infierno.
         </a>
         <ul>
          <li>
           <a href="#jesucristo." id="toc-jesucristo.">
            <span id="anchor-473">
            </span>
            Jesucristo.
           </a>
           <ul>
            <li>
             <a href="#hadés.-vocablo-g86." id="toc-hadés.-vocablo-g86.">
              <span id="anchor-474">
              </span>
              Hadés. Vocablo G86.
             </a>
            </li>
            <li>
             <a href="#ge-henná.-vocablo-g1067." id="toc-ge-henná.-vocablo-g1067.">
              <span id="anchor-475">
              </span>
              Ge-Henná.
Vocablo G1067.
             </a>
            </li>
           </ul>
          </li>
         </ul>
        </li>
        <li>
         <a href="#sheol.-vocablo-h7585." id="toc-sheol.-vocablo-h7585.">
          <span id="anchor-476">
          </span>
          Sheol.
Vocablo H7585.
         </a>
         <ul>
          <li>
           <a href="#todos.-2" id="toc-todos.-2">
            <span id="anchor-477">
            </span>
            Todos.
           </a>
          </li>
          <li>
           <a href="#levantar." id="toc-levantar.">
            <span id="anchor-482">
            </span>
            Levantar.
           </a>
          </li>
          <li>
           <a href="#nada." id="toc-nada.">
            <span id="anchor-488">
            </span>
            Nada.
           </a>
          </li>
          <li>
           <a href="#diferente." id="toc-diferente.">
            <span id="anchor-495">
            </span>
            Diferente.
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="#ge-henná.-vocablo-g1067.-1" id="toc-ge-henná.-vocablo-g1067.-1">
          <span id="anchor-504">
          </span>
          Ge-Henná. Vocablo G1067.
         </a>
         <ul>
          <li>
           <a href="#es-de-fuego." id="toc-es-de-fuego.">
            <span id="anchor-505">
            </span>
            Es de fuego.
           </a>
          </li>
          <li>
           <a href="#no-se-apaga." id="toc-no-se-apaga.">
            <span id="anchor-509">
            </span>
            No se apaga.
           </a>
          </li>
          <li>
           <a href="#vida.-1" id="toc-vida.-1">
            <span id="anchor-512">
            </span>
            Vida.
           </a>
          </li>
          <li>
           <a href="#reino-de-dios." id="toc-reino-de-dios.">
            <span id="anchor-516">
            </span>
            Reino de Dios.
           </a>
          </li>
          <li>
           <a href="#eterno." id="toc-eterno.">
            <span id="anchor-525">
            </span>
            Eterno.
           </a>
          </li>
          <li>
           <a href="#todos.-3" id="toc-todos.-3">
            <span id="anchor-528">
            </span>
            Todos.
           </a>
          </li>
          <li>
           <a href="#juicio." id="toc-juicio.">
            <span id="anchor-530">
            </span>
            Juicio.
           </a>
          </li>
          <li>
           <a href="#antes." id="toc-antes.">
            <span id="anchor-532">
            </span>
            Antes.
           </a>
          </li>
          <li>
           <a href="#después." id="toc-después.">
            <span id="anchor-536">
            </span>
            Después.
           </a>
          </li>
          <li>
           <a href="#el-gusano-no-muere." id="toc-el-gusano-no-muere.">
            <span id="anchor-538">
            </span>
            El gusano no muere.
           </a>
          </li>
          <li>
           <a href="#destructor." id="toc-destructor.">
            <span id="anchor-546">
            </span>
            Destructor.
           </a>
          </li>
          <li>
           <a href="#diferente.-1" id="toc-diferente.-1">
            <span id="anchor-551">
            </span>
            Diferente.
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="#muerte-eterna." id="toc-muerte-eterna.">
          <span id="anchor-563">
          </span>
          Muerte Eterna.
         </a>
        </li>
        <li>
         <a href="#castigo-eterno." id="toc-castigo-eterno.">
          <span id="anchor-564">
          </span>
          Castigo eterno.
         </a>
        </li>
        <li>
         <a href="#lago-de-fuego." id="toc-lago-de-fuego.">
          <span id="anchor-567">
          </span>
          Lago de fuego.
         </a>
        </li>
        <li>
         <a href="#excluidos." id="toc-excluidos.">
          <span id="anchor-568">
          </span>
          Excluidos.
         </a>
        </li>
        <li>
         <a href="#el-rico-y-el-pobre-lázaro." id="toc-el-rico-y-el-pobre-lázaro.">
          <span id="anchor-577">
          </span>
          El rico
y el pobre Lázaro.
         </a>
        </li>
        <li>
         <a href="#libre-albedrío." id="toc-libre-albedrío.">
          <span id="anchor-581">
          </span>
          Libre albedrío.
         </a>
        </li>
        <li>
         <a href="#biblia." id="toc-biblia.">
          <span id="anchor-607">
          </span>
          Biblia.
         </a>
         <ul>
          <li>
           <a href="#adam." id="toc-adam.">
            <span id="anchor-609">
            </span>
            Adam.
           </a>
          </li>
          <li>
           <a href="#abraham." id="toc-abraham.">
            <span id="anchor-615">
            </span>
            Abraham.
           </a>
          </li>
          <li>
           <a href="#moisés." id="toc-moisés.">
            <span id="anchor-627">
            </span>
            Moisés.
           </a>
          </li>
          <li>
           <a href="#salmistas." id="toc-salmistas.">
            <span id="anchor-641">
            </span>
            Salmistas.
           </a>
          </li>
          <li>
           <a href="#isaías." id="toc-isaías.">
            <span id="anchor-675">
            </span>
            Isaías.
           </a>
          </li>
          <li>
           <a href="#jeremías." id="toc-jeremías.">
            <span id="anchor-688">
            </span>
            Jeremías.
           </a>
          </li>
          <li>
           <a href="#ezequiel." id="toc-ezequiel.">
            <span id="anchor-696">
            </span>
            Ezequiel.
           </a>
          </li>
          <li>
           <a href="#daniel." id="toc-daniel.">
            <span id="anchor-705">
            </span>
            Daniel.
           </a>
          </li>
          <li>
           <a href="#los-12." id="toc-los-12.">
            <span id="anchor-710">
            </span>
            Los
12.
           </a>
          </li>
          <li>
           <a href="#jesucristo.-1" id="toc-jesucristo.-1">
            <span id="anchor-738">
            </span>
            Jesucristo.
           </a>
          </li>
          <li>
           <a href="#pablo." id="toc-pablo.">
            <span id="anchor-754">
            </span>
            Pablo.
           </a>
          </li>
          <li>
           <a href="#pedro." id="toc-pedro.">
            <span id="anchor-783">
            </span>
            Pedro.
           </a>
          </li>
          <li>
           <a href="#juan." id="toc-juan.">
            <span id="anchor-796">
            </span>
            Juan.
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="#escrito-está." id="toc-escrito-está.">
          <span id="anchor-805">
          </span>
          Escrito está.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#el-regreso." id="toc-el-regreso.">
        <span id="anchor-840">
        </span>
        El Regreso.
       </a>
       <ul>
        <li>
         <a href="#advertencia.-2" id="toc-advertencia.-2">
          <span id="anchor-846">
          </span>
          Advertencia.
         </a>
        </li>
        <li>
         <a href="#jesucristo.-2" id="toc-jesucristo.-2">
          <span id="anchor-847">
          </span>
          Jesucristo.
         </a>
        </li>
        <li>
         <a href="#paz." id="toc-paz.">
          <span id="anchor-860">
          </span>
          Paz.
         </a>
        </li>
        <li>
         <a href="#templo." id="toc-templo.">
          <span id="anchor-869">
          </span>
          Templo.
         </a>
        </li>
        <li>
         <a href="#mil-años." id="toc-mil-años.">
          <span id="anchor-874">
          </span>
          Mil años.
         </a>
        </li>
        <li>
         <a href="#section" id="toc-section">
          <span id="anchor-913">
          </span>
          144.000
         </a>
        </li>
        <li>
         <a href="#la-ira-de-dios." id="toc-la-ira-de-dios.">
          <span id="anchor-937">
          </span>
          La Ira de Dios.
         </a>
        </li>
        <li>
         <a href="#arrebatados." id="toc-arrebatados.">
          <span id="anchor-973">
          </span>
          Arrebatados.
         </a>
        </li>
        <li>
         <a href="#gran-tribulación." id="toc-gran-tribulación.">
          <span id="anchor-1001">
          </span>
          Gran Tribulación.
         </a>
        </li>
        <li>
         <a href="#horror-eterno." id="toc-horror-eterno.">
          <span id="anchor-1043">
          </span>
          Horror Eterno.
         </a>
        </li>
        <li>
         <a href="#la-abominación-de-asolamiento." id="toc-la-abominación-de-asolamiento.">
          La Abominación de
Asolamiento.
         </a>
         <ul>
          <li>
           <a href="#el-momento-final." id="toc-el-momento-final.">
            <span id="anchor-1053">
            </span>
            El momento final.
           </a>
          </li>
          <li>
           <a href="#semanas." id="toc-semanas.">
            <span id="anchor-1066">
            </span>
            70 Semanas.
           </a>
          </li>
          <li>
           <a href="#norte-y-sur." id="toc-norte-y-sur.">
            <span id="anchor-1071">
            </span>
            Norte y Sur.
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="#israel." id="toc-israel.">
          <span id="anchor-1077">
          </span>
          Israel.
         </a>
        </li>
        <li>
         <a href="#detalles." id="toc-detalles.">
          <span id="anchor-1128">
          </span>
          Detalles.
         </a>
         <ul>
          <li>
           <a href="#el-parto." id="toc-el-parto.">
            <span id="anchor-1129">
            </span>
            El parto.
           </a>
          </li>
          <li>
           <a href="#mensajeros." id="toc-mensajeros.">
            <span id="anchor-1136">
            </span>
            7 mensajeros.
           </a>
          </li>
          <li>
           <a href="#babilonia." id="toc-babilonia.">
            <span id="anchor-1139">
            </span>
            Babilonia.
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="#reinado." id="toc-reinado.">
          <span id="anchor-1142">
          </span>
          Reinado.
         </a>
        </li>
       </ul>
      </li>
     </ul>
    </li>
    <li>
     <a href="#parte-3.-periferia." id="toc-parte-3.-periferia.">
      <span id="anchor-1146">
      </span>
      PARTE 3. PERIFERIA.
     </a>
     <ul>
      <li>
       <a href="#creencias." id="toc-creencias.">
        <span id="anchor-1147">
        </span>
        Creencias.
       </a>
       <ul>
        <li>
         <a href="#principios." id="toc-principios.">
          <span id="anchor-1148">
          </span>
          Principios.
         </a>
        </li>
        <li>
         <a href="#evidencia.-1" id="toc-evidencia.-1">
          <span id="anchor-1150">
          </span>
          Evidencia.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#la-verdad." id="toc-la-verdad.">
        <span id="anchor-1151">
        </span>
        La Verdad.
       </a>
       <ul>
        <li>
         <a href="#la-búsqueda." id="toc-la-búsqueda.">
          <span id="anchor-1157">
          </span>
          La búsqueda.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#sobrenatural." id="toc-sobrenatural.">
        <span id="anchor-1158">
        </span>
        Sobrenatural.
       </a>
      </li>
      <li>
       <a href="#ciencia." id="toc-ciencia.">
        <span id="anchor-1159">
        </span>
        Ciencia.
       </a>
      </li>
      <li>
       <a href="#distancias." id="toc-distancias.">
        <span id="anchor-1161">
        </span>
        Distancias.
       </a>
      </li>
      <li>
       <a href="#corrimiento-al-rojo." id="toc-corrimiento-al-rojo.">
        <span id="anchor-1162">
        </span>
        Corrimiento al Rojo.
       </a>
      </li>
      <li>
       <a href="#radioactivos." id="toc-radioactivos.">
        <span id="anchor-1163">
        </span>
        Radioactivos.
       </a>
      </li>
      <li>
       <a href="#helio." id="toc-helio.">
        <span id="anchor-1164">
        </span>
        Helio.
       </a>
      </li>
      <li>
       <a href="#fábricas." id="toc-fábricas.">
        <span id="anchor-1165">
        </span>
        Fábricas.
       </a>
      </li>
      <li>
       <a href="#monómeros." id="toc-monómeros.">
        <span id="anchor-1166">
        </span>
        Monómeros.
       </a>
       <ul>
        <li>
         <a href="#las-letras." id="toc-las-letras.">
          <span id="anchor-1167">
          </span>
          Las letras.
         </a>
        </li>
        <li>
         <a href="#guantes." id="toc-guantes.">
          <span id="anchor-1168">
          </span>
          Guantes.
         </a>
        </li>
        <li>
         <a href="#reacciones." id="toc-reacciones.">
          <span id="anchor-1169">
          </span>
          Reacciones.
         </a>
        </li>
        <li>
         <a href="#fácil.-1" id="toc-fácil.-1">
          <span id="anchor-1170">
          </span>
          Fácil.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#polímeros." id="toc-polímeros.">
        <span id="anchor-1171">
        </span>
        Polímeros.
       </a>
      </li>
      <li>
       <a href="#programador." id="toc-programador.">
        <span id="anchor-1172">
        </span>
        Programador.
       </a>
      </li>
      <li>
       <a href="#el-cuento-del-sapo." id="toc-el-cuento-del-sapo.">
        <span id="anchor-1175">
        </span>
        El cuento del sapo.
       </a>
      </li>
      <li>
       <a href="#arboles." id="toc-arboles.">
        <span id="anchor-1176">
        </span>
        Arboles.
       </a>
      </li>
      <li>
       <a href="#carbón." id="toc-carbón.">
        <span id="anchor-1177">
        </span>
        Carbón.
       </a>
      </li>
      <li>
       <a href="#tectónicas." id="toc-tectónicas.">
        <span id="anchor-1178">
        </span>
        Tectónicas.
       </a>
       <ul>
        <li>
         <a href="#fosas." id="toc-fosas.">
          <span id="anchor-1179">
          </span>
          Fosas.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#dorsales." id="toc-dorsales.">
        <span id="anchor-1180">
        </span>
        Dorsales.
       </a>
      </li>
      <li>
       <a href="#hidroplacas." id="toc-hidroplacas.">
        <span id="anchor-1181">
        </span>
        Hidroplacas.
       </a>
       <ul>
        <li>
         <a href="#otro-cuento." id="toc-otro-cuento.">
          <span id="anchor-1182">
          </span>
          Otro cuento.
         </a>
        </li>
        <li>
         <a href="#condiciones." id="toc-condiciones.">
          <span id="anchor-1183">
          </span>
          Condiciones.
         </a>
        </li>
        <li>
         <a href="#el-proceso." id="toc-el-proceso.">
          <span id="anchor-1184">
          </span>
          El proceso.
         </a>
        </li>
        <li>
         <a href="#en-dos." id="toc-en-dos.">
          <span id="anchor-1185">
          </span>
          En
dos.
         </a>
        </li>
        <li>
         <a href="#una-comparación." id="toc-una-comparación.">
          <span id="anchor-1186">
          </span>
          Una comparación.
         </a>
        </li>
        <li>
         <a href="#fase-de-ruptura." id="toc-fase-de-ruptura.">
          <span id="anchor-1187">
          </span>
          Fase de Ruptura.
         </a>
         <ul>
          <li>
           <a href="#agua." id="toc-agua.">
            <span id="anchor-1188">
            </span>
            Agua.
           </a>
          </li>
          <li>
           <a href="#objetos." id="toc-objetos.">
            <span id="anchor-1189">
            </span>
            Objetos.
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="#fase-de-inundación." id="toc-fase-de-inundación.">
          <span id="anchor-1190">
          </span>
          Fase de Inundación.
         </a>
         <ul>
          <li>
           <a href="#granizo." id="toc-granizo.">
            <span id="anchor-1191">
            </span>
            Granizo.
           </a>
          </li>
          <li>
           <a href="#descargas." id="toc-descargas.">
            <span id="anchor-1192">
            </span>
            Descargas.
           </a>
          </li>
          <li>
           <a href="#estratos." id="toc-estratos.">
            <span id="anchor-1193">
            </span>
            Estratos.
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="#fase-de-desplazamiento." id="toc-fase-de-desplazamiento.">
          <span id="anchor-1194">
          </span>
          Fase de
Desplazamiento.
         </a>
         <ul>
          <li>
           <a href="#dorsal." id="toc-dorsal.">
            <span id="anchor-1195">
            </span>
            Dorsal.
           </a>
          </li>
          <li>
           <a href="#magnéticos." id="toc-magnéticos.">
            <span id="anchor-1196">
            </span>
            Magnéticos.
           </a>
          </li>
          <li>
           <a href="#separadas." id="toc-separadas.">
            <span id="anchor-1197">
            </span>
            Separadas.
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="#fase-de-recuperación." id="toc-fase-de-recuperación.">
          <span id="anchor-1198">
          </span>
          Fase de
Recuperación.
         </a>
         <ul>
          <li>
           <a href="#magma." id="toc-magma.">
            <span id="anchor-1199">
            </span>
            Magma.
           </a>
          </li>
          <li>
           <a href="#sismos." id="toc-sismos.">
            <span id="anchor-1200">
            </span>
            Sismos.
           </a>
          </li>
          <li>
           <a href="#campo." id="toc-campo.">
            <span id="anchor-1201">
            </span>
            Campo.
           </a>
          </li>
          <li>
           <a href="#abultado-y-sumido." id="toc-abultado-y-sumido.">
            <span id="anchor-1202">
            </span>
            Abultado y Sumido.
           </a>
          </li>
          <li>
           <a href="#fosas.-1" id="toc-fosas.-1">
            <span id="anchor-1203">
            </span>
            Fosas.
           </a>
          </li>
          <li>
           <a href="#montañas." id="toc-montañas.">
            <span id="anchor-1204">
            </span>
            Montañas.
           </a>
          </li>
          <li>
           <a href="#discordancia." id="toc-discordancia.">
            <span id="anchor-1205">
            </span>
            Discordancia.
           </a>
          </li>
          <li>
           <a href="#hidrocarburos." id="toc-hidrocarburos.">
            <span id="anchor-1206">
            </span>
            Hidrocarburos.
           </a>
          </li>
          <li>
           <a href="#cañones." id="toc-cañones.">
            <span id="anchor-1207">
            </span>
            Cañones.
           </a>
          </li>
          <li>
           <a href="#mesetas." id="toc-mesetas.">
            <span id="anchor-1208">
            </span>
            Mesetas.
           </a>
          </li>
          <li>
           <a href="#butte." id="toc-butte.">
            <span id="anchor-1209">
            </span>
            Butte.
           </a>
          </li>
          <li>
           <a href="#rotación-de-latitud." id="toc-rotación-de-latitud.">
            <span id="anchor-1210">
            </span>
            Rotación de latitud.
           </a>
          </li>
          <li>
           <a href="#meridiano-90." id="toc-meridiano-90.">
            <span id="anchor-1211">
            </span>
            Meridiano 90.
           </a>
          </li>
          <li>
           <a href="#sigue." id="toc-sigue.">
            <span id="anchor-1212">
            </span>
            Sigue.
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="#diferencias." id="toc-diferencias.">
          <span id="anchor-1213">
          </span>
          Diferencias.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#la-parejita." id="toc-la-parejita.">
        <span id="anchor-1226">
        </span>
        La parejita.
       </a>
       <ul>
        <li>
         <a href="#reproducción.-1" id="toc-reproducción.-1">
          <span id="anchor-1227">
          </span>
          Reproducción.
         </a>
        </li>
        <li>
         <a href="#sin-trampa." id="toc-sin-trampa.">
          <span id="anchor-1228">
          </span>
          Sin trampa.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#dinosaurios." id="toc-dinosaurios.">
        <span id="anchor-1229">
        </span>
        Dinosaurios.
       </a>
       <ul>
        <li>
         <a href="#bíblica." id="toc-bíblica.">
          <span id="anchor-1230">
          </span>
          Bíblica.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#taxonomía." id="toc-taxonomía.">
        <span id="anchor-1233">
        </span>
        Taxonomía.
       </a>
       <ul>
        <li>
         <a href="#siglo-18." id="toc-siglo-18.">
          <span id="anchor-1234">
          </span>
          Siglo 18.
         </a>
        </li>
        <li>
         <a href="#bíblica.-1" id="toc-bíblica.-1">
          <span id="anchor-1235">
          </span>
          Bíblica.
         </a>
        </li>
        <li>
         <a href="#pocos." id="toc-pocos.">
          <span id="anchor-1236">
          </span>
          Pocos.
         </a>
        </li>
        <li>
         <a href="#adaptación." id="toc-adaptación.">
          <span id="anchor-1237">
          </span>
          Adaptación.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#arca-de-noé." id="toc-arca-de-noé.">
        <span id="anchor-1238">
        </span>
        Arca de Noé.
       </a>
       <ul>
        <li>
         <a href="#section-1" id="toc-section-1">
          <span id="anchor-1239">
          </span>
          1948.
         </a>
        </li>
        <li>
         <a href="#section-2" id="toc-section-2">
          <span id="anchor-1240">
          </span>
          2014.
         </a>
        </li>
        <li>
         <a href="#los-hechos." id="toc-los-hechos.">
          <span id="anchor-1241">
          </span>
          Los hechos.
         </a>
        </li>
        <li>
         <a href="#logística." id="toc-logística.">
          <span id="anchor-1242">
          </span>
          Logística.
         </a>
        </li>
        <li>
         <a href="#primero-lo-primero." id="toc-primero-lo-primero.">
          <span id="anchor-1243">
          </span>
          Primero lo primero.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#historia." id="toc-historia.">
        <span id="anchor-1244">
        </span>
        Historia.
       </a>
      </li>
      <li>
       <a href="#la-columna." id="toc-la-columna.">
        <span id="anchor-1245">
        </span>
        La columna.
       </a>
      </li>
      <li>
       <a href="#genealogías." id="toc-genealogías.">
        <span id="anchor-1250">
        </span>
        Genealogías.
       </a>
      </li>
      <li>
       <a href="#éridu." id="toc-éridu.">
        <span id="anchor-1251">
        </span>
        Éridu.
       </a>
      </li>
      <li>
       <a href="#egipto-monumental." id="toc-egipto-monumental.">
        <span id="anchor-1252">
        </span>
        Egipto monumental.
       </a>
      </li>
      <li>
       <a href="#ur." id="toc-ur.">
        <span id="anchor-1255">
        </span>
        Ur.
       </a>
      </li>
      <li>
       <a href="#sodoma-y-gomorra." id="toc-sodoma-y-gomorra.">
        <span id="anchor-1256">
        </span>
        Sodoma y Gomorra.
       </a>
      </li>
      <li>
       <a href="#imhotep." id="toc-imhotep.">
        <span id="anchor-1257">
        </span>
        Imhotep.
       </a>
      </li>
      <li>
       <a href="#nuweiba." id="toc-nuweiba.">
        <span id="anchor-1259">
        </span>
        Nuweiba.
       </a>
      </li>
      <li>
       <a href="#jabal-maqla." id="toc-jabal-maqla.">
        <span id="anchor-1261">
        </span>
        Jabal-Maqla.
       </a>
      </li>
      <li>
       <a href="#sincronizando-egipto." id="toc-sincronizando-egipto.">
        <span id="anchor-1265">
        </span>
        Sincronizando Egipto.
       </a>
      </li>
      <li>
       <a href="#probabilidad." id="toc-probabilidad.">
        <span id="anchor-1266">
        </span>
        Probabilidad.
       </a>
       <ul>
        <li>
         <a href="#probabilidad-fundamental." id="toc-probabilidad-fundamental.">
          <span id="anchor-1267">
          </span>
          Probabilidad fundamental.
         </a>
        </li>
        <li>
         <a href="#probabilidad-estadística." id="toc-probabilidad-estadística.">
          <span id="anchor-1268">
          </span>
          Probabilidad estadística.
         </a>
        </li>
        <li>
         <a href="#creaciones." id="toc-creaciones.">
          <span id="anchor-1269">
          </span>
          Creaciones.
         </a>
        </li>
        <li>
         <a href="#cuánticas." id="toc-cuánticas.">
          <span id="anchor-1270">
          </span>
          Cuánticas.
         </a>
        </li>
        <li>
         <a href="#populares." id="toc-populares.">
          <span id="anchor-1271">
          </span>
          Populares.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#gravemente-absurda." id="toc-gravemente-absurda.">
        <span id="anchor-1272">
        </span>
        Gravemente absurda.
       </a>
      </li>
      <li>
       <a href="#campos." id="toc-campos.">
        <span id="anchor-1273">
        </span>
        Campos.
       </a>
      </li>
      <li>
       <a href="#extraterrestres." id="toc-extraterrestres.">
        <span id="anchor-1274">
        </span>
        Extraterrestres.
       </a>
      </li>
      <li>
       <a href="#determinismo." id="toc-determinismo.">
        <span id="anchor-1275">
        </span>
        Determinismo.
       </a>
      </li>
     </ul>
    </li>
    <li>
     <a href="#parte-4.-testimonio." id="toc-parte-4.-testimonio.">
      <span id="anchor-1276">
      </span>
      PARTE 4. TESTIMONIO.
     </a>
     <ul>
      <li>
       <a href="#mi-testimonio." id="toc-mi-testimonio.">
        <span id="anchor-1277">
        </span>
        Mi testimonio.
       </a>
      </li>
      <li>
       <a href="#y-usted" id="toc-y-usted">
        <span id="anchor-1278">
        </span>
        ¿Y
Usted?
       </a>
      </li>
     </ul>
    </li>
    <li>
     <a href="#referencias-bíblicas" id="toc-referencias-bíblicas">
      <span id="anchor-1286">
      </span>
      Referencias Bíblicas
     </a>
    </li>
   </ul>
  </nav>
 </body>
</html>
