<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/fontawesome.min.css">
<link rel="stylesheet" href="code/tc_styles.css">
</head>
<body>

<div class="cl_top_nav">
  <a href="javascript:void(0);" class="cl_top_elem" id="id_side_menu" onclick="toggle_side_menu('id_side_nav')">
    <i class="fa fa-caret-down"></i></a>
  <a href="home.html" class="cl_top_elem" onclick="close_top_menu()" id="id_home">
    <i class="fa fa-home"></i> TodaCarne</a>
  <a href="book.html" class="cl_top_elem" onclick="close_top_menu()">
    <i class='fas fa-book'></i> Libro</a>
  <a href="download.html" class="cl_top_elem" onclick="close_top_menu()">
    <i class='fas fa-download'></i> Bajar</a>
  <a href="media.html" class="cl_top_elem" onclick="close_top_menu()">
    <i class='fas fa-play'></i> Medios</a>
  <a href="points.html" class="cl_top_elem" onclick="close_top_menu()">
    <i class="fa-solid fa-thumbtack"></i> Puntos</a>
  <a href="info.html" class="cl_top_elem" onclick="close_top_menu()">
    <i class="fas fa-circle-info"></i> Info</a>
  <a href="donate.html" class="cl_top_elem" onclick="close_top_menu()">
    <i class="fas fa-hand-holding-usd"></i> Propinas</a>
  <a href="javascript:void(0);" class="cl_top_elem" id="id_top_menu" onclick="toggle_top_menu()">
    <i class="fa fa-bars"></i>
  </a>
</div>

