
{{> top}}
<div id="id_content">
  <div class="cl_main_content col-12 col-m12 home_text">

    <h1 class="big_title">TodaCarne</h1>    
    <div class="home_text">
    
    <p><strong>Compruebe usted mismo que la biblia ni es para locos ni enseña lo que le dijeron.</strong></p>
    
    <p>Este <a href="book.html">libro</a> es completamente GRATIS.</p>
    <p>Puede <a href="book.html">leerlo</a> en linea o <a href="download.html">descargarlo</a> en PDF.</p>
    <p>Puede ver algunos <a href="media.html">videos</a> introductorios antes de leerlo.</p>
    <p>Si tiene una pregunta, CUALQUIER <a href="info.html">pregunta</a>, también puede <a href="info.html">hacerla</a>.</p>
    <p>Si quiere un resumen puede ver el <a href="schema.html">esquema</a> del tema principal: la biblia habla de una salvación para TODA CARNE.</p>
    <p>Y si después le da la gana de dar una <a href="tips.html">propina</a> también puede hacerlo.</p>
      
    </div>
  </div>
  <div class="home_footer">
  {{> footer}}
  </div>
</div>
{{> bottom}}
