
{{> top}}
<div id="id_content">
  <div class="cl_main_content col-12 col-m12">

  <h1 class="big_title">Idioma</h1>

  <h1 class="in_center">
  <a href="../en/module_creator_resu.html">English</a><br>
  <a href="../es/module_creator_resu.html">Español</a><br>
  </h1>
  
  </div>
</div>
{{> bottom}}

