
{{> top}}

<div id="id_exam_content" class="exam_content">
	<div id="id_exam_top_content"></div>
	<div id="id_exam_name" class="big_title"></div>
    <div id="id_exam_all_questions"></div>  
	<div class="end_of_content"></div>
</div>

<script type="text/javascript" src="../code/qrcode.js"></script>

<script type="module">

import * as es_lang from '../code/tc_lang_es.js';
import * as en_txt from '../quest_modules/creator_resurrection/es_text.js';
import * as cont_db from '../quest_modules/creator_resurrection/cont_db.js';
import * as exm from '../code/tc_exam.js';

es_lang.init_es_module();
en_txt.init_es_poll_txt();
exm.init_page_exam(cont_db.init_exam_database);

</script>

{{> bottom}}

