<!DOCTYPE html>
<html>
<head>
{{#with_gstats}}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KBJN1N7HKP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KBJN1N7HKP');
</script>

<!--
<script src="https://apis.google.com/js/api:client.js?onload=on_load_check"></script>
<script>
function on_load_check(){
	console.log('CALLING on_load_check.');
	try{
		gapi.load('auth2', (pm) => {
			gapi.auth2.init().then((pm2) => {
				const inst_auth = gapi.auth2.getAuthInstance();
				const is_sgin = inst_auth.isSignedIn.get();
				if(is_sgin){
					console.log('ESTA_LOGEADO_EN_GOOGLE');
				} else {
					console.log('no_esta_logeado_en_google');
				}
			});
		});
	} catch(error) {
		console.error(error);
	}
}
</script>
-->

<!--
<script type="module" src="../code/ba_gapi.js"></script>
<script src="https://apis.google.com/js/api:client.js"></script>
<script src="https://apis.google.com/js/api:client.js"></script>
<script>
	console.log('Calling CHECK_GOOSIGN_CODE.');
	try{
		await gapi.load('auth2');
		const inst_auth = await gapi.getAuthInstance();
		const is_sgin = await inst_auth.isSignedIn.get();
		if(is_sgin){
			console.log('CHECK_GOOSIGN_CODE. HAS GOOGLE SIGNED IN');
		} else {
			console.log('CHECK_GOOSIGN_CODE. no google signed in');
		}
	} catch(error) {
		console.error(error);
	}
</script>
-->


<script src="https://accounts.google.com/gsi/client/2/js/api.js"></script>

{{/with_gstats}}
<!-- END OF NOT INCLUDED CODE IF NOT with_gstats -->

<script src="https://accounts.google.com/gsi/client" async defer></script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>toda-carne.github.io</title>
<meta name="author" content="Jose Luis Quiroga">
<link rel="stylesheet" href="../code/bq_styles.css">
</head>
<body>

<div class="adapt_menu_bar">
	<div id="id_top_menu" class="adapt_menu">
		<a id="id_home" class="adapt_item" title="Inicio"><i class="has_icons icon-bible"></i></a>
		<div id="id_exam_undo_button" class="adapt_item" title="Deshacer" ><i class='has_icons icon-undo'></i></div>
		<div class="adapt_item no_padding" title="Usuario"><img id="id_top_user_picture" class="img_user" src="../img/user.jpg"></div>
		<div id="id_top_user_name" class="adapt_item" title="Nombre Usuario">Invitado</div>
		<div id="id_exam_save_button" class="adapt_item" title="Guardar" ><i class='has_icons icon-save'></i>Guardar</div>
		<div id="id_exam_open_button" class="adapt_item" title="Abrir" ><i class='has_icons icon-open'></i>Abrir</div>
		<div id="id_exam_delete_button" class="adapt_item" title="Borrar" ><i class='has_icons icon-delete'></i></div>
		<div id="id_exam_qmodus_button" class="adapt_item" title="Modulos"><i class="has_icons icon-schema"></i></i></div>
		<a class="adapt_item" title="Idioma" href="language.html"><i class="has_icons icon-language"></i></a>
	</div>
	<div id="id_pop_menu" class="adapt_menu_pop">
		<i class="has_icons icon-menu"></i>
	</div>		
</div>

