
/* 
 * @import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css');
 * @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'); 
 * 
 * @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
 * @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
 * 
 */


* {
	box-sizing: border-box;
	/* border: 1px solid red; */
}

:root {
	--square_side: min(24vw, 31vh);
	--two_sides: calc-size(2 * var(--square_side));
}

@font-face {
	font-family: tc_icons_font;
	src: url(../fonts/bq_icons.ttf);
}

.has_icons {
	font-family: tc_icons_font;
	font-size: 1.2em;
	/*border: 1px solid red;*/
}

h1, h2, h3, h4, h5, h6 {
	scroll-margin-top: 15vh;
}

/*.fa,
 * .fas,
 * .fa-solid {
 *  border: 1px solid red;
 * }*/

.has_icons {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: var(--fa-display, inline-block);
	font-style: normal;
	font-variant: normal;
	/*line-height: 1;*/
	line-height: inherit; 
	text-rendering: auto; 
}

.icon-side-menu::before { content: "\0061"; }
.icon-book::before { content: "\0062"; }
.icon-download::before { content: "\0063"; }
.icon-media::before { content: "\0064"; }
.icon-schema::before { content: "\0065"; }
.icon-info::before { content: "\0066"; }
.icon-tips::before { content: "\0067"; }
.icon-menu::before { content: "\0068"; }
.icon-pin::before { content: "\0069"; }
.icon-home::before { content: "\006A"; }
.icon-checked::before { content: "\006B"; }
.icon-language::before { content: "\006C"; }
.icon-globe::before { content: "\006D"; }
.icon-undo-2::before { content: "\006E"; }
.icon-save::before { content: "\006F"; }
.icon-open::before { content: "\0070"; }
.icon-undo::before { content: "\0071"; }
.icon-bible::before { content: "\0072"; }
.icon-save-3::before { content: "\0073"; }
.icon-delete-3::before { content: "\0074"; }
.icon-delete-2::before { content: "\0075"; }
.icon-save-2::before { content: "\0076"; }
.icon-open-2::before { content: "\0077"; }
.icon-undo-3::before { content: "\0078"; }
.icon-delete::before { content: "\0079"; }
.icon-open-3::before { content: "\007A"; }
.icon-undo-4::before { content: "\007B"; }
.icon-undo-5::before { content: "\007C"; }
.icon-logout::before { content: "\007D"; }

.hebreo:lang(he) { direction: rtl; }
.griego:lang(el) { direction: ltr; }

body {
	background-color: #13234c;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	/*font-family: 'Roboto', sans-serif;*/
	/*font-family: 'Architects Daughter', cursive;*/
	font-size: 17px;
	margin: 0;
}

.big_title{
	font-size: 6vw;
	text-align: center;  
}

@media screen and (max-width: 600px) {
	.big_title{
		font-size: 300%;
		text-align: center;  
	}
}

.in_center{
	text-align: center;  
}

.in_right{
	text-align: right;  
}

.img_center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

.adapt_menu_bar {
	display: grid;
	grid-template-columns: 1fr 6vh;
	grid-template-rows: 1fr;

	background-color: #0b142c;
	border: 2px solid #23418c;
	position: fixed;
	top: 0em;
	width: 100%;
	z-index: 100;
}

.adapt_menu {
	font-size: 3vh;
	height: 10vh;

	overflow: hidden;
	
	grid-column: 1;
	grid-row: 1;	
}

.adapt_item {
	color: #f2f2f2;
	text-align: center;
	text-decoration: none;

	display: flex;
	height: 10vh;
	float: left;
	align-items: center;  
	align-content: center;
	padding: 0em 1em 0em 1em;
	font-size: 3vh;
}

.adapt_item:hover {
	background-color: #ddd;
	color: black;
}

.adapt_item.active {
	background-color: #04AA6D;
	color: white;
}

.adapt_menu_pop {
	height: 10vh;
	align-items: center;  
	align-content: center;
	padding: 0em 1em 0em 1em;
	font-size: 3vh;

	grid-column: 2;
	grid-row: 1;	
}

.end_of_content {
	height: 50vh;
}

.exam {
	float: none;
	font-size:1em;
	display: block;
	background-color: #254795;
	/*background-color: red;*/
	color: white;
}

.exam,h1 {
	font-size:1.1em;
}

.tool_content {
	display: block;
	float: none;
	top: 10vh;
	height: 90vh;
	overflow-y: scroll;
	position: fixed;
	width: 100%;
	z-index: 50;
}

.exam_ref {
	background-color: #254795;
}

a.exam_ref {
	color: yellow;
}

a.exam_ref:hover {
	color: black;
	background-color: white;
}

.exam_title {
	display: block;
	font-size: 150%;
	text-align: center;  
	margin-bottom: 0.5em;
}

.exam a {
	background-color: #254795;
	color: yellow;
}

.exam a:hover {
	color: black;
	background-color: white;
}


.is_button {
	border: 0.2vw solid white;
	background-color: #1c396f;
	text-align: center;
}

.is_button:hover,.is_button:hover>* {
	background-color: #ddd;
	color: black;
}

.is_button.active {
	background-color: #04AA6D;
	color: white;
}

.msg {
	display: inline-block;
	flex-grow: 100;
	margin: 1vh;
}

.is_block {
	position: relative;	
	display: block;
	margin-top: 0.5vh;
	margin-bottom: 0.5vh;
}

.grid_item {
	grid-column: auto;
	grid-row: auto;	
	background-color: transparent;
	text-align: center;
}

.grid_item_all_col {
	grid-column: 1 / -1;
	grid-row: auto;	
	text-align: left;
}

.item_can_select {
	border: 0.2vw solid white;
	padding: 0.5em 0.5em 0.5em 0.5em;
	border-radius: 0.3em;
	background-color: transparent;
}

.item_can_select:hover {
	border: 0.5vw solid white;
}

.selected {
	background-color: #13234c;
}

.selected:hover,.selected:hover>* {
	background-color: #0c142c;
}

.upper {
	text-transform: uppercase;
}

.is_option {
	display: inline-block;
	margin: 0.5vw;
	border: 0.2vw solid white;
	border-radius: 0.3em;
}

.is_option:hover,.is_option:hover>* {
	background-color: #ddd;
	color: black;
}

/*
.big_font {
	font-size: 150%;
}*/

.bold_font {
	font-weight: bold;
}

.full_width {
	width: 100%;
}

.width_95 {
	width: 95%;
}

.width_5 {
	width: 5%;
}

.big_font{
	font-size: 1.5em;
}

.bib_item {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	grid-column: auto;
	grid-row: auto;
}

.grid_tool {
	display: grid;
	margin-left: 10%;
	margin-right: 10%;
	grid-template-columns: 15fr 15fr 15fr 15fr 15fr;
	grid-template-rows: auto;
	font-size:1em;
}

.select_item {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row: auto;
	border: 0.2vw solid #ff0000;
}

.input_item {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	font-size:1em;
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row: auto;
}

.delete_expr {
	display: inline-block;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;  
	width: 5%;
}

.search_button_item {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	text-align: center;  
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row: auto;
	font-size:1.5em;
	border: 0.2vw solid #00ff00;
}

.results_item {
	max-height: 100vh;
	overflow-y: scroll;
	scrollbar-color: #ff0000;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row: auto;
	border: 0.2vw solid #ffff00;
}

.results_item::-webkit-scrollbar{
	width: 10px !important;
}

.results_item::-webkit-scrollbar-track{
	background: #13234c;
}

.results_item::-webkit-scrollbar-thumb{
	background: #ffff00;
	border-radius: 5px;
	min-height: 30px;
}

.aux_item {
	max-height: 50vh;
	overflow-y: scroll;
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row: auto;
}

.has_border {
	border: 0.2vw solid #ffff00;
}

.grid_txt_analysis {
	display: grid;
	margin-left: 3%;
	margin-right: 3%;
	grid-template-rows: auto;
	font-size:1em;
}

.grid_txt_columns {
	grid-template-columns: 10fr 10fr 15fr;
}

.txt_ana_item {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	grid-row: auto;
}

.txt_ana_full_item {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	grid-row: auto;
	grid-column-start = 1;
	grid-column-end = -1;
}

.txt_optional_item {
	display: none;
}

@media (min-width: 600px) and (orientation:landscape) {
	.grid_txt_columns {
		grid-template-columns: 10fr 10fr 10fr 10fr 15fr;
	}
	.txt_optional_item {
		display: grid;
	}
}


.txt_ana_marked_item {
	background-color: #e67300;
}

.txt_ana_added_item {
	background-color: #3665d3;
}

.txt_ana_selected_item {
	color: #00ff00;
	border: 2px solid #00ff00;
}

.txt_matched {
	background-color: #3665d3;
}

.is_verse_oper {
	display: inline-block;
	margin: 0.5vw;
}

.is_verse_oper:hover {
	background-color: #254795;
}

.is_verse_cit {
	display: inline-block;
	margin: 0.5vw;
	background-color: #254795;
	color: yellow;
}

.is_verse_cit:hover {
	color: black;
	background-color: white;
}

.download_bar {
  width: 100%; 
  height: 20px; 
}

.search_info {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	padding: 0.5em 0.2em 0.5em 0.2em;
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row: auto;
	font-size:1.1em;
	border: 0.2vw solid #55ffff;
}

.search_header {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	padding: 0.5em 0.2em 0.5em 0.2em;
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row: auto;
	font-size:1.1em;
	border: 0.2vw solid #55ffff;
}

.scode_info{
	padding: 0em 0.3em 0em 0.3em;
	border: 2px solid #00ff00;
	color: #00ff00;
	font-size: 1.5em;
}

.ot_info{
	padding: 0em 1em 0em 1em;
	border: 2px solid #00ff00;
	color: #00ff00;
	font-size: 1.8em;
}

.nt_info{
	padding: 0em 1em 0em 1em;
	border: 2px solid #00ff00;
	color: #00ff00;
	font-size: 1.8em;
}

.loc_info{
	padding: 0em 0.2em 0em 0.2em;
	font-size: 1em;
}

.ranges_info{
	margin-left: 2em;
	margin-right: 2em;
	padding: 0em 0.2em 0em 0.2em;
	font-size: 1em;
}

.rx_in_info{
	margin-left: 2em;
	margin-right: 2em;
	padding: 0em 0.2em 0em 0.2em;
	font-size: 1em;
}

.rx_in_info_bib{
	background-color: #3665d3;
	font-size: 1.3em;
}
/*
	align-content: center center;
	align-items: stretch;
	aspect-ratio: 1;
	aspect-ratio: 1;
	border: 1px solid red;
	border: 1px solid white;
	border: 1px solid white;
	border: 0.1vw solid red;
	border-radius: 1em;
	border: 0.2vw solid #ff0000;
	border: 0.2vw solid #ffff00;
	border: 0.2vw solid #ff0000;
	border: 0.2vw solid #00ff00;
	color: red;
	display: inline-block;
	display: block;
	display: inline-flex;
	float: left;
	font-weight: bold;
	grid-column: auto / -1;
	height: 6vh;
	height: 6vh;
	height: 6vh;
	margin: 0.2vw 0.2vw 0.2vw 0.2vw;
	margin: 0.7vw;
	margin-left: 1vh;
	margin: 1vw;
	margin: 0.7vw;
	padding: 1em 1em;
	padding-left: 1vw;
	position: relative;	

@media (min-width: 600px) and (orientation:landscape) {
}


*/