{{> top}}
<div id="id_content">
  <div id="id_side_nav" class="col-3 col-m2">
    <div id="id_side_nav_name">TodaCarne</div>
    <nav>
    <ul>
      {{> nav_todacarne}}
      <li class="info_ref">
        <a href="#id_footer">INFO</a>
      </li>
    </ul>
    <br><br><br><br><br>
    </nav>
  </div>
  <div class="cl_main_content col-9 col-m10">
    <h1 class="big_title">Libro</h1>
    {{> text_todacarne}}
    {{> footer}}
  </div>
  <!-- div class="rside col-3 col-m12">
  </div -->
</div>
{{> bottom}}
