
{{> top}}

<div class="exam_top_menu">
	<div id="id_exam_sort_button" class="exam_menu">SORT</div>
	<div id="id_exam_mode_button" class="exam_menu">LEARN</div>
</div>

<div id="id_exam_content" class="exam_content">
    <h1 class="big_title">Examen Interactivo de Teologia</h1>
    <div id="id_exam_statements">
    </div>  
</div>  
</div>

<script src="../code/tc_lang_all.js"></script>  // ALWAYS FIRST !!!
<script src="../code/tc_lang_es.js"></script>
<script src="../code/tc_db_exam.js"></script>
<script src="../code/tc_exam.js"></script>

{{> bottom}}

