
{{> top}}
<div id="id_content">
  <div class="cl_main_content col-12 col-m12">

  <h1 class="big_title">Info</h1>
  
  <h1>Preguntas</h1>
  
  Favor enviar cualquier pregunta al correo: <strong>preguntas@todacarne.com</strong>
  
  <h1>Autor</h1>
  <p>Jose Luis Quiroga Beltrán. Cédula. 79.523.732 de Bogotá Colombia.</p>
  <p>
      <a href="http://joseluisquiroga.github.io/">joseluisquiroga.github.io</a><br>
      <a href="http://toda-carne.github.io/">TodaCarne.com</a><br>
      <a href="http://toda-carne.github.io/">toda-carne.github.io</a><br>
  </p>
  
  </div>
</div>
{{> bottom}}
