
{{> top}}
<div id="id_content">
  <div class="cl_main_content col-12 col-m12">

  <h1 class="big_title">Medios</h1>

<h1 id="introductorios">Videos Introductorios</h1>

<div class="col-12 col-m12">
  
<iframe class="ref_video col-5 col-m5" src="https://www.youtube.com/embed/H67BfygXoqE?list=PLUTAvR_gT25Oe5uWriVEqMPm8whvsSXyJ" title="¿ Cómo es la Resurrección de la biblia ?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 

<iframe class="ref_video col-5 col-m5" src="https://www.youtube.com/embed/RwhmWCpml8k?list=PLUTAvR_gT25Oe5uWriVEqMPm8whvsSXyJ" title="¿ Quién hizo el manto de Turín ?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe class="ref_video col-5 col-m5" src="https://www.youtube.com/embed/rxi_L9Cw9xw?list=PLUTAvR_gT25Oe5uWriVEqMPm8whvsSXyJ" title="¿ Soy creativo luego hay un Creador ?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe class="ref_video col-5 col-m5" src="https://www.youtube.com/embed/KGr5l6eAodg?list=PLUTAvR_gT25Oe5uWriVEqMPm8whvsSXyJ" title="¿ Es posible la Resurrección de la Biblia ?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe class="ref_video col-5 col-m5" src="https://www.youtube.com/embed/R_NF62__GRc?list=PLUTAvR_gT25Oe5uWriVEqMPm8whvsSXyJ" title="¿ Qué es La Vida según la Biblia ?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>

<h1 id="escato"> Cuadro Escatológico</h1>

<a href="book.html">
<img src="../img/CUADRO_ESCOTOLOGICO.webp" title="Hagame click" style="width:100%">
</a>

<h1 id="audiolibro">Audiolibro completo</h1>

<h2>En youtube.com</h2>
<a href="https://www.youtube.com/watch?v=PPyQ6O-w5O8">Youtube PARTES 1 y 2</a><br>
<a href="https://www.youtube.com/watch?v=uUX3eV_6xFI">Youtube PARTES 3 y 4</a><br>

<h2>En archive.org</h2>
<a href="https://archive.org/details/audiolibro_toda_carne">Archive.org COMPLETO</a><br>



  </div>
</div>


{{> bottom}}
