
{{> top}}
<div id="id_content">
  <div class="cl_main_content col-12 col-m12">

    <div class="home_text">
    <h1>Existe un Creador?</h1>
    <div class="answer-left answer-non-selected">
    <h1>SI</h1>
    </div>
    <div class="answer-right answer-non-selected">
    <h1>NO</h1>
    </div>
    
    <p><strong>Compruebe usted mismo que la biblia ni es para locos ni enseña lo que le dijeron.</strong></p>
          
    </div>
  </div>
</div>
{{> bottom}}
