
<div class="exam_top_menu">
	<div id="id_exam_save_button" class="exam_menu"><i class='has_icons icon-save'></i>GUARDAR</div>
	<div id="id_exam_open_button" class="exam_menu"><i class='has_icons icon-open'></i>ABRIR</div>
	<div id="id_exam_delete_button" class="exam_menu"><i class='has_icons icon-delete'></i>BORRAR</div>
	<div id="id_exam_undo_button" class="exam_menu"><i class='has_icons icon-undo'></i>DESHACER</div>
</div>

<div id="id_exam_content" class="exam_content">
	<div id="id_exam_top_content"></div>
	<div id="id_exam_name" class="big_title">
	</div>
    <h1 class="big_title">Cuestionario</h1>
    <div id="id_exam_all_questions">
    </div>  
	<br><br><br><br><br><br><br><br><br>
</div>  
