
    <li id="id_side_li_0">
     <a href="#todacarne_DOT_com" onclick="nav_clk_1('toc-todacarne_DOT_com', 'id_side_li_0');" id="toc-todacarne_DOT_com">
      <span id="anchor">
      </span>
      TodaCarne.com
     </a>
     <ul>
      <li id="id_side_li_1">
       <a href="#english" onclick="nav_clk_1('toc-english', 'id_side_li_1');" id="toc-english">
        English
       </a>
      </li>
     </ul>
    </li>
    <li id="id_side_li_2">
     <a href="#table-of-contents_DOT_" onclick="nav_clk_1('toc-table-of-contents_DOT_', 'id_side_li_2');" id="toc-table-of-contents_DOT_">
      <span id="anchor-1">
      </span>
      Table of Contents.
     </a>
    </li>
    <li id="id_side_li_3">
     <a href="#part-1_DOT_-introduction_DOT_" onclick="nav_clk_1('toc-part-1_DOT_-introduction_DOT_', 'id_side_li_3');" id="toc-part-1_DOT_-introduction_DOT_">
      <span id="anchor-2">
      </span>
      PART 1.
INTRODUCTION.
     </a>
     <ul>
      <li id="id_side_li_4">
       <a href="#introduction_DOT_" onclick="nav_clk_1('toc-introduction_DOT_', 'id_side_li_4');" id="toc-introduction_DOT_">
        <span id="anchor-3">
        </span>
        Introduction.
       </a>
       <ul>
        <li id="id_side_li_5">
         <a href="#goal_DOT_" onclick="nav_clk_1('toc-goal_DOT_', 'id_side_li_5');" id="toc-goal_DOT_">
          <span id="anchor-4">
          </span>
          Goal.
         </a>
        </li>
        <li id="id_side_li_6">
         <a href="#warning_DOT_" onclick="nav_clk_1('toc-warning_DOT_', 'id_side_li_6');" id="toc-warning_DOT_">
          <span id="anchor-5">
          </span>
          Warning.
         </a>
        </li>
        <li id="id_side_li_7">
         <a href="#questions_DOT_" onclick="nav_clk_1('toc-questions_DOT_', 'id_side_li_7');" id="toc-questions_DOT_">
          <span id="anchor-6">
          </span>
          Questions.
         </a>
        </li>
       </ul>
      </li>
     </ul>
    </li>
    <li id="id_side_li_8">
     <a href="#part-2_DOT_-center_DOT_" onclick="nav_clk_1('toc-part-2_DOT_-center_DOT_', 'id_side_li_8');" id="toc-part-2_DOT_-center_DOT_">
      <span id="anchor-8">
      </span>
      PART 2. CENTER.
     </a>
     <ul>
      <li id="id_side_li_9">
       <a href="#creator_DOT_" onclick="nav_clk_1('toc-creator_DOT_', 'id_side_li_9');" id="toc-creator_DOT_">
        <span id="anchor-9">
        </span>
        Creator.
       </a>
       <ul>
        <li id="id_side_li_10">
         <a href="#technical-creativity_DOT_" onclick="nav_clk_2('toc-technical-creativity_DOT_', 'id_side_li_10');" id="toc-technical-creativity_DOT_" class="cl_sub_nav">
          <span id="anchor-10">
          </span>
          Technical
creativity.
         <i class="has_icons icon-side-menu"></i></a>
         <ul class="nested">
          <li id="id_side_li_11">
           <a href="#application_DOT_" onclick="nav_clk_1('toc-application_DOT_', 'id_side_li_11');" id="toc-application_DOT_">
            <span id="anchor-11">
            </span>
            Application.
           </a>
          </li>
         </ul>
        </li>
        <li id="id_side_li_12">
         <a href="#technical-complexity_DOT_" onclick="nav_clk_1('toc-technical-complexity_DOT_', 'id_side_li_12');" id="toc-technical-complexity_DOT_">
          <span id="anchor-12">
          </span>
          Technical
complexity.
         </a>
        </li>
        <li id="id_side_li_13">
         <a href="#biology_DOT_" onclick="nav_clk_1('toc-biology_DOT_', 'id_side_li_13');" id="toc-biology_DOT_">
          <span id="anchor-13">
          </span>
          Biology.
         </a>
        </li>
        <li id="id_side_li_14">
         <a href="#creator_DOT_-1" onclick="nav_clk_1('toc-creator_DOT_-1', 'id_side_li_14');" id="toc-creator_DOT_-1">
          <span id="anchor-14">
          </span>
          Creator.
         </a>
        </li>
        <li id="id_side_li_15">
         <a href="#evidence_DOT_" onclick="nav_clk_1('toc-evidence_DOT_', 'id_side_li_15');" id="toc-evidence_DOT_">
          <span id="anchor-15">
          </span>
          Evidence.
         </a>
        </li>
        <li id="id_side_li_16">
         <a href="#reproduction_DOT_" onclick="nav_clk_1('toc-reproduction_DOT_', 'id_side_li_16');" id="toc-reproduction_DOT_">
          <span id="anchor-16">
          </span>
          Reproduction.
         </a>
        </li>
       </ul>
      </li>
      <li id="id_side_li_17">
       <a href="#resurrection_DOT_" onclick="nav_clk_1('toc-resurrection_DOT_', 'id_side_li_17');" id="toc-resurrection_DOT_">
        <span id="anchor-17">
        </span>
        Resurrection.
       </a>
       <ul>
        <li id="id_side_li_18">
         <a href="#future_DOT_" onclick="nav_clk_1('toc-future_DOT_', 'id_side_li_18');" id="toc-future_DOT_">
          <span id="anchor-18">
          </span>
          Future.
         </a>
        </li>
        <li id="id_side_li_19">
         <a href="#physical_DOT_" onclick="nav_clk_1('toc-physical_DOT_', 'id_side_li_19');" id="toc-physical_DOT_">
          <span id="anchor-19">
          </span>
          Physical.
         </a>
        </li>
        <li id="id_side_li_20">
         <a href="#they-cant-die_DOT_" onclick="nav_clk_1('toc-they-cant-die_DOT_', 'id_side_li_20');" id="toc-they-cant-die_DOT_">
          <span id="anchor-20">
          </span>
          They can't die.
         </a>
        </li>
        <li id="id_side_li_21">
         <a href="#in-the-sky_DOT_" onclick="nav_clk_1('toc-in-the-sky_DOT_', 'id_side_li_21');" id="toc-in-the-sky_DOT_">
          <span id="anchor-21">
          </span>
          In the sky.
         </a>
        </li>
        <li id="id_side_li_22">
         <a href="#for-all_DOT_" onclick="nav_clk_1('toc-for-all_DOT_', 'id_side_li_22');" id="toc-for-all_DOT_">
          <span id="anchor-22">
          </span>
          For all.
         </a>
        </li>
        <li id="id_side_li_23">
         <a href="#has-not-happened_DOT_" onclick="nav_clk_1('toc-has-not-happened_DOT_', 'id_side_li_23');" id="toc-has-not-happened_DOT_">
          <span id="anchor-23">
          </span>
          Has not happened.
         </a>
        </li>
        <li id="id_side_li_24">
         <a href="#asleep_DOT_" onclick="nav_clk_1('toc-asleep_DOT_', 'id_side_li_24');" id="toc-asleep_DOT_">
          <span id="anchor-24">
          </span>
          Asleep.
         </a>
        </li>
        <li id="id_side_li_25">
         <a href="#a-new-earth_DOT_" onclick="nav_clk_1('toc-a-new-earth_DOT_', 'id_side_li_25');" id="toc-a-new-earth_DOT_">
          <span id="anchor-25">
          </span>
          A new earth.
         </a>
        </li>
        <li id="id_side_li_26">
         <a href="#basis-of-faith_DOT_" onclick="nav_clk_1('toc-basis-of-faith_DOT_', 'id_side_li_26');" id="toc-basis-of-faith_DOT_">
          <span id="anchor-26">
          </span>
          Basis of Faith.
         </a>
        </li>
        <li id="id_side_li_27">
         <a href="#possible_DOT_" onclick="nav_clk_1('toc-possible_DOT_', 'id_side_li_27');" id="toc-possible_DOT_">
          <span id="anchor-27">
          </span>
          Possible.
         </a>
        </li>
       </ul>
      </li>
      <li id="id_side_li_28">
       <a href="#the-cloth_DOT_" onclick="nav_clk_1('toc-the-cloth_DOT_', 'id_side_li_28');" id="toc-the-cloth_DOT_">
        <span id="anchor-28">
        </span>
        The Cloth.
       </a>
       <ul>
        <li id="id_side_li_29">
         <a href="#a-negative_DOT_" onclick="nav_clk_1('toc-a-negative_DOT_', 'id_side_li_29');" id="toc-a-negative_DOT_">
          <span id="anchor-29">
          </span>
          A negative.
         </a>
        </li>
        <li id="id_side_li_30">
         <a href="#photographic-realism_DOT_" onclick="nav_clk_1('toc-photographic-realism_DOT_', 'id_side_li_30');" id="toc-photographic-realism_DOT_">
          <span id="anchor-30">
          </span>
          Photographic
realism.
         </a>
        </li>
        <li id="id_side_li_31">
         <a href="#oxidized-microfibers_DOT_" onclick="nav_clk_1('toc-oxidized-microfibers_DOT_', 'id_side_li_31');" id="toc-oxidized-microfibers_DOT_">
          <span id="anchor-31">
          </span>
          Oxidized
microfibers.
         </a>
        </li>
        <li id="id_side_li_32">
         <a href="#information-in-the-image_DOT_" onclick="nav_clk_1('toc-information-in-the-image_DOT_', 'id_side_li_32');" id="toc-information-in-the-image_DOT_">
          <span id="anchor-32">
          </span>
          Information in the image.
         </a>
        </li>
        <li id="id_side_li_33">
         <a href="#ultraviolet-light_DOT_" onclick="nav_clk_1('toc-ultraviolet-light_DOT_', 'id_side_li_33');" id="toc-ultraviolet-light_DOT_">
          <span id="anchor-33">
          </span>
          Ultraviolet light.
         </a>
        </li>
        <li id="id_side_li_34">
         <a href="#bilirubin_DOT_" onclick="nav_clk_1('toc-bilirubin_DOT_', 'id_side_li_34');" id="toc-bilirubin_DOT_">
          <span id="anchor-34">
          </span>
          Bilirubin.
         </a>
        </li>
        <li id="id_side_li_35">
         <a href="#forensic-details_DOT_" onclick="nav_clk_1('toc-forensic-details_DOT_', 'id_side_li_35');" id="toc-forensic-details_DOT_">
          <span id="anchor-35">
          </span>
          Forensic details.
         </a>
        </li>
        <li id="id_side_li_36">
         <a href="#replications_DOT_" onclick="nav_clk_1('toc-replications_DOT_', 'id_side_li_36');" id="toc-replications_DOT_">
          <span id="anchor-36">
          </span>
          Replications.
         </a>
        </li>
       </ul>
      </li>
      <li id="id_side_li_37">
       <a href="#past_DOT_" onclick="nav_clk_1('toc-past_DOT_', 'id_side_li_37');" id="toc-past_DOT_">
        <span id="anchor-37">
        </span>
        Past.
       </a>
       <ul>
        <li id="id_side_li_38">
         <a href="#methods_DOT_" onclick="nav_clk_1('toc-methods_DOT_', 'id_side_li_38');" id="toc-methods_DOT_">
          <span id="anchor-38">
          </span>
          Methods.
         </a>
        </li>
        <li id="id_side_li_39">
         <a href="#coincidences_DOT_" onclick="nav_clk_1('toc-coincidences_DOT_', 'id_side_li_39');" id="toc-coincidences_DOT_">
          <span id="anchor-39">
          </span>
          Coincidences.
         </a>
        </li>
        <li id="id_side_li_40">
         <a href="#people_DOT_" onclick="nav_clk_1('toc-people_DOT_', 'id_side_li_40');" id="toc-people_DOT_">
          <span id="anchor-40">
          </span>
          People.
         </a>
        </li>
        <li id="id_side_li_41">
         <a href="#assuming_DOT_" onclick="nav_clk_1('toc-assuming_DOT_', 'id_side_li_41');" id="toc-assuming_DOT_">
          <span id="anchor-41">
          </span>
          Assuming.
         </a>
        </li>
        <li id="id_side_li_42">
         <a href="#textual_DOT_" onclick="nav_clk_1('toc-textual_DOT_', 'id_side_li_42');" id="toc-textual_DOT_">
          <span id="anchor-42">
          </span>
          Textual.
         </a>
        </li>
        <li id="id_side_li_43">
         <a href="#on-the-cross_DOT_" onclick="nav_clk_1('toc-on-the-cross_DOT_', 'id_side_li_43');" id="toc-on-the-cross_DOT_">
          <span id="anchor-43">
          </span>
          On the cross.
         </a>
        </li>
        <li id="id_side_li_44">
         <a href="#they-believed_DOT_" onclick="nav_clk_1('toc-they-believed_DOT_', 'id_side_li_44');" id="toc-they-believed_DOT_">
          <span id="anchor-44">
          </span>
          They believed.
         </a>
        </li>
        <li id="id_side_li_45">
         <a href="#followers_DOT_" onclick="nav_clk_1('toc-followers_DOT_', 'id_side_li_45');" id="toc-followers_DOT_">
          <span id="anchor-45">
          </span>
          Followers.
         </a>
        </li>
        <li id="id_side_li_46">
         <a href="#dead_DOT_" onclick="nav_clk_1('toc-dead_DOT_', 'id_side_li_46');" id="toc-dead_DOT_">
          <span id="anchor-46">
          </span>
          Dead.
         </a>
        </li>
        <li id="id_side_li_47">
         <a href="#growth_DOT_" onclick="nav_clk_1('toc-growth_DOT_', 'id_side_li_47');" id="toc-growth_DOT_">
          <span id="anchor-47">
          </span>
          Growth.
         </a>
        </li>
       </ul>
      </li>
      <li id="id_side_li_48">
       <a href="#credibility_DOT_" onclick="nav_clk_1('toc-credibility_DOT_', 'id_side_li_48');" id="toc-credibility_DOT_">
        <span id="anchor-48">
        </span>
        Credibility.
       </a>
       <ul>
        <li id="id_side_li_49">
         <a href="#denial_DOT_" onclick="nav_clk_1('toc-denial_DOT_', 'id_side_li_49');" id="toc-denial_DOT_">
          <span id="anchor-49">
          </span>
          Denial.
         </a>
        </li>
        <li id="id_side_li_50">
         <a href="#observations_DOT_" onclick="nav_clk_2('toc-observations_DOT_', 'id_side_li_50');" id="toc-observations_DOT_" class="cl_sub_nav">
          <span id="anchor-50">
          </span>
          Observations.
         <i class="has_icons icon-side-menu"></i></a>
         <ul class="nested">
          <li id="id_side_li_51">
           <a href="#sources_DOT_" onclick="nav_clk_1('toc-sources_DOT_', 'id_side_li_51');" id="toc-sources_DOT_">
            <span id="anchor-51">
            </span>
            Sources.
           </a>
          </li>
          <li id="id_side_li_52">
           <a href="#knowledge_DOT_" onclick="nav_clk_1('toc-knowledge_DOT_', 'id_side_li_52');" id="toc-knowledge_DOT_">
            <span id="anchor-52">
            </span>
            Knowledge.
           </a>
          </li>
          <li id="id_side_li_53">
           <a href="#interdependent_DOT_" onclick="nav_clk_1('toc-interdependent_DOT_', 'id_side_li_53');" id="toc-interdependent_DOT_">
            <span id="anchor-53">
            </span>
            Interdependent.
           </a>
          </li>
          <li id="id_side_li_54">
           <a href="#alive_DOT_" onclick="nav_clk_1('toc-alive_DOT_', 'id_side_li_54');" id="toc-alive_DOT_">
            <span id="anchor-54">
            </span>
            Alive.
           </a>
          </li>
          <li id="id_side_li_55">
           <a href="#jerusalem_DOT_" onclick="nav_clk_1('toc-jerusalem_DOT_', 'id_side_li_55');" id="toc-jerusalem_DOT_">
            <span id="anchor-55">
            </span>
            Jerusalem.
           </a>
          </li>
          <li id="id_side_li_56">
           <a href="#equal_DOT_" onclick="nav_clk_1('toc-equal_DOT_', 'id_side_li_56');" id="toc-equal_DOT_">
            <span id="anchor-56">
            </span>
            Equal.
           </a>
          </li>
          <li id="id_side_li_57">
           <a href="#names_DOT_" onclick="nav_clk_1('toc-names_DOT_', 'id_side_li_57');" id="toc-names_DOT_">
            <span id="anchor-57">
            </span>
            Names.
           </a>
          </li>
          <li id="id_side_li_58">
           <a href="#women_DOT_" onclick="nav_clk_1('toc-women_DOT_', 'id_side_li_58');" id="toc-women_DOT_">
            <span id="anchor-58">
            </span>
            Women.
           </a>
          </li>
          <li id="id_side_li_59">
           <a href="#groups_DOT_" onclick="nav_clk_1('toc-groups_DOT_', 'id_side_li_59');" id="toc-groups_DOT_">
            <span id="anchor-59">
            </span>
            Groups.
           </a>
          </li>
          <li id="id_side_li_60">
           <a href="#they-suffered_DOT_" onclick="nav_clk_1('toc-they-suffered_DOT_', 'id_side_li_60');" id="toc-they-suffered_DOT_">
            <span id="anchor-60">
            </span>
            They suffered.
           </a>
          </li>
          <li id="id_side_li_61">
           <a href="#body_DOT_" onclick="nav_clk_1('toc-body_DOT_', 'id_side_li_61');" id="toc-body_DOT_">
            <span id="anchor-61">
            </span>
            Body.
           </a>
          </li>
          <li id="id_side_li_62">
           <a href="#embarrassing_DOT_" onclick="nav_clk_1('toc-embarrassing_DOT_', 'id_side_li_62');" id="toc-embarrassing_DOT_">
            <span id="anchor-62">
            </span>
            Embarrassing.
           </a>
          </li>
         </ul>
        </li>
        <li id="id_side_li_63">
         <a href="#airplanes_DOT_" onclick="nav_clk_1('toc-airplanes_DOT_', 'id_side_li_63');" id="toc-airplanes_DOT_">
          <span id="anchor-63">
          </span>
          Airplanes.
         </a>
        </li>
       </ul>
      </li>
      <li id="id_side_li_64">
       <a href="#the-believer_DOT_" onclick="nav_clk_1('toc-the-believer_DOT_', 'id_side_li_64');" id="toc-the-believer_DOT_">
        <span id="anchor-64">
        </span>
        The Believer.
       </a>
       <ul>
        <li id="id_side_li_65">
         <a href="#tanakh_DOT_" onclick="nav_clk_1('toc-tanakh_DOT_', 'id_side_li_65');" id="toc-tanakh_DOT_">
          <span id="anchor-65">
          </span>
          Tanakh.
         </a>
        </li>
        <li id="id_side_li_66">
         <a href="#warning_DOT_-1" onclick="nav_clk_1('toc-warning_DOT_-1', 'id_side_li_66');" id="toc-warning_DOT_-1">
          <span id="anchor-66">
          </span>
          Warning.
         </a>
        </li>
       </ul>
      </li>
      <li id="id_side_li_67">
       <a href="#lord_DOT_" onclick="nav_clk_1('toc-lord_DOT_', 'id_side_li_67');" id="toc-lord_DOT_">
        <span id="anchor-67">
        </span>
        Lord.
       </a>
       <ul>
        <li id="id_side_li_68">
         <a href="#heaven-of-the-heavens_DOT_" onclick="nav_clk_1('toc-heaven-of-the-heavens_DOT_', 'id_side_li_68');" id="toc-heaven-of-the-heavens_DOT_">
          <span id="anchor-68">
          </span>
          Heaven of
the heavens.
         </a>
        </li>
        <li id="id_side_li_69">
         <a href="#angels_DOT_" onclick="nav_clk_1('toc-angels_DOT_', 'id_side_li_69');" id="toc-angels_DOT_">
          <span id="anchor-69">
          </span>
          Angels.
         </a>
        </li>
        <li id="id_side_li_70">
         <a href="#wings_DOT_" onclick="nav_clk_1('toc-wings_DOT_', 'id_side_li_70');" id="toc-wings_DOT_">
          <span id="anchor-70">
          </span>
          Wings.
         </a>
        </li>
        <li id="id_side_li_71">
         <a href="#creation_DOT_" onclick="nav_clk_2('toc-creation_DOT_', 'id_side_li_71');" id="toc-creation_DOT_" class="cl_sub_nav">
          <span id="anchor-72">
          </span>
          Creation.
         <i class="has_icons icon-side-menu"></i></a>
         <ul class="nested">
          <li id="id_side_li_72">
           <a href="#day-1_DOT_" onclick="nav_clk_1('toc-day-1_DOT_', 'id_side_li_72');" id="toc-day-1_DOT_">
            <span id="anchor-73">
            </span>
            Day
1.
           </a>
          </li>
          <li id="id_side_li_73">
           <a href="#day-2_DOT_" onclick="nav_clk_1('toc-day-2_DOT_', 'id_side_li_73');" id="toc-day-2_DOT_">
            <span id="anchor-74">
            </span>
            Day
2.
           </a>
          </li>
          <li id="id_side_li_74">
           <a href="#day-3_DOT_" onclick="nav_clk_1('toc-day-3_DOT_', 'id_side_li_74');" id="toc-day-3_DOT_">
            <span id="anchor-75">
            </span>
            Day
3.
           </a>
          </li>
          <li id="id_side_li_75">
           <a href="#day-4_DOT_" onclick="nav_clk_1('toc-day-4_DOT_', 'id_side_li_75');" id="toc-day-4_DOT_">
            <span id="anchor-76">
            </span>
            Day
4.
           </a>
          </li>
          <li id="id_side_li_76">
           <a href="#day-5_DOT_" onclick="nav_clk_1('toc-day-5_DOT_', 'id_side_li_76');" id="toc-day-5_DOT_">
            <span id="anchor-77">
            </span>
            Day
5.
           </a>
          </li>
          <li id="id_side_li_77">
           <a href="#day-6_DOT_" onclick="nav_clk_1('toc-day-6_DOT_', 'id_side_li_77');" id="toc-day-6_DOT_">
            <span id="anchor-78">
            </span>
            Day
6.
           </a>
          </li>
          <li id="id_side_li_78">
           <a href="#easy_DOT_" onclick="nav_clk_1('toc-easy_DOT_', 'id_side_li_78');" id="toc-easy_DOT_">
            <span id="anchor-79">
            </span>
            Easy.
           </a>
          </li>
         </ul>
        </li>
        <li id="id_side_li_79">
         <a href="#the-previous_DOT_" onclick="nav_clk_2('toc-the-previous_DOT_', 'id_side_li_79');" id="toc-the-previous_DOT_" class="cl_sub_nav">
          <span id="anchor-80">
          </span>
          The previous.
         <i class="has_icons icon-side-menu"></i></a>
         <ul class="nested">
          <li id="id_side_li_80">
           <a href="#elohim_DOT_" onclick="nav_clk_1('toc-elohim_DOT_', 'id_side_li_80');" id="toc-elohim_DOT_">
            <span id="anchor-81">
            </span>
            Elohim.
           </a>
          </li>
          <li id="id_side_li_81">
           <a href="#yeshua_DOT_" onclick="nav_clk_1('toc-yeshua_DOT_', 'id_side_li_81');" id="toc-yeshua_DOT_">
            <span id="anchor-82">
            </span>
            Yeshua.
           </a>
          </li>
          <li id="id_side_li_82">
           <a href="#ruakh-hakodesh_DOT_" onclick="nav_clk_1('toc-ruakh-hakodesh_DOT_', 'id_side_li_82');" id="toc-ruakh-hakodesh_DOT_">
            <span id="anchor-83">
            </span>
            Ruakh HaKodesh.
           </a>
          </li>
          <li id="id_side_li_83">
           <a href="#the-sons-of-elohim_DOT_" onclick="nav_clk_1('toc-the-sons-of-elohim_DOT_', 'id_side_li_83');" id="toc-the-sons-of-elohim_DOT_">
            <span id="anchor-84">
            </span>
            The Sons of Elohim.
           </a>
          </li>
          <li id="id_side_li_84">
           <a href="#the-angels_DOT_" onclick="nav_clk_1('toc-the-angels_DOT_', 'id_side_li_84');" id="toc-the-angels_DOT_">
            <span id="anchor-85">
            </span>
            The Angels.
           </a>
          </li>
          <li id="id_side_li_85">
           <a href="#the-satan-and-company_DOT_" onclick="nav_clk_1('toc-the-satan-and-company_DOT_', 'id_side_li_85');" id="toc-the-satan-and-company_DOT_">
            <span id="anchor-86">
            </span>
            The Satan
and company.
           </a>
          </li>
          <li id="id_side_li_86">
           <a href="#the-winged-ones_DOT_" onclick="nav_clk_1('toc-the-winged-ones_DOT_', 'id_side_li_86');" id="toc-the-winged-ones_DOT_">
            <span id="anchor-87">
            </span>
            The Winged Ones.
           </a>
          </li>
          <li id="id_side_li_87">
           <a href="#the-stars_DOT_" onclick="nav_clk_1('toc-the-stars_DOT_', 'id_side_li_87');" id="toc-the-stars_DOT_">
            <span id="anchor-88">
            </span>
            The stars.
           </a>
          </li>
          <li id="id_side_li_88">
           <a href="#a-part-of-the-armies-of-heaven_DOT_" onclick="nav_clk_1('toc-a-part-of-the-armies-of-heaven_DOT_', 'id_side_li_88');" id="toc-a-part-of-the-armies-of-heaven_DOT_">
            <span id="anchor-89">
            </span>
            A
part of the armies of Heaven.
           </a>
          </li>
          <li id="id_side_li_89">
           <a href="#heaven-of-heavens_DOT_" onclick="nav_clk_1('toc-heaven-of-heavens_DOT_', 'id_side_li_89');" id="toc-heaven-of-heavens_DOT_">
            <span id="anchor-90">
            </span>
            Heaven of Heavens.
           </a>
          </li>
         </ul>
        </li>
        <li id="id_side_li_90">
         <a href="#consistency_DOT_" onclick="nav_clk_1('toc-consistency_DOT_', 'id_side_li_90');" id="toc-consistency_DOT_">
          <span id="anchor-91">
          </span>
          Consistency.
         </a>
        </li>
       </ul>
      </li>
      <li id="id_side_li_91">
       <a href="#saviour_DOT_" onclick="nav_clk_1('toc-saviour_DOT_', 'id_side_li_91');" id="toc-saviour_DOT_">
        <span id="anchor-92">
        </span>
        Saviour.
       </a>
       <ul>
        <li id="id_side_li_92">
         <a href="#life_DOT_" onclick="nav_clk_1('toc-life_DOT_', 'id_side_li_92');" id="toc-life_DOT_">
          <span id="anchor-93">
          </span>
          Life.
         </a>
        </li>
        <li id="id_side_li_93">
         <a href="#death_DOT_" onclick="nav_clk_1('toc-death_DOT_', 'id_side_li_93');" id="toc-death_DOT_">
          <span id="anchor-94">
          </span>
          Death.
         </a>
        </li>
        <li id="id_side_li_94">
         <a href="#liberator_DOT_" onclick="nav_clk_1('toc-liberator_DOT_', 'id_side_li_94');" id="toc-liberator_DOT_">
          <span id="anchor-95">
          </span>
          Liberator.
         </a>
        </li>
        <li id="id_side_li_95">
         <a href="#principalities-and-powers_DOT_" onclick="nav_clk_1('toc-principalities-and-powers_DOT_', 'id_side_li_95');" id="toc-principalities-and-powers_DOT_">
          <span id="anchor-96">
          </span>
          Principalities and powers.
         </a>
        </li>
        <li id="id_side_li_96">
         <a href="#one-of-two_DOT_" onclick="nav_clk_1('toc-one-of-two_DOT_', 'id_side_li_96');" id="toc-one-of-two_DOT_">
          <span id="anchor-98">
          </span>
          One of two.
         </a>
        </li>
        <li id="id_side_li_97">
         <a href="#sleeping_DOT_" onclick="nav_clk_1('toc-sleeping_DOT_', 'id_side_li_97');" id="toc-sleeping_DOT_">
          <span id="anchor-99">
          </span>
          Sleeping.
         </a>
        </li>
        <li id="id_side_li_98">
         <a href="#everyone_DOT_" onclick="nav_clk_1('toc-everyone_DOT_', 'id_side_li_98');" id="toc-everyone_DOT_">
          <span id="anchor-100">
          </span>
          Everyone.
         </a>
        </li>
       </ul>
      </li>
      <li id="id_side_li_99">
       <a href="#just_DOT_" onclick="nav_clk_1('toc-just_DOT_', 'id_side_li_99');" id="toc-just_DOT_">
        <span id="anchor-101">
        </span>
        Just.
       </a>
       <ul>
        <li id="id_side_li_100">
         <a href="#justice_DOT_" onclick="nav_clk_1('toc-justice_DOT_', 'id_side_li_100');" id="toc-justice_DOT_">
          <span id="anchor-102">
          </span>
          Justice.
         </a>
        </li>
        <li id="id_side_li_101">
         <a href="#the-good-guy_DOT_" onclick="nav_clk_1('toc-the-good-guy_DOT_', 'id_side_li_101');" id="toc-the-good-guy_DOT_">
          <span id="anchor-103">
          </span>
          The good guy.
         </a>
        </li>
        <li id="id_side_li_102">
         <a href="#doing-good_DOT_" onclick="nav_clk_1('toc-doing-good_DOT_', 'id_side_li_102');" id="toc-doing-good_DOT_">
          <span id="anchor-104">
          </span>
          Doing good.
         </a>
        </li>
        <li id="id_side_li_103">
         <a href="#the-bad-guys_DOT_" onclick="nav_clk_1('toc-the-bad-guys_DOT_', 'id_side_li_103');" id="toc-the-bad-guys_DOT_">
          <span id="anchor-105">
          </span>
          The bad guys.
         </a>
        </li>
        <li id="id_side_li_104">
         <a href="#fire_DOT_" onclick="nav_clk_2('toc-fire_DOT_', 'id_side_li_104');" id="toc-fire_DOT_" class="cl_sub_nav">
          <span id="anchor-106">
          </span>
          Fire.
         <i class="has_icons icon-side-menu"></i></a>
         <ul class="nested">
          <li id="id_side_li_105">
           <a href="#spiritual_DOT_" onclick="nav_clk_1('toc-spiritual_DOT_', 'id_side_li_105');" id="toc-spiritual_DOT_">
            <span id="anchor-107">
            </span>
            Spiritual.
           </a>
          </li>
          <li id="id_side_li_106">
           <a href="#physical_DOT_-1" onclick="nav_clk_1('toc-physical_DOT_-1', 'id_side_li_106');" id="toc-physical_DOT_-1">
            <span id="anchor-108">
            </span>
            Physical.
           </a>
          </li>
         </ul>
        </li>
       </ul>
      </li>
      <li id="id_side_li_107">
       <a href="#all-flesh_DOT_" onclick="nav_clk_1('toc-all-flesh_DOT_', 'id_side_li_107');" id="toc-all-flesh_DOT_">
        <span id="anchor-109">
        </span>
        All flesh.
       </a>
       <ul>
        <li id="id_side_li_108">
         <a href="#hell_DOT_" onclick="nav_clk_2('toc-hell_DOT_', 'id_side_li_108');" id="toc-hell_DOT_" class="cl_sub_nav">
          <span id="anchor-110">
          </span>
          Hell.
         <i class="has_icons icon-side-menu"></i></a>
         <ul class="nested">
          <li id="id_side_li_109">
           <a href="#jesus-christ_DOT_" onclick="nav_clk_2('toc-jesus-christ_DOT_', 'id_side_li_109');" id="toc-jesus-christ_DOT_" class="cl_sub_nav">
            <span id="anchor-111">
            </span>
            Jesus Christ.
           <i class="has_icons icon-side-menu"></i></a>
           <ul class="nested">
            <li id="id_side_li_110">
             <a href="#hades_DOT_-code-g86_DOT_" onclick="nav_clk_1('toc-hades_DOT_-code-g86_DOT_', 'id_side_li_110');" id="toc-hades_DOT_-code-g86_DOT_">
              <span id="anchor-112">
              </span>
              Hades. Code G86.
             </a>
            </li>
            <li id="id_side_li_111">
             <a href="#ge-henna_DOT_-code-g1067_DOT_" onclick="nav_clk_1('toc-ge-henna_DOT_-code-g1067_DOT_', 'id_side_li_111');" id="toc-ge-henna_DOT_-code-g1067_DOT_">
              <span id="anchor-113">
              </span>
              Ge-Henna.
Code G1067.
             </a>
            </li>
           </ul>
          </li>
         </ul>
        </li>
        <li id="id_side_li_112">
         <a href="#sheol_DOT_-code-h7585_DOT_" onclick="nav_clk_2('toc-sheol_DOT_-code-h7585_DOT_', 'id_side_li_112');" id="toc-sheol_DOT_-code-h7585_DOT_" class="cl_sub_nav">
          <span id="anchor-114">
          </span>
          Sheol. Code H7585.
         <i class="has_icons icon-side-menu"></i></a>
         <ul class="nested">
          <li id="id_side_li_113">
           <a href="#everyone_DOT_-1" onclick="nav_clk_1('toc-everyone_DOT_-1', 'id_side_li_113');" id="toc-everyone_DOT_-1">
            <span id="anchor-115">
            </span>
            Everyone.
           </a>
          </li>
          <li id="id_side_li_114">
           <a href="#raise_DOT_" onclick="nav_clk_1('toc-raise_DOT_', 'id_side_li_114');" id="toc-raise_DOT_">
            <span id="anchor-116">
            </span>
            Raise.
           </a>
          </li>
          <li id="id_side_li_115">
           <a href="#nothing_DOT_" onclick="nav_clk_1('toc-nothing_DOT_', 'id_side_li_115');" id="toc-nothing_DOT_">
            <span id="anchor-117">
            </span>
            Nothing.
           </a>
          </li>
          <li id="id_side_li_116">
           <a href="#different_DOT_" onclick="nav_clk_1('toc-different_DOT_', 'id_side_li_116');" id="toc-different_DOT_">
            <span id="anchor-118">
            </span>
            Different.
           </a>
          </li>
         </ul>
        </li>
        <li id="id_side_li_117">
         <a href="#ge-henna_DOT_-code-g1067_DOT_-1" onclick="nav_clk_2('toc-ge-henna_DOT_-code-g1067_DOT_-1', 'id_side_li_117');" id="toc-ge-henna_DOT_-code-g1067_DOT_-1" class="cl_sub_nav">
          <span id="anchor-119">
          </span>
          Ge-Henna.
Code G1067.
         <i class="has_icons icon-side-menu"></i></a>
         <ul class="nested">
          <li id="id_side_li_118">
           <a href="#its-of-fire_DOT_" onclick="nav_clk_1('toc-its-of-fire_DOT_', 'id_side_li_118');" id="toc-its-of-fire_DOT_">
            <span id="anchor-120">
            </span>
            It's of fire.
           </a>
          </li>
          <li id="id_side_li_119">
           <a href="#it-does-not-turn-off_DOT_" onclick="nav_clk_1('toc-it-does-not-turn-off_DOT_', 'id_side_li_119');" id="toc-it-does-not-turn-off_DOT_">
            <span id="anchor-121">
            </span>
            It does not
turn off.
           </a>
          </li>
          <li id="id_side_li_120">
           <a href="#life_DOT_-1" onclick="nav_clk_1('toc-life_DOT_-1', 'id_side_li_120');" id="toc-life_DOT_-1">
            <span id="anchor-122">
            </span>
            Life.
           </a>
          </li>
          <li id="id_side_li_121">
           <a href="#gods-kingdom_DOT_" onclick="nav_clk_1('toc-gods-kingdom_DOT_', 'id_side_li_121');" id="toc-gods-kingdom_DOT_">
            <span id="anchor-123">
            </span>
            God's Kingdom.
           </a>
          </li>
          <li id="id_side_li_122">
           <a href="#eternal_DOT_" onclick="nav_clk_1('toc-eternal_DOT_', 'id_side_li_122');" id="toc-eternal_DOT_">
            <span id="anchor-124">
            </span>
            Eternal.
           </a>
          </li>
          <li id="id_side_li_123">
           <a href="#everyone_DOT_-2" onclick="nav_clk_1('toc-everyone_DOT_-2', 'id_side_li_123');" id="toc-everyone_DOT_-2">
            <span id="anchor-125">
            </span>
            Everyone.
           </a>
          </li>
          <li id="id_side_li_124">
           <a href="#judgment_DOT_" onclick="nav_clk_1('toc-judgment_DOT_', 'id_side_li_124');" id="toc-judgment_DOT_">
            <span id="anchor-126">
            </span>
            Judgment.
           </a>
          </li>
          <li id="id_side_li_125">
           <a href="#before_DOT_" onclick="nav_clk_1('toc-before_DOT_', 'id_side_li_125');" id="toc-before_DOT_">
            <span id="anchor-127">
            </span>
            Before.
           </a>
          </li>
          <li id="id_side_li_126">
           <a href="#after_DOT_" onclick="nav_clk_1('toc-after_DOT_', 'id_side_li_126');" id="toc-after_DOT_">
            <span id="anchor-128">
            </span>
            After.
           </a>
          </li>
          <li id="id_side_li_127">
           <a href="#the-worm-does-not-die_DOT_" onclick="nav_clk_1('toc-the-worm-does-not-die_DOT_', 'id_side_li_127');" id="toc-the-worm-does-not-die_DOT_">
            <span id="anchor-129">
            </span>
            The worm
does not die.
           </a>
          </li>
          <li id="id_side_li_128">
           <a href="#destroyer_DOT_" onclick="nav_clk_1('toc-destroyer_DOT_', 'id_side_li_128');" id="toc-destroyer_DOT_">
            <span id="anchor-130">
            </span>
            Destroyer.
           </a>
          </li>
          <li id="id_side_li_129">
           <a href="#different_DOT_-1" onclick="nav_clk_1('toc-different_DOT_-1', 'id_side_li_129');" id="toc-different_DOT_-1">
            <span id="anchor-131">
            </span>
            Different.
           </a>
          </li>
         </ul>
        </li>
        <li id="id_side_li_130">
         <a href="#eternal-death_DOT_" onclick="nav_clk_1('toc-eternal-death_DOT_', 'id_side_li_130');" id="toc-eternal-death_DOT_">
          <span id="anchor-132">
          </span>
          Eternal death.
         </a>
        </li>
        <li id="id_side_li_131">
         <a href="#eternal-punishment_DOT_" onclick="nav_clk_1('toc-eternal-punishment_DOT_', 'id_side_li_131');" id="toc-eternal-punishment_DOT_">
          <span id="anchor-133">
          </span>
          Eternal punishment.
         </a>
        </li>
        <li id="id_side_li_132">
         <a href="#lake-of-fire_DOT_" onclick="nav_clk_1('toc-lake-of-fire_DOT_', 'id_side_li_132');" id="toc-lake-of-fire_DOT_">
          <span id="anchor-135">
          </span>
          Lake of fire.
         </a>
        </li>
        <li id="id_side_li_133">
         <a href="#excluded_DOT_" onclick="nav_clk_1('toc-excluded_DOT_', 'id_side_li_133');" id="toc-excluded_DOT_">
          <span id="anchor-136">
          </span>
          Excluded.
         </a>
        </li>
        <li id="id_side_li_134">
         <a href="#the-rich-and-the-poor-lazarus_DOT_" onclick="nav_clk_1('toc-the-rich-and-the-poor-lazarus_DOT_', 'id_side_li_134');" id="toc-the-rich-and-the-poor-lazarus_DOT_">
          <span id="anchor-137">
          </span>
          The
rich and the poor Lazarus.
         </a>
        </li>
        <li id="id_side_li_135">
         <a href="#free-will_DOT_" onclick="nav_clk_1('toc-free-will_DOT_', 'id_side_li_135');" id="toc-free-will_DOT_">
          <span id="anchor-138">
          </span>
          Free will.
         </a>
        </li>
        <li id="id_side_li_136">
         <a href="#bible_DOT_" onclick="nav_clk_2('toc-bible_DOT_', 'id_side_li_136');" id="toc-bible_DOT_" class="cl_sub_nav">
          <span id="anchor-139">
          </span>
          Bible.
         <i class="has_icons icon-side-menu"></i></a>
         <ul class="nested">
          <li id="id_side_li_137">
           <a href="#adam_DOT_" onclick="nav_clk_1('toc-adam_DOT_', 'id_side_li_137');" id="toc-adam_DOT_">
            <span id="anchor-140">
            </span>
            Adam.
           </a>
          </li>
          <li id="id_side_li_138">
           <a href="#abraham_DOT_" onclick="nav_clk_1('toc-abraham_DOT_', 'id_side_li_138');" id="toc-abraham_DOT_">
            <span id="anchor-141">
            </span>
            Abraham.
           </a>
          </li>
          <li id="id_side_li_139">
           <a href="#moses_DOT_" onclick="nav_clk_1('toc-moses_DOT_', 'id_side_li_139');" id="toc-moses_DOT_">
            <span id="anchor-142">
            </span>
            Moses.
           </a>
          </li>
          <li id="id_side_li_140">
           <a href="#psalmists_DOT_" onclick="nav_clk_1('toc-psalmists_DOT_', 'id_side_li_140');" id="toc-psalmists_DOT_">
            <span id="anchor-143">
            </span>
            Psalmists.
           </a>
          </li>
          <li id="id_side_li_141">
           <a href="#isaiah_DOT_" onclick="nav_clk_1('toc-isaiah_DOT_', 'id_side_li_141');" id="toc-isaiah_DOT_">
            <span id="anchor-145">
            </span>
            Isaiah.
           </a>
          </li>
          <li id="id_side_li_142">
           <a href="#jeremiah_DOT_" onclick="nav_clk_1('toc-jeremiah_DOT_', 'id_side_li_142');" id="toc-jeremiah_DOT_">
            <span id="anchor-146">
            </span>
            Jeremiah.
           </a>
          </li>
          <li id="id_side_li_143">
           <a href="#ezekiel_DOT_" onclick="nav_clk_1('toc-ezekiel_DOT_', 'id_side_li_143');" id="toc-ezekiel_DOT_">
            <span id="anchor-147">
            </span>
            Ezekiel.
           </a>
          </li>
          <li id="id_side_li_144">
           <a href="#daniel_DOT_" onclick="nav_clk_1('toc-daniel_DOT_', 'id_side_li_144');" id="toc-daniel_DOT_">
            <span id="anchor-148">
            </span>
            Daniel.
           </a>
          </li>
          <li id="id_side_li_145">
           <a href="#the-12_DOT_" onclick="nav_clk_1('toc-the-12_DOT_', 'id_side_li_145');" id="toc-the-12_DOT_">
            <span id="anchor-149">
            </span>
            The
12.
           </a>
          </li>
          <li id="id_side_li_146">
           <a href="#jesus-christ_DOT_-1" onclick="nav_clk_1('toc-jesus-christ_DOT_-1', 'id_side_li_146');" id="toc-jesus-christ_DOT_-1">
            <span id="anchor-150">
            </span>
            Jesus Christ.
           </a>
          </li>
          <li id="id_side_li_147">
           <a href="#paul_DOT_" onclick="nav_clk_1('toc-paul_DOT_', 'id_side_li_147');" id="toc-paul_DOT_">
            <span id="anchor-151">
            </span>
            Paul.
           </a>
          </li>
          <li id="id_side_li_148">
           <a href="#peter_DOT_" onclick="nav_clk_1('toc-peter_DOT_', 'id_side_li_148');" id="toc-peter_DOT_">
            <span id="anchor-152">
            </span>
            Peter.
           </a>
          </li>
          <li id="id_side_li_149">
           <a href="#john_DOT_" onclick="nav_clk_1('toc-john_DOT_', 'id_side_li_149');" id="toc-john_DOT_">
            <span id="anchor-153">
            </span>
            John.
           </a>
          </li>
         </ul>
        </li>
        <li id="id_side_li_150">
         <a href="#it-is-written_DOT_" onclick="nav_clk_1('toc-it-is-written_DOT_', 'id_side_li_150');" id="toc-it-is-written_DOT_">
          <span id="anchor-154">
          </span>
          It is written.
         </a>
        </li>
       </ul>
      </li>
      <li id="id_side_li_151">
       <a href="#the-return_DOT_" onclick="nav_clk_1('toc-the-return_DOT_', 'id_side_li_151');" id="toc-the-return_DOT_">
        <span id="anchor-155">
        </span>
        The return.
       </a>
       <ul>
        <li id="id_side_li_152">
         <a href="#warning_DOT_-2" onclick="nav_clk_1('toc-warning_DOT_-2', 'id_side_li_152');" id="toc-warning_DOT_-2">
          <span id="anchor-156">
          </span>
          Warning.
         </a>
        </li>
        <li id="id_side_li_153">
         <a href="#jesus-christ_DOT_-2" onclick="nav_clk_1('toc-jesus-christ_DOT_-2', 'id_side_li_153');" id="toc-jesus-christ_DOT_-2">
          <span id="anchor-157">
          </span>
          Jesus Christ.
         </a>
        </li>
        <li id="id_side_li_154">
         <a href="#peace_DOT_" onclick="nav_clk_1('toc-peace_DOT_', 'id_side_li_154');" id="toc-peace_DOT_">
          <span id="anchor-158">
          </span>
          Peace.
         </a>
        </li>
        <li id="id_side_li_155">
         <a href="#temple_DOT_" onclick="nav_clk_1('toc-temple_DOT_', 'id_side_li_155');" id="toc-temple_DOT_">
          <span id="anchor-159">
          </span>
          Temple.
         </a>
        </li>
        <li id="id_side_li_156">
         <a href="#a-thousand-years_DOT_" onclick="nav_clk_1('toc-a-thousand-years_DOT_', 'id_side_li_156');" id="toc-a-thousand-years_DOT_">
          <span id="anchor-160">
          </span>
          A thousand years.
         </a>
        </li>
        <li id="id_side_li_157">
         <a href="#section" onclick="nav_clk_1('toc-section', 'id_side_li_157');" id="toc-section">
          <span id="anchor-161">
          </span>
          144,000
         </a>
        </li>
        <li id="id_side_li_158">
         <a href="#gods-wrath_DOT_" onclick="nav_clk_1('toc-gods-wrath_DOT_', 'id_side_li_158');" id="toc-gods-wrath_DOT_">
          <span id="anchor-162">
          </span>
          God's Wrath.
         </a>
        </li>
        <li id="id_side_li_159">
         <a href="#caught-up_DOT_" onclick="nav_clk_1('toc-caught-up_DOT_', 'id_side_li_159');" id="toc-caught-up_DOT_">
          <span id="anchor-163">
          </span>
          Caught up.
         </a>
        </li>
        <li id="id_side_li_160">
         <a href="#great-tribulation_DOT_" onclick="nav_clk_1('toc-great-tribulation_DOT_', 'id_side_li_160');" id="toc-great-tribulation_DOT_">
          <span id="anchor-164">
          </span>
          Great Tribulation.
         </a>
        </li>
        <li id="id_side_li_161">
         <a href="#eternal-abhorrence_DOT_" onclick="nav_clk_1('toc-eternal-abhorrence_DOT_', 'id_side_li_161');" id="toc-eternal-abhorrence_DOT_">
          <span id="anchor-165">
          </span>
          Eternal Abhorrence.
         </a>
        </li>
        <li id="id_side_li_162">
         <a href="#the-abomination-of-desolation_DOT_" onclick="nav_clk_2('toc-the-abomination-of-desolation_DOT_', 'id_side_li_162');" id="toc-the-abomination-of-desolation_DOT_" class="cl_sub_nav">
          <span id="anchor-167">
          </span>
          The
Abomination of Desolation.
         <i class="has_icons icon-side-menu"></i></a>
         <ul class="nested">
          <li id="id_side_li_163">
           <a href="#the-final-moment_DOT_" onclick="nav_clk_1('toc-the-final-moment_DOT_', 'id_side_li_163');" id="toc-the-final-moment_DOT_">
            <span id="anchor-168">
            </span>
            The final moment.
           </a>
          </li>
          <li id="id_side_li_164">
           <a href="#weeks_DOT_" onclick="nav_clk_1('toc-weeks_DOT_', 'id_side_li_164');" id="toc-weeks_DOT_">
            <span id="anchor-169">
            </span>
            70
Weeks.
           </a>
          </li>
          <li id="id_side_li_165">
           <a href="#north-and-south_DOT_" onclick="nav_clk_1('toc-north-and-south_DOT_', 'id_side_li_165');" id="toc-north-and-south_DOT_">
            <span id="anchor-170">
            </span>
            North and south.
           </a>
          </li>
         </ul>
        </li>
        <li id="id_side_li_166">
         <a href="#israel_DOT_" onclick="nav_clk_1('toc-israel_DOT_', 'id_side_li_166');" id="toc-israel_DOT_">
          <span id="anchor-171">
          </span>
          Israel.
         </a>
        </li>
        <li id="id_side_li_167">
         <a href="#details_DOT_" onclick="nav_clk_2('toc-details_DOT_', 'id_side_li_167');" id="toc-details_DOT_" class="cl_sub_nav">
          <span id="anchor-172">
          </span>
          Details.
         <i class="has_icons icon-side-menu"></i></a>
         <ul class="nested">
          <li id="id_side_li_168">
           <a href="#delivery_DOT_" onclick="nav_clk_1('toc-delivery_DOT_', 'id_side_li_168');" id="toc-delivery_DOT_">
            <span id="anchor-173">
            </span>
            <strong>
             Delivery
            </strong>
            .
           </a>
          </li>
          <li id="id_side_li_169">
           <a href="#messengers_DOT_" onclick="nav_clk_1('toc-messengers_DOT_', 'id_side_li_169');" id="toc-messengers_DOT_">
            <span id="anchor-174">
            </span>
            7 messengers.
           </a>
          </li>
          <li id="id_side_li_170">
           <a href="#babylon_DOT_" onclick="nav_clk_1('toc-babylon_DOT_', 'id_side_li_170');" id="toc-babylon_DOT_">
            <span id="anchor-175">
            </span>
            Babylon.
           </a>
          </li>
         </ul>
        </li>
        <li id="id_side_li_171">
         <a href="#reign_DOT_" onclick="nav_clk_1('toc-reign_DOT_', 'id_side_li_171');" id="toc-reign_DOT_">
          <span id="anchor-176">
          </span>
          Reign.
         </a>
        </li>
       </ul>
      </li>
     </ul>
    </li>
    <li id="id_side_li_172">
     <a href="#part-3_DOT_-periphery_DOT_" onclick="nav_clk_1('toc-part-3_DOT_-periphery_DOT_', 'id_side_li_172');" id="toc-part-3_DOT_-periphery_DOT_">
      <span id="anchor-177">
      </span>
      PART 3. PERIPHERY.
     </a>
     <ul>
      <li id="id_side_li_173">
       <a href="#beliefs_DOT_" onclick="nav_clk_1('toc-beliefs_DOT_', 'id_side_li_173');" id="toc-beliefs_DOT_">
        <span id="anchor-178">
        </span>
        Beliefs.
       </a>
       <ul>
        <li id="id_side_li_174">
         <a href="#principles_DOT_" onclick="nav_clk_1('toc-principles_DOT_', 'id_side_li_174');" id="toc-principles_DOT_">
          <span id="anchor-179">
          </span>
          Principles.
         </a>
        </li>
        <li id="id_side_li_175">
         <a href="#evidence_DOT_-1" onclick="nav_clk_1('toc-evidence_DOT_-1', 'id_side_li_175');" id="toc-evidence_DOT_-1">
          <span id="anchor-180">
          </span>
          Evidence.
         </a>
        </li>
       </ul>
      </li>
      <li id="id_side_li_176">
       <a href="#the-truth_DOT_" onclick="nav_clk_1('toc-the-truth_DOT_', 'id_side_li_176');" id="toc-the-truth_DOT_">
        <span id="anchor-181">
        </span>
        The Truth.
       </a>
      </li>
      <li id="id_side_li_177">
       <a href="#the-search_DOT_" onclick="nav_clk_1('toc-the-search_DOT_', 'id_side_li_177');" id="toc-the-search_DOT_">
        <span id="anchor-182">
        </span>
        The search.
       </a>
      </li>
      <li id="id_side_li_178">
       <a href="#supernatural_DOT_" onclick="nav_clk_1('toc-supernatural_DOT_', 'id_side_li_178');" id="toc-supernatural_DOT_">
        <span id="anchor-183">
        </span>
        Supernatural.
       </a>
      </li>
      <li id="id_side_li_179">
       <a href="#science_DOT_" onclick="nav_clk_1('toc-science_DOT_', 'id_side_li_179');" id="toc-science_DOT_">
        <span id="anchor-184">
        </span>
        Science.
       </a>
      </li>
      <li id="id_side_li_180">
       <a href="#distances_DOT_" onclick="nav_clk_1('toc-distances_DOT_', 'id_side_li_180');" id="toc-distances_DOT_">
        <span id="anchor-185">
        </span>
        Distances.
       </a>
      </li>
      <li id="id_side_li_181">
       <a href="#redshift_DOT_" onclick="nav_clk_1('toc-redshift_DOT_', 'id_side_li_181');" id="toc-redshift_DOT_">
        <span id="anchor-186">
        </span>
        Redshift.
       </a>
      </li>
      <li id="id_side_li_182">
       <a href="#radioactive_DOT_" onclick="nav_clk_1('toc-radioactive_DOT_', 'id_side_li_182');" id="toc-radioactive_DOT_">
        <span id="anchor-187">
        </span>
        Radioactive.
       </a>
      </li>
      <li id="id_side_li_183">
       <a href="#helium_DOT_" onclick="nav_clk_1('toc-helium_DOT_', 'id_side_li_183');" id="toc-helium_DOT_">
        <span id="anchor-188">
        </span>
        Helium.
       </a>
      </li>
      <li id="id_side_li_184">
       <a href="#factories_DOT_" onclick="nav_clk_1('toc-factories_DOT_', 'id_side_li_184');" id="toc-factories_DOT_">
        <span id="anchor-189">
        </span>
        Factories.
       </a>
      </li>
      <li id="id_side_li_185">
       <a href="#monomers_DOT_" onclick="nav_clk_1('toc-monomers_DOT_', 'id_side_li_185');" id="toc-monomers_DOT_">
        <span id="anchor-190">
        </span>
        Monomers.
       </a>
       <ul>
        <li id="id_side_li_186">
         <a href="#the-letters_DOT_" onclick="nav_clk_1('toc-the-letters_DOT_', 'id_side_li_186');" id="toc-the-letters_DOT_">
          <span id="anchor-191">
          </span>
          The letters.
         </a>
        </li>
        <li id="id_side_li_187">
         <a href="#gloves_DOT_" onclick="nav_clk_1('toc-gloves_DOT_', 'id_side_li_187');" id="toc-gloves_DOT_">
          <span id="anchor-192">
          </span>
          Gloves.
         </a>
        </li>
        <li id="id_side_li_188">
         <a href="#reactions_DOT_" onclick="nav_clk_1('toc-reactions_DOT_', 'id_side_li_188');" id="toc-reactions_DOT_">
          <span id="anchor-193">
          </span>
          Reactions.
         </a>
        </li>
        <li id="id_side_li_189">
         <a href="#easy_DOT_-1" onclick="nav_clk_1('toc-easy_DOT_-1', 'id_side_li_189');" id="toc-easy_DOT_-1">
          <span id="anchor-194">
          </span>
          Easy.
         </a>
        </li>
       </ul>
      </li>
      <li id="id_side_li_190">
       <a href="#polymers_DOT_" onclick="nav_clk_1('toc-polymers_DOT_', 'id_side_li_190');" id="toc-polymers_DOT_">
        <span id="anchor-195">
        </span>
        Polymers.
       </a>
      </li>
      <li id="id_side_li_191">
       <a href="#programmer_DOT_" onclick="nav_clk_1('toc-programmer_DOT_', 'id_side_li_191');" id="toc-programmer_DOT_">
        <span id="anchor-196">
        </span>
        Programmer.
       </a>
      </li>
      <li id="id_side_li_192">
       <a href="#the-tale-of-the-frog_DOT_" onclick="nav_clk_1('toc-the-tale-of-the-frog_DOT_', 'id_side_li_192');" id="toc-the-tale-of-the-frog_DOT_">
        <span id="anchor-197">
        </span>
        The tale of
the frog.
       </a>
      </li>
      <li id="id_side_li_193">
       <a href="#trees_DOT_" onclick="nav_clk_1('toc-trees_DOT_', 'id_side_li_193');" id="toc-trees_DOT_">
        <span id="anchor-198">
        </span>
        Trees.
       </a>
      </li>
      <li id="id_side_li_194">
       <a href="#coal_DOT_" onclick="nav_clk_1('toc-coal_DOT_', 'id_side_li_194');" id="toc-coal_DOT_">
        <span id="anchor-199">
        </span>
        Coal.
       </a>
      </li>
      <li id="id_side_li_195">
       <a href="#tectonics_DOT_" onclick="nav_clk_1('toc-tectonics_DOT_', 'id_side_li_195');" id="toc-tectonics_DOT_">
        <span id="anchor-200">
        </span>
        Tectonics.
       </a>
       <ul>
        <li id="id_side_li_196">
         <a href="#trenches_DOT_" onclick="nav_clk_1('toc-trenches_DOT_', 'id_side_li_196');" id="toc-trenches_DOT_">
          <span id="anchor-201">
          </span>
          Trenches.
         </a>
        </li>
       </ul>
      </li>
      <li id="id_side_li_197">
       <a href="#ridges_DOT_" onclick="nav_clk_1('toc-ridges_DOT_', 'id_side_li_197');" id="toc-ridges_DOT_">
        <span id="anchor-202">
        </span>
        Ridges.
       </a>
      </li>
      <li id="id_side_li_198">
       <a href="#hydroplates_DOT_" onclick="nav_clk_1('toc-hydroplates_DOT_', 'id_side_li_198');" id="toc-hydroplates_DOT_">
        <span id="anchor-203">
        </span>
        Hydroplates.
       </a>
       <ul>
        <li id="id_side_li_199">
         <a href="#another-story_DOT_" onclick="nav_clk_1('toc-another-story_DOT_', 'id_side_li_199');" id="toc-another-story_DOT_">
          <span id="anchor-204">
          </span>
          Another story.
         </a>
        </li>
        <li id="id_side_li_200">
         <a href="#conditions_DOT_" onclick="nav_clk_1('toc-conditions_DOT_', 'id_side_li_200');" id="toc-conditions_DOT_">
          <span id="anchor-205">
          </span>
          Conditions.
         </a>
        </li>
        <li id="id_side_li_201">
         <a href="#the-process_DOT_" onclick="nav_clk_1('toc-the-process_DOT_', 'id_side_li_201');" id="toc-the-process_DOT_">
          <span id="anchor-206">
          </span>
          The process.
         </a>
        </li>
        <li id="id_side_li_202">
         <a href="#in-two_DOT_" onclick="nav_clk_1('toc-in-two_DOT_', 'id_side_li_202');" id="toc-in-two_DOT_">
          <span id="anchor-207">
          </span>
          In
two.
         </a>
        </li>
        <li id="id_side_li_203">
         <a href="#a-comparison_DOT_" onclick="nav_clk_1('toc-a-comparison_DOT_', 'id_side_li_203');" id="toc-a-comparison_DOT_">
          <span id="anchor-208">
          </span>
          A comparison.
         </a>
        </li>
        <li id="id_side_li_204">
         <a href="#rupture-phase_DOT_" onclick="nav_clk_2('toc-rupture-phase_DOT_', 'id_side_li_204');" id="toc-rupture-phase_DOT_" class="cl_sub_nav">
          <span id="anchor-209">
          </span>
          Rupture Phase.
         <i class="has_icons icon-side-menu"></i></a>
         <ul class="nested">
          <li id="id_side_li_205">
           <a href="#water_DOT_" onclick="nav_clk_1('toc-water_DOT_', 'id_side_li_205');" id="toc-water_DOT_">
            <span id="anchor-210">
            </span>
            Water.
           </a>
          </li>
          <li id="id_side_li_206">
           <a href="#objects_DOT_" onclick="nav_clk_1('toc-objects_DOT_', 'id_side_li_206');" id="toc-objects_DOT_">
            <span id="anchor-211">
            </span>
            Objects.
           </a>
          </li>
         </ul>
        </li>
        <li id="id_side_li_207">
         <a href="#flood-phase_DOT_" onclick="nav_clk_2('toc-flood-phase_DOT_', 'id_side_li_207');" id="toc-flood-phase_DOT_" class="cl_sub_nav">
          <span id="anchor-212">
          </span>
          Flood Phase.
         <i class="has_icons icon-side-menu"></i></a>
         <ul class="nested">
          <li id="id_side_li_208">
           <a href="#hail_DOT_" onclick="nav_clk_1('toc-hail_DOT_', 'id_side_li_208');" id="toc-hail_DOT_">
            <span id="anchor-213">
            </span>
            Hail.
           </a>
          </li>
          <li id="id_side_li_209">
           <a href="#discharges_DOT_" onclick="nav_clk_1('toc-discharges_DOT_', 'id_side_li_209');" id="toc-discharges_DOT_">
            <span id="anchor-214">
            </span>
            Discharges.
           </a>
          </li>
          <li id="id_side_li_210">
           <a href="#strata_DOT_" onclick="nav_clk_1('toc-strata_DOT_', 'id_side_li_210');" id="toc-strata_DOT_">
            <span id="anchor-215">
            </span>
            Strata.
           </a>
          </li>
         </ul>
        </li>
        <li id="id_side_li_211">
         <a href="#drift-phase_DOT_" onclick="nav_clk_2('toc-drift-phase_DOT_', 'id_side_li_211');" id="toc-drift-phase_DOT_" class="cl_sub_nav">
          <span id="anchor-216">
          </span>
          Drift Phase.
         <i class="has_icons icon-side-menu"></i></a>
         <ul class="nested">
          <li id="id_side_li_212">
           <a href="#ridge_DOT_" onclick="nav_clk_1('toc-ridge_DOT_', 'id_side_li_212');" id="toc-ridge_DOT_">
            <span id="anchor-217">
            </span>
            Ridge.
           </a>
          </li>
          <li id="id_side_li_213">
           <a href="#magnetic_DOT_" onclick="nav_clk_1('toc-magnetic_DOT_', 'id_side_li_213');" id="toc-magnetic_DOT_">
            <span id="anchor-218">
            </span>
            Magnetic.
           </a>
          </li>
          <li id="id_side_li_214">
           <a href="#separated_DOT_" onclick="nav_clk_1('toc-separated_DOT_', 'id_side_li_214');" id="toc-separated_DOT_">
            <span id="anchor-219">
            </span>
            Separated.
           </a>
          </li>
         </ul>
        </li>
        <li id="id_side_li_215">
         <a href="#recovery-phase_DOT_" onclick="nav_clk_2('toc-recovery-phase_DOT_', 'id_side_li_215');" id="toc-recovery-phase_DOT_" class="cl_sub_nav">
          <span id="anchor-220">
          </span>
          Recovery Phase.
         <i class="has_icons icon-side-menu"></i></a>
         <ul class="nested">
          <li id="id_side_li_216">
           <a href="#magma_DOT_" onclick="nav_clk_1('toc-magma_DOT_', 'id_side_li_216');" id="toc-magma_DOT_">
            <span id="anchor-221">
            </span>
            Magma.
           </a>
          </li>
          <li id="id_side_li_217">
           <a href="#earthquakes_DOT_" onclick="nav_clk_1('toc-earthquakes_DOT_', 'id_side_li_217');" id="toc-earthquakes_DOT_">
            <span id="anchor-222">
            </span>
            Earthquakes.
           </a>
          </li>
          <li id="id_side_li_218">
           <a href="#field_DOT_" onclick="nav_clk_1('toc-field_DOT_', 'id_side_li_218');" id="toc-field_DOT_">
            <span id="anchor-223">
            </span>
            Field.
           </a>
          </li>
          <li id="id_side_li_219">
           <a href="#bulging-and-sinking_DOT_" onclick="nav_clk_1('toc-bulging-and-sinking_DOT_', 'id_side_li_219');" id="toc-bulging-and-sinking_DOT_">
            <span id="anchor-224">
            </span>
            Bulging and Sinking.
           </a>
          </li>
          <li id="id_side_li_220">
           <a href="#trenches_DOT_-1" onclick="nav_clk_1('toc-trenches_DOT_-1', 'id_side_li_220');" id="toc-trenches_DOT_-1">
            <span id="anchor-225">
            </span>
            Trenches.
           </a>
          </li>
          <li id="id_side_li_221">
           <a href="#mountains_DOT_" onclick="nav_clk_1('toc-mountains_DOT_', 'id_side_li_221');" id="toc-mountains_DOT_">
            <span id="anchor-226">
            </span>
            Mountains.
           </a>
          </li>
          <li id="id_side_li_222">
           <a href="#unconformities_DOT_" onclick="nav_clk_1('toc-unconformities_DOT_', 'id_side_li_222');" id="toc-unconformities_DOT_">
            <span id="anchor-227">
            </span>
            Unconformities.
           </a>
          </li>
          <li id="id_side_li_223">
           <a href="#hydrocarbons_DOT_" onclick="nav_clk_1('toc-hydrocarbons_DOT_', 'id_side_li_223');" id="toc-hydrocarbons_DOT_">
            <span id="anchor-228">
            </span>
            Hydrocarbons.
           </a>
          </li>
          <li id="id_side_li_224">
           <a href="#canyons_DOT_" onclick="nav_clk_1('toc-canyons_DOT_', 'id_side_li_224');" id="toc-canyons_DOT_">
            <span id="anchor-229">
            </span>
            Canyons.
           </a>
          </li>
          <li id="id_side_li_225">
           <a href="#plateaus_DOT_" onclick="nav_clk_1('toc-plateaus_DOT_', 'id_side_li_225');" id="toc-plateaus_DOT_">
            <span id="anchor-230">
            </span>
            Plateaus.
           </a>
          </li>
          <li id="id_side_li_226">
           <a href="#butte_DOT_" onclick="nav_clk_1('toc-butte_DOT_', 'id_side_li_226');" id="toc-butte_DOT_">
            <span id="anchor-231">
            </span>
            Butte.
           </a>
          </li>
          <li id="id_side_li_227">
           <a href="#latitude-rotation_DOT_" onclick="nav_clk_1('toc-latitude-rotation_DOT_', 'id_side_li_227');" id="toc-latitude-rotation_DOT_">
            <span id="anchor-232">
            </span>
            Latitude rotation.
           </a>
          </li>
          <li id="id_side_li_228">
           <a href="#meridian-90_DOT_" onclick="nav_clk_1('toc-meridian-90_DOT_', 'id_side_li_228');" id="toc-meridian-90_DOT_">
            <span id="anchor-233">
            </span>
            Meridian 90.
           </a>
          </li>
          <li id="id_side_li_229">
           <a href="#continues_DOT_" onclick="nav_clk_1('toc-continues_DOT_', 'id_side_li_229');" id="toc-continues_DOT_">
            <span id="anchor-234">
            </span>
            Continues.
           </a>
          </li>
         </ul>
        </li>
        <li id="id_side_li_230">
         <a href="#differences_DOT_" onclick="nav_clk_1('toc-differences_DOT_', 'id_side_li_230');" id="toc-differences_DOT_">
          <span id="anchor-235">
          </span>
          Differences.
         </a>
        </li>
       </ul>
      </li>
      <li id="id_side_li_231">
       <a href="#the-couple_DOT_" onclick="nav_clk_1('toc-the-couple_DOT_', 'id_side_li_231');" id="toc-the-couple_DOT_">
        <span id="anchor-236">
        </span>
        The couple.
       </a>
       <ul>
        <li id="id_side_li_232">
         <a href="#reproduction_DOT_-1" onclick="nav_clk_1('toc-reproduction_DOT_-1', 'id_side_li_232');" id="toc-reproduction_DOT_-1">
          <span id="anchor-237">
          </span>
          Reproduction.
         </a>
        </li>
        <li id="id_side_li_233">
         <a href="#no-cheating_DOT_" onclick="nav_clk_1('toc-no-cheating_DOT_', 'id_side_li_233');" id="toc-no-cheating_DOT_">
          <span id="anchor-238">
          </span>
          No cheating.
         </a>
        </li>
       </ul>
      </li>
      <li id="id_side_li_234">
       <a href="#dinosaurs_DOT_" onclick="nav_clk_1('toc-dinosaurs_DOT_', 'id_side_li_234');" id="toc-dinosaurs_DOT_">
        <span id="anchor-239">
        </span>
        Dinosaurs.
       </a>
       <ul>
        <li id="id_side_li_235">
         <a href="#biblical_DOT_" onclick="nav_clk_1('toc-biblical_DOT_', 'id_side_li_235');" id="toc-biblical_DOT_">
          <span id="anchor-240">
          </span>
          Biblical.
         </a>
        </li>
       </ul>
      </li>
      <li id="id_side_li_236">
       <a href="#taxonomy_DOT_" onclick="nav_clk_1('toc-taxonomy_DOT_', 'id_side_li_236');" id="toc-taxonomy_DOT_">
        <span id="anchor-241">
        </span>
        Taxonomy.
       </a>
       <ul>
        <li id="id_side_li_237">
         <a href="#th-century_DOT_" onclick="nav_clk_1('toc-th-century_DOT_', 'id_side_li_237');" id="toc-th-century_DOT_">
          <span id="anchor-242">
          </span>
          18th century.
         </a>
        </li>
        <li id="id_side_li_238">
         <a href="#biblical_DOT_-1" onclick="nav_clk_1('toc-biblical_DOT_-1', 'id_side_li_238');" id="toc-biblical_DOT_-1">
          <span id="anchor-243">
          </span>
          Biblical.
         </a>
        </li>
        <li id="id_side_li_239">
         <a href="#few_DOT_" onclick="nav_clk_1('toc-few_DOT_', 'id_side_li_239');" id="toc-few_DOT_">
          <span id="anchor-244">
          </span>
          Few.
         </a>
        </li>
        <li id="id_side_li_240">
         <a href="#adaptation_DOT_" onclick="nav_clk_1('toc-adaptation_DOT_', 'id_side_li_240');" id="toc-adaptation_DOT_">
          <span id="anchor-245">
          </span>
          Adaptation.
         </a>
        </li>
       </ul>
      </li>
      <li id="id_side_li_241">
       <a href="#noahs-ark_DOT_" onclick="nav_clk_1('toc-noahs-ark_DOT_', 'id_side_li_241');" id="toc-noahs-ark_DOT_">
        <span id="anchor-246">
        </span>
        Noah's Ark.
       </a>
       <ul>
        <li id="id_side_li_242">
         <a href="#section-1" onclick="nav_clk_1('toc-section-1', 'id_side_li_242');" id="toc-section-1">
          <span id="anchor-247">
          </span>
          1948.
         </a>
        </li>
        <li id="id_side_li_243">
         <a href="#section-2" onclick="nav_clk_1('toc-section-2', 'id_side_li_243');" id="toc-section-2">
          <span id="anchor-248">
          </span>
          2014.
         </a>
        </li>
        <li id="id_side_li_244">
         <a href="#the-facts_DOT_" onclick="nav_clk_1('toc-the-facts_DOT_', 'id_side_li_244');" id="toc-the-facts_DOT_">
          <span id="anchor-249">
          </span>
          The facts.
         </a>
        </li>
        <li id="id_side_li_245">
         <a href="#logistics_DOT_" onclick="nav_clk_1('toc-logistics_DOT_', 'id_side_li_245');" id="toc-logistics_DOT_">
          <span id="anchor-250">
          </span>
          Logistics.
         </a>
        </li>
        <li id="id_side_li_246">
         <a href="#first-things-first_DOT_" onclick="nav_clk_1('toc-first-things-first_DOT_', 'id_side_li_246');" id="toc-first-things-first_DOT_">
          <span id="anchor-251">
          </span>
          First thing's first.
         </a>
        </li>
       </ul>
      </li>
      <li id="id_side_li_247">
       <a href="#history_DOT_" onclick="nav_clk_1('toc-history_DOT_', 'id_side_li_247');" id="toc-history_DOT_">
        <span id="anchor-252">
        </span>
        History.
       </a>
      </li>
      <li id="id_side_li_248">
       <a href="#the-column_DOT_" onclick="nav_clk_1('toc-the-column_DOT_', 'id_side_li_248');" id="toc-the-column_DOT_">
        <span id="anchor-253">
        </span>
        The Column.
       </a>
      </li>
      <li id="id_side_li_249">
       <a href="#genealogies_DOT_" onclick="nav_clk_1('toc-genealogies_DOT_', 'id_side_li_249');" id="toc-genealogies_DOT_">
        <span id="anchor-254">
        </span>
        Genealogies.
       </a>
      </li>
      <li id="id_side_li_250">
       <a href="#eridu_DOT_" onclick="nav_clk_1('toc-eridu_DOT_', 'id_side_li_250');" id="toc-eridu_DOT_">
        <span id="anchor-255">
        </span>
        Eridu.
       </a>
      </li>
      <li id="id_side_li_251">
       <a href="#monumental-egypt_DOT_" onclick="nav_clk_1('toc-monumental-egypt_DOT_', 'id_side_li_251');" id="toc-monumental-egypt_DOT_">
        <span id="anchor-256">
        </span>
        Monumental Egypt.
       </a>
      </li>
      <li id="id_side_li_252">
       <a href="#ur_DOT_" onclick="nav_clk_1('toc-ur_DOT_', 'id_side_li_252');" id="toc-ur_DOT_">
        <span id="anchor-257">
        </span>
        Ur.
       </a>
      </li>
      <li id="id_side_li_253">
       <a href="#sodom-and-gomorrah_DOT_" onclick="nav_clk_1('toc-sodom-and-gomorrah_DOT_', 'id_side_li_253');" id="toc-sodom-and-gomorrah_DOT_">
        <span id="anchor-258">
        </span>
        Sodom and Gomorrah.
       </a>
      </li>
      <li id="id_side_li_254">
       <a href="#imhotep_DOT_" onclick="nav_clk_1('toc-imhotep_DOT_', 'id_side_li_254');" id="toc-imhotep_DOT_">
        <span id="anchor-259">
        </span>
        Imhotep.
       </a>
      </li>
      <li id="id_side_li_255">
       <a href="#nuweiba_DOT_" onclick="nav_clk_1('toc-nuweiba_DOT_', 'id_side_li_255');" id="toc-nuweiba_DOT_">
        <span id="anchor-260">
        </span>
        Nuweiba.
       </a>
      </li>
      <li id="id_side_li_256">
       <a href="#jabal-maqla_DOT_" onclick="nav_clk_1('toc-jabal-maqla_DOT_', 'id_side_li_256');" id="toc-jabal-maqla_DOT_">
        <span id="anchor-261">
        </span>
        Jabal-Maqla.
       </a>
      </li>
      <li id="id_side_li_257">
       <a href="#synchronizing-egypt_DOT_" onclick="nav_clk_1('toc-synchronizing-egypt_DOT_', 'id_side_li_257');" id="toc-synchronizing-egypt_DOT_">
        <span id="anchor-262">
        </span>
        Synchronizing Egypt.
       </a>
      </li>
      <li id="id_side_li_258">
       <a href="#probability_DOT_" onclick="nav_clk_1('toc-probability_DOT_', 'id_side_li_258');" id="toc-probability_DOT_">
        <span id="anchor-263">
        </span>
        Probability.
       </a>
       <ul>
        <li id="id_side_li_259">
         <a href="#fundamental-probability_DOT_" onclick="nav_clk_1('toc-fundamental-probability_DOT_', 'id_side_li_259');" id="toc-fundamental-probability_DOT_">
          <span id="anchor-264">
          </span>
          Fundamental probability.
         </a>
        </li>
        <li id="id_side_li_260">
         <a href="#statistical-probability_DOT_" onclick="nav_clk_1('toc-statistical-probability_DOT_', 'id_side_li_260');" id="toc-statistical-probability_DOT_">
          <span id="anchor-265">
          </span>
          Statistical probability.
         </a>
        </li>
        <li id="id_side_li_261">
         <a href="#creations_DOT_" onclick="nav_clk_1('toc-creations_DOT_', 'id_side_li_261');" id="toc-creations_DOT_">
          <span id="anchor-266">
          </span>
          Creations.
         </a>
        </li>
        <li id="id_side_li_262">
         <a href="#quantum_DOT_" onclick="nav_clk_1('toc-quantum_DOT_', 'id_side_li_262');" id="toc-quantum_DOT_">
          <span id="anchor-267">
          </span>
          Quantum.
         </a>
        </li>
        <li id="id_side_li_263">
         <a href="#popular_DOT_" onclick="nav_clk_1('toc-popular_DOT_', 'id_side_li_263');" id="toc-popular_DOT_">
          <span id="anchor-268">
          </span>
          Popular.
         </a>
        </li>
       </ul>
      </li>
      <li id="id_side_li_264">
       <a href="#gravely-absurd_DOT_" onclick="nav_clk_1('toc-gravely-absurd_DOT_', 'id_side_li_264');" id="toc-gravely-absurd_DOT_">
        <span id="anchor-269">
        </span>
        Gravely absurd.
       </a>
      </li>
      <li id="id_side_li_265">
       <a href="#fields_DOT_" onclick="nav_clk_1('toc-fields_DOT_', 'id_side_li_265');" id="toc-fields_DOT_">
        <span id="anchor-270">
        </span>
        Fields.
       </a>
      </li>
      <li id="id_side_li_266">
       <a href="#extraterrestrial_DOT_" onclick="nav_clk_1('toc-extraterrestrial_DOT_', 'id_side_li_266');" id="toc-extraterrestrial_DOT_">
        <span id="anchor-271">
        </span>
        Extraterrestrial.
       </a>
      </li>
      <li id="id_side_li_267">
       <a href="#determinism_DOT_" onclick="nav_clk_1('toc-determinism_DOT_', 'id_side_li_267');" id="toc-determinism_DOT_">
        <span id="anchor-272">
        </span>
        Determinism.
       </a>
      </li>
     </ul>
    </li>
    <li id="id_side_li_268">
     <a href="#part-4_DOT_-testimony_DOT_" onclick="nav_clk_1('toc-part-4_DOT_-testimony_DOT_', 'id_side_li_268');" id="toc-part-4_DOT_-testimony_DOT_">
      <span id="anchor-273">
      </span>
      PART 4. TESTIMONY.
     </a>
     <ul>
      <li id="id_side_li_269">
       <a href="#my-testimony_DOT_" onclick="nav_clk_1('toc-my-testimony_DOT_', 'id_side_li_269');" id="toc-my-testimony_DOT_">
        <span id="anchor-274">
        </span>
        My testimony.
       </a>
      </li>
      <li id="id_side_li_270">
       <a href="#and-you" onclick="nav_clk_1('toc-and-you', 'id_side_li_270');" id="toc-and-you">
        <span id="anchor-275">
        </span>
        And
you?
       </a>
      </li>
     </ul>
    </li>
    <li id="id_side_li_271">
     <a href="#biblical-references" onclick="nav_clk_1('toc-biblical-references', 'id_side_li_271');" id="toc-biblical-references">
      <span id="anchor-276">
      </span>
      Biblical References
     </a>
    </li>
   
