
{{> ../all_mustache/empty_top}}

<div class="exam_content">

<h1 class="big_title">Selector Biblico Strong</h1>

<div class="grid_tool">
	<div id="id_old_test" class="old_testam_item">
	WLC
	</div>
	<div id="id_new_test" class="new_testam_item">
	BYZ
	</div>
	<div id="id_version" class="version_item">
	SBLM
	</div>
	<div id="id_search" class="search_item">
	BUSQUE
	</div>
	<div id="id_select" class="search_button_item">
	ENCUENTRA
	</div>
	<div id="id_verses" class="verse_list">
	ENCONTRADOS
	</div>

</div>

{{> ../all_mustache/bottom}}

