<!DOCTYPE html>
<html>
<head>
{{#with_gstats}}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KBJN1N7HKP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KBJN1N7HKP');
</script>
{{/with_gstats}}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>toda-carne.github.io</title>
<meta name="author" content="Jose Luis Quiroga">
<link rel="stylesheet" href="../code/bq_styles.css">
</head>
<body>

<div class="adapt_menu_bar">
	<div id="id_top_menu" class="adapt_menu">
		<a id="id_home" class="adapt_item" title="Home" href="module_questions.html"><i class="has_icons icon-bible"></i></a>
	</div>
	<div class="adapt_menu_pop">
	</div>		
</div>


