
<div id="id_exam_content" class="exam_content">
	<div id="id_exam_top_content"></div>
	<div id="id_pop_opt_sec"></div>
	<div id="id_user_info_sec"></div>
	<div id="id_admin_ops_sec"></div>
	<div id="id_exam_name" class="big_title"></div>
    <div id="id_exam_all_questions"></div>  
	<div class="end_of_content"></div>
</div>

<script type="text/javascript" src="../code/qrcode.js"></script>

