
{{> top}}
<div class="exam_content">

<h1 class="big_title">Questionnaire Notes</h1>

<h1>"harder to make" meaning</h1>

measure the number of components or elements that make up the system
complex tasks: multiple steps, dependencies, resources, relevance, and uncertainties
use various indicators, such as efficiency, effectiveness, reliability, accuracy, or durability

<p>It refers to the functional complexity of the object, measured with the following formula: </p>

<p>summation(number_of_men_work_hours(number_of_men_experience_hours, number_of_men_training_hours))</p>

<h1>"more technology" meaning</h1>

technical creativity
Originality, relevance, fluency, and flexibility
novelty, appropriateness/usefulness and impact

Built on J.P. Guilford's work and created by Ellis Paul Torrance, the Torrance Tests of Creative Thinking, a test of creativity, originally involved simple tests of divergent thinking and other problem-solving skills, which were scored on four scales:

Fluency. The total number of interpretable, meaningful, and relevant ideas generated in response to the stimulus.
Flexibility. The number of different categories of relevant responses.
Originality. The statistical rarity of the responses.
Elaboration. The amount of detail in the responses.

applied sciences


</div>
{{> bottom}}

