
{{> top}}

{{> ../all_mustache/top_exam}}

<script type="module">
import * as mod_mgr from '../code/bq_module_mgr.js';
window.onload = function() {
	mod_mgr.start_module_mgr("en");
}
</script>

{{> bottom}}

