<!DOCTYPE html>
<html>
<head>
{{#with_gstats}}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KBJN1N7HKP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KBJN1N7HKP');
</script>
{{/with_gstats}}

<script src="https://accounts.google.com/gsi/client" async defer></script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>toda-carne.github.io</title>
<meta name="author" content="Jose Luis Quiroga">
<link rel="stylesheet" href="../code/bq_styles.css">
</head>
<body>

<div class="adapt_menu_bar">
	<div id="id_top_menu" class="adapt_menu">
		<a id="id_home" class="adapt_item" title="Home"><i class="has_icons icon-bible"></i></a>
		<div id="id_exam_undo_button" class="adapt_item" title="Undo" ><i class='has_icons icon-undo'></i></div>
		<div class="adapt_item no_padding" title="User"><img id="id_top_user_picture" class="img_user" src="../img/user.jpg"></div>
		<div id="id_top_user_name" class="adapt_item" title="User Name">Guest</div>
		<div id="id_exam_save_button" class="adapt_item" title="Save" ><i class='has_icons icon-save'></i>Save</div>
		<div id="id_exam_open_button" class="adapt_item" title="Open" ><i class='has_icons icon-open'></i>Open</div>
		<div id="id_exam_delete_button" class="adapt_item" title="Delete" ><i class='has_icons icon-delete'></i></div>
		<div id="id_exam_qmodus_button" class="adapt_item" title="Modules"><i class="has_icons icon-schema"></i></i></div>
		<a class="adapt_item" title="Language" href="language.html"><i class="has_icons icon-language"></i></a>
	</div>
	<div id="id_pop_menu" class="adapt_menu_pop">
		<i class="has_icons icon-menu"></i>
	</div>		
</div>


