<!DOCTYPE html>
<html>
<head>
{{#with_gstats}}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KBJN1N7HKP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KBJN1N7HKP');
</script>
{{/with_gstats}}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>toda-carne.github.io</title>
<meta name="author" content="Jose Luis Quiroga">
<link rel="stylesheet" href="../code/tc_styles.css">
</head>
<body>

<div class="cl_top_nav">
	<a href="javascript:void(0);" class="cl_top_elem" id="id_side_menu" onclick="toggle_side_menu('id_side_nav')">
		<i class="has_icons icon-side-menu"></i></a>
	<a href="module_creator_resu.html" class="cl_top_elem" title="Home" onclick="close_top_menu()" id="id_home">
		<i class="has_icons icon-bible"></i></a>
	<div id="id_exam_save_button" class="cl_top_elem" title="Save" onclick="close_top_menu()"><i class='has_icons icon-save'></i>Save</div>
	<div id="id_exam_open_button" class="cl_top_elem" title="Open" onclick="close_top_menu()"><i class='has_icons icon-open'></i>Open</div>
	<div id="id_exam_delete_button" class="cl_top_elem" title="Delete" onclick="close_top_menu()"><i class='has_icons icon-delete'></i></div>
	<div id="id_exam_undo_button" class="cl_top_elem" title="Undo" onclick="close_top_menu()"><i class='has_icons icon-undo'></i></div>
	<a href="language.html" class="cl_top_elem" title="Language" onclick="close_top_menu()">
		<i class="has_icons icon-language"></i></a>
	<a href="javascript:void(0);" class="cl_top_elem" id="id_top_menu" onclick="toggle_top_menu()">
		<i class="has_icons icon-menu"></i></a>
</div>

<div id="id_exam_content" class="exam_content">
	<div id="id_exam_top_content"></div>
	<div id="id_exam_name" class="big_title"></div>
    <div id="id_exam_all_questions"></div>  
	<br><br><br><br><br><br><br><br><br>
</div>
