<html>
 <head>
	<meta charset="utf-8">
 </head>
 <body>
  <nav id="TOC" role="doc-toc">
   <ul>
    <li>
     <a href="#todacarne.com" id="toc-todacarne.com">
      <span id="anchor">
      </span>
      TodaCarne.com
     </a>
     <ul>
      <li>
       <a href="#english" id="toc-english">
        English
       </a>
      </li>
     </ul>
    </li>
    <li>
     <a href="#table-of-contents." id="toc-table-of-contents.">
      <span id="anchor-1">
      </span>
      Table of Contents.
     </a>
    </li>
    <li>
     <a href="#part-1.-introduction." id="toc-part-1.-introduction.">
      <span id="anchor-2">
      </span>
      PART 1.
INTRODUCTION.
     </a>
     <ul>
      <li>
       <a href="#introduction." id="toc-introduction.">
        <span id="anchor-3">
        </span>
        Introduction.
       </a>
       <ul>
        <li>
         <a href="#goal." id="toc-goal.">
          <span id="anchor-4">
          </span>
          Goal.
         </a>
        </li>
        <li>
         <a href="#warning." id="toc-warning.">
          <span id="anchor-5">
          </span>
          Warning.
         </a>
        </li>
        <li>
         <a href="#questions." id="toc-questions.">
          <span id="anchor-6">
          </span>
          Questions.
         </a>
        </li>
       </ul>
      </li>
     </ul>
    </li>
    <li>
     <a href="#part-2.-center." id="toc-part-2.-center.">
      <span id="anchor-8">
      </span>
      PART 2. CENTER.
     </a>
     <ul>
      <li>
       <a href="#creator." id="toc-creator.">
        <span id="anchor-9">
        </span>
        Creator.
       </a>
       <ul>
        <li>
         <a href="#technical-creativity." id="toc-technical-creativity.">
          <span id="anchor-10">
          </span>
          Technical
creativity.
         </a>
         <ul>
          <li>
           <a href="#application." id="toc-application.">
            <span id="anchor-11">
            </span>
            Application.
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="#technical-complexity." id="toc-technical-complexity.">
          <span id="anchor-12">
          </span>
          Technical
complexity.
         </a>
        </li>
        <li>
         <a href="#biology." id="toc-biology.">
          <span id="anchor-13">
          </span>
          Biology.
         </a>
        </li>
        <li>
         <a href="#creator.-1" id="toc-creator.-1">
          <span id="anchor-14">
          </span>
          Creator.
         </a>
        </li>
        <li>
         <a href="#evidence." id="toc-evidence.">
          <span id="anchor-15">
          </span>
          Evidence.
         </a>
        </li>
        <li>
         <a href="#reproduction." id="toc-reproduction.">
          <span id="anchor-16">
          </span>
          Reproduction.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#resurrection." id="toc-resurrection.">
        <span id="anchor-17">
        </span>
        Resurrection.
       </a>
       <ul>
        <li>
         <a href="#future." id="toc-future.">
          <span id="anchor-18">
          </span>
          Future.
         </a>
        </li>
        <li>
         <a href="#physical." id="toc-physical.">
          <span id="anchor-19">
          </span>
          Physical.
         </a>
        </li>
        <li>
         <a href="#they-cant-die." id="toc-they-cant-die.">
          <span id="anchor-20">
          </span>
          They can&#39;t die.
         </a>
        </li>
        <li>
         <a href="#in-the-sky." id="toc-in-the-sky.">
          <span id="anchor-21">
          </span>
          In the sky.
         </a>
        </li>
        <li>
         <a href="#for-all." id="toc-for-all.">
          <span id="anchor-22">
          </span>
          For all.
         </a>
        </li>
        <li>
         <a href="#has-not-happened." id="toc-has-not-happened.">
          <span id="anchor-23">
          </span>
          Has not happened.
         </a>
        </li>
        <li>
         <a href="#asleep." id="toc-asleep.">
          <span id="anchor-24">
          </span>
          Asleep.
         </a>
        </li>
        <li>
         <a href="#a-new-earth." id="toc-a-new-earth.">
          <span id="anchor-25">
          </span>
          A new earth.
         </a>
        </li>
        <li>
         <a href="#basis-of-faith." id="toc-basis-of-faith.">
          <span id="anchor-26">
          </span>
          Basis of Faith.
         </a>
        </li>
        <li>
         <a href="#possible." id="toc-possible.">
          <span id="anchor-27">
          </span>
          Possible.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#the-cloth." id="toc-the-cloth.">
        <span id="anchor-28">
        </span>
        The Cloth.
       </a>
       <ul>
        <li>
         <a href="#a-negative." id="toc-a-negative.">
          <span id="anchor-29">
          </span>
          A negative.
         </a>
        </li>
        <li>
         <a href="#photographic-realism." id="toc-photographic-realism.">
          <span id="anchor-30">
          </span>
          Photographic
realism.
         </a>
        </li>
        <li>
         <a href="#oxidized-microfibers." id="toc-oxidized-microfibers.">
          <span id="anchor-31">
          </span>
          Oxidized
microfibers.
         </a>
        </li>
        <li>
         <a href="#information-in-the-image." id="toc-information-in-the-image.">
          <span id="anchor-32">
          </span>
          Information in the image.
         </a>
        </li>
        <li>
         <a href="#ultraviolet-light." id="toc-ultraviolet-light.">
          <span id="anchor-33">
          </span>
          Ultraviolet light.
         </a>
        </li>
        <li>
         <a href="#bilirubin." id="toc-bilirubin.">
          <span id="anchor-34">
          </span>
          Bilirubin.
         </a>
        </li>
        <li>
         <a href="#forensic-details." id="toc-forensic-details.">
          <span id="anchor-35">
          </span>
          Forensic details.
         </a>
        </li>
        <li>
         <a href="#replications." id="toc-replications.">
          <span id="anchor-36">
          </span>
          Replications.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#past." id="toc-past.">
        <span id="anchor-37">
        </span>
        Past.
       </a>
       <ul>
        <li>
         <a href="#methods." id="toc-methods.">
          <span id="anchor-38">
          </span>
          Methods.
         </a>
        </li>
        <li>
         <a href="#coincidences." id="toc-coincidences.">
          <span id="anchor-39">
          </span>
          Coincidences.
         </a>
        </li>
        <li>
         <a href="#people." id="toc-people.">
          <span id="anchor-40">
          </span>
          People.
         </a>
        </li>
        <li>
         <a href="#assuming." id="toc-assuming.">
          <span id="anchor-41">
          </span>
          Assuming.
         </a>
        </li>
        <li>
         <a href="#textual." id="toc-textual.">
          <span id="anchor-42">
          </span>
          Textual.
         </a>
        </li>
        <li>
         <a href="#on-the-cross." id="toc-on-the-cross.">
          <span id="anchor-43">
          </span>
          On the cross.
         </a>
        </li>
        <li>
         <a href="#they-believed." id="toc-they-believed.">
          <span id="anchor-44">
          </span>
          They believed.
         </a>
        </li>
        <li>
         <a href="#followers." id="toc-followers.">
          <span id="anchor-45">
          </span>
          Followers.
         </a>
        </li>
        <li>
         <a href="#dead." id="toc-dead.">
          <span id="anchor-46">
          </span>
          Dead.
         </a>
        </li>
        <li>
         <a href="#growth." id="toc-growth.">
          <span id="anchor-47">
          </span>
          Growth.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#credibility." id="toc-credibility.">
        <span id="anchor-48">
        </span>
        Credibility.
       </a>
       <ul>
        <li>
         <a href="#denial." id="toc-denial.">
          <span id="anchor-49">
          </span>
          Denial.
         </a>
        </li>
        <li>
         <a href="#observations." id="toc-observations.">
          <span id="anchor-50">
          </span>
          Observations.
         </a>
         <ul>
          <li>
           <a href="#sources." id="toc-sources.">
            <span id="anchor-51">
            </span>
            Sources.
           </a>
          </li>
          <li>
           <a href="#knowledge." id="toc-knowledge.">
            <span id="anchor-52">
            </span>
            Knowledge.
           </a>
          </li>
          <li>
           <a href="#interdependent." id="toc-interdependent.">
            <span id="anchor-53">
            </span>
            Interdependent.
           </a>
          </li>
          <li>
           <a href="#alive." id="toc-alive.">
            <span id="anchor-54">
            </span>
            Alive.
           </a>
          </li>
          <li>
           <a href="#jerusalem." id="toc-jerusalem.">
            <span id="anchor-55">
            </span>
            Jerusalem.
           </a>
          </li>
          <li>
           <a href="#equal." id="toc-equal.">
            <span id="anchor-56">
            </span>
            Equal.
           </a>
          </li>
          <li>
           <a href="#names." id="toc-names.">
            <span id="anchor-57">
            </span>
            Names.
           </a>
          </li>
          <li>
           <a href="#women." id="toc-women.">
            <span id="anchor-58">
            </span>
            Women.
           </a>
          </li>
          <li>
           <a href="#groups." id="toc-groups.">
            <span id="anchor-59">
            </span>
            Groups.
           </a>
          </li>
          <li>
           <a href="#they-suffered." id="toc-they-suffered.">
            <span id="anchor-60">
            </span>
            They suffered.
           </a>
          </li>
          <li>
           <a href="#body." id="toc-body.">
            <span id="anchor-61">
            </span>
            Body.
           </a>
          </li>
          <li>
           <a href="#embarrassing." id="toc-embarrassing.">
            <span id="anchor-62">
            </span>
            Embarrassing.
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="#airplanes." id="toc-airplanes.">
          <span id="anchor-63">
          </span>
          Airplanes.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#the-believer." id="toc-the-believer.">
        <span id="anchor-64">
        </span>
        The Believer.
       </a>
       <ul>
        <li>
         <a href="#tanakh." id="toc-tanakh.">
          <span id="anchor-65">
          </span>
          Tanakh.
         </a>
        </li>
        <li>
         <a href="#warning.-1" id="toc-warning.-1">
          <span id="anchor-66">
          </span>
          Warning.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#lord." id="toc-lord.">
        <span id="anchor-67">
        </span>
        Lord.
       </a>
       <ul>
        <li>
         <a href="#heaven-of-the-heavens." id="toc-heaven-of-the-heavens.">
          <span id="anchor-68">
          </span>
          Heaven of
the heavens.
         </a>
        </li>
        <li>
         <a href="#angels." id="toc-angels.">
          <span id="anchor-69">
          </span>
          Angels.
         </a>
        </li>
        <li>
         <a href="#wings." id="toc-wings.">
          <span id="anchor-70">
          </span>
          Wings.
         </a>
        </li>
        <li>
         <a href="#creation." id="toc-creation.">
          <span id="anchor-72">
          </span>
          Creation.
         </a>
         <ul>
          <li>
           <a href="#day-1." id="toc-day-1.">
            <span id="anchor-73">
            </span>
            Day
1.
           </a>
          </li>
          <li>
           <a href="#day-2." id="toc-day-2.">
            <span id="anchor-74">
            </span>
            Day
2.
           </a>
          </li>
          <li>
           <a href="#day-3." id="toc-day-3.">
            <span id="anchor-75">
            </span>
            Day
3.
           </a>
          </li>
          <li>
           <a href="#day-4." id="toc-day-4.">
            <span id="anchor-76">
            </span>
            Day
4.
           </a>
          </li>
          <li>
           <a href="#day-5." id="toc-day-5.">
            <span id="anchor-77">
            </span>
            Day
5.
           </a>
          </li>
          <li>
           <a href="#day-6." id="toc-day-6.">
            <span id="anchor-78">
            </span>
            Day
6.
           </a>
          </li>
          <li>
           <a href="#easy." id="toc-easy.">
            <span id="anchor-79">
            </span>
            Easy.
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="#the-previous." id="toc-the-previous.">
          <span id="anchor-80">
          </span>
          The previous.
         </a>
         <ul>
          <li>
           <a href="#elohim." id="toc-elohim.">
            <span id="anchor-81">
            </span>
            Elohim.
           </a>
          </li>
          <li>
           <a href="#yeshua." id="toc-yeshua.">
            <span id="anchor-82">
            </span>
            Yeshua.
           </a>
          </li>
          <li>
           <a href="#ruakh-hakodesh." id="toc-ruakh-hakodesh.">
            <span id="anchor-83">
            </span>
            Ruakh Hakodesh.
           </a>
          </li>
          <li>
           <a href="#the-sons-of-elohim." id="toc-the-sons-of-elohim.">
            <span id="anchor-84">
            </span>
            The Sons of Elohim.
           </a>
          </li>
          <li>
           <a href="#the-angels." id="toc-the-angels.">
            <span id="anchor-85">
            </span>
            The Angels.
           </a>
          </li>
          <li>
           <a href="#the-satan-and-company." id="toc-the-satan-and-company.">
            <span id="anchor-86">
            </span>
            The Satan
and company.
           </a>
          </li>
          <li>
           <a href="#the-winged-ones." id="toc-the-winged-ones.">
            <span id="anchor-87">
            </span>
            The Winged Ones.
           </a>
          </li>
          <li>
           <a href="#the-stars." id="toc-the-stars.">
            <span id="anchor-88">
            </span>
            The stars.
           </a>
          </li>
          <li>
           <a href="#a-part-of-the-armies-of-heaven." id="toc-a-part-of-the-armies-of-heaven.">
            <span id="anchor-89">
            </span>
            A
part of the armies of Heaven.
           </a>
          </li>
          <li>
           <a href="#heaven-of-heavens." id="toc-heaven-of-heavens.">
            <span id="anchor-90">
            </span>
            Heaven of Heavens.
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="#consistency." id="toc-consistency.">
          <span id="anchor-91">
          </span>
          Consistency.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#saviour." id="toc-saviour.">
        <span id="anchor-92">
        </span>
        Saviour.
       </a>
       <ul>
        <li>
         <a href="#life." id="toc-life.">
          <span id="anchor-93">
          </span>
          Life.
         </a>
        </li>
        <li>
         <a href="#death." id="toc-death.">
          <span id="anchor-94">
          </span>
          Death.
         </a>
        </li>
        <li>
         <a href="#liberator." id="toc-liberator.">
          <span id="anchor-95">
          </span>
          Liberator.
         </a>
        </li>
        <li>
         <a href="#principalities-and-powers." id="toc-principalities-and-powers.">
          <span id="anchor-96">
          </span>
          Principalities and powers.
         </a>
        </li>
        <li>
         <a href="#one-of-two." id="toc-one-of-two.">
          <span id="anchor-98">
          </span>
          One of two.
         </a>
        </li>
        <li>
         <a href="#sleeping." id="toc-sleeping.">
          <span id="anchor-99">
          </span>
          Sleeping.
         </a>
        </li>
        <li>
         <a href="#everyone." id="toc-everyone.">
          <span id="anchor-100">
          </span>
          Everyone.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#just." id="toc-just.">
        <span id="anchor-101">
        </span>
        Just.
       </a>
       <ul>
        <li>
         <a href="#justice." id="toc-justice.">
          <span id="anchor-102">
          </span>
          Justice.
         </a>
        </li>
        <li>
         <a href="#the-good-guy." id="toc-the-good-guy.">
          <span id="anchor-103">
          </span>
          The good guy.
         </a>
        </li>
        <li>
         <a href="#doing-good." id="toc-doing-good.">
          <span id="anchor-104">
          </span>
          Doing good.
         </a>
        </li>
        <li>
         <a href="#the-bad-guys." id="toc-the-bad-guys.">
          <span id="anchor-105">
          </span>
          The bad guys.
         </a>
        </li>
        <li>
         <a href="#fire." id="toc-fire.">
          <span id="anchor-106">
          </span>
          Fire.
         </a>
         <ul>
          <li>
           <a href="#spiritual." id="toc-spiritual.">
            <span id="anchor-107">
            </span>
            Spiritual.
           </a>
          </li>
          <li>
           <a href="#physical.-1" id="toc-physical.-1">
            <span id="anchor-108">
            </span>
            Physical.
           </a>
          </li>
         </ul>
        </li>
       </ul>
      </li>
      <li>
       <a href="#all-flesh." id="toc-all-flesh.">
        <span id="anchor-109">
        </span>
        All flesh.
       </a>
       <ul>
        <li>
         <a href="#hell." id="toc-hell.">
          <span id="anchor-110">
          </span>
          Hell.
         </a>
         <ul>
          <li>
           <a href="#jesus-christ." id="toc-jesus-christ.">
            <span id="anchor-111">
            </span>
            Jesus Christ.
           </a>
           <ul>
            <li>
             <a href="#hades.-code-g86." id="toc-hades.-code-g86.">
              <span id="anchor-112">
              </span>
              Hades. Code G86.
             </a>
            </li>
            <li>
             <a href="#ge-henna.-code-g1067." id="toc-ge-henna.-code-g1067.">
              <span id="anchor-113">
              </span>
              Ge-Henna.
Code G1067.
             </a>
            </li>
           </ul>
          </li>
         </ul>
        </li>
        <li>
         <a href="#sheol.-code-h7585." id="toc-sheol.-code-h7585.">
          <span id="anchor-114">
          </span>
          Sheol. Code H7585.
         </a>
         <ul>
          <li>
           <a href="#everyone.-1" id="toc-everyone.-1">
            <span id="anchor-115">
            </span>
            Everyone.
           </a>
          </li>
          <li>
           <a href="#raise." id="toc-raise.">
            <span id="anchor-116">
            </span>
            Raise.
           </a>
          </li>
          <li>
           <a href="#nothing." id="toc-nothing.">
            <span id="anchor-117">
            </span>
            Nothing.
           </a>
          </li>
          <li>
           <a href="#different." id="toc-different.">
            <span id="anchor-118">
            </span>
            Different.
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="#ge-henna.-code-g1067.-1" id="toc-ge-henna.-code-g1067.-1">
          <span id="anchor-119">
          </span>
          Ge-Henna.
Code G1067.
         </a>
         <ul>
          <li>
           <a href="#its-of-fire." id="toc-its-of-fire.">
            <span id="anchor-120">
            </span>
            It&#39;s of fire.
           </a>
          </li>
          <li>
           <a href="#it-does-not-turn-off." id="toc-it-does-not-turn-off.">
            <span id="anchor-121">
            </span>
            It does not
turn off.
           </a>
          </li>
          <li>
           <a href="#life.-1" id="toc-life.-1">
            <span id="anchor-122">
            </span>
            Life.
           </a>
          </li>
          <li>
           <a href="#gods-kingdom." id="toc-gods-kingdom.">
            <span id="anchor-123">
            </span>
            God&#39;s Kingdom.
           </a>
          </li>
          <li>
           <a href="#eternal." id="toc-eternal.">
            <span id="anchor-124">
            </span>
            Eternal.
           </a>
          </li>
          <li>
           <a href="#everyone.-2" id="toc-everyone.-2">
            <span id="anchor-125">
            </span>
            Everyone.
           </a>
          </li>
          <li>
           <a href="#judgment." id="toc-judgment.">
            <span id="anchor-126">
            </span>
            Judgment.
           </a>
          </li>
          <li>
           <a href="#before." id="toc-before.">
            <span id="anchor-127">
            </span>
            Before.
           </a>
          </li>
          <li>
           <a href="#after." id="toc-after.">
            <span id="anchor-128">
            </span>
            After.
           </a>
          </li>
          <li>
           <a href="#the-worm-does-not-die." id="toc-the-worm-does-not-die.">
            <span id="anchor-129">
            </span>
            The worm
does not die.
           </a>
          </li>
          <li>
           <a href="#destroyer." id="toc-destroyer.">
            <span id="anchor-130">
            </span>
            Destroyer.
           </a>
          </li>
          <li>
           <a href="#different.-1" id="toc-different.-1">
            <span id="anchor-131">
            </span>
            Different.
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="#eternal-death." id="toc-eternal-death.">
          <span id="anchor-132">
          </span>
          Eternal death.
         </a>
        </li>
        <li>
         <a href="#eternal-punishment." id="toc-eternal-punishment.">
          <span id="anchor-133">
          </span>
          Eternal punishment.
         </a>
        </li>
        <li>
         <a href="#lake-of-fire." id="toc-lake-of-fire.">
          <span id="anchor-135">
          </span>
          Lake of fire.
         </a>
        </li>
        <li>
         <a href="#excluded." id="toc-excluded.">
          <span id="anchor-136">
          </span>
          Excluded.
         </a>
        </li>
        <li>
         <a href="#the-rich-and-the-poor-lazarus." id="toc-the-rich-and-the-poor-lazarus.">
          <span id="anchor-137">
          </span>
          The
rich and the poor Lazarus.
         </a>
        </li>
        <li>
         <a href="#free-will." id="toc-free-will.">
          <span id="anchor-138">
          </span>
          Free will.
         </a>
        </li>
        <li>
         <a href="#bible." id="toc-bible.">
          <span id="anchor-139">
          </span>
          Bible.
         </a>
         <ul>
          <li>
           <a href="#adam." id="toc-adam.">
            <span id="anchor-140">
            </span>
            Adam.
           </a>
          </li>
          <li>
           <a href="#abraham." id="toc-abraham.">
            <span id="anchor-141">
            </span>
            Abraham.
           </a>
          </li>
          <li>
           <a href="#moses." id="toc-moses.">
            <span id="anchor-142">
            </span>
            Moses.
           </a>
          </li>
          <li>
           <a href="#psalmists." id="toc-psalmists.">
            <span id="anchor-143">
            </span>
            Psalmists.
           </a>
          </li>
          <li>
           <a href="#isaiah." id="toc-isaiah.">
            <span id="anchor-145">
            </span>
            Isaiah.
           </a>
          </li>
          <li>
           <a href="#jeremiah." id="toc-jeremiah.">
            <span id="anchor-146">
            </span>
            Jeremiah.
           </a>
          </li>
          <li>
           <a href="#ezekiel." id="toc-ezekiel.">
            <span id="anchor-147">
            </span>
            Ezekiel.
           </a>
          </li>
          <li>
           <a href="#daniel." id="toc-daniel.">
            <span id="anchor-148">
            </span>
            Daniel.
           </a>
          </li>
          <li>
           <a href="#the-12." id="toc-the-12.">
            <span id="anchor-149">
            </span>
            The
12.
           </a>
          </li>
          <li>
           <a href="#jesus-christ.-1" id="toc-jesus-christ.-1">
            <span id="anchor-150">
            </span>
            Jesus Christ.
           </a>
          </li>
          <li>
           <a href="#paul." id="toc-paul.">
            <span id="anchor-151">
            </span>
            Paul.
           </a>
          </li>
          <li>
           <a href="#peter." id="toc-peter.">
            <span id="anchor-152">
            </span>
            Peter.
           </a>
          </li>
          <li>
           <a href="#john." id="toc-john.">
            <span id="anchor-153">
            </span>
            John.
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="#it-is-written." id="toc-it-is-written.">
          <span id="anchor-154">
          </span>
          It is written.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#the-return." id="toc-the-return.">
        <span id="anchor-155">
        </span>
        The return.
       </a>
       <ul>
        <li>
         <a href="#warning.-2" id="toc-warning.-2">
          <span id="anchor-156">
          </span>
          Warning.
         </a>
        </li>
        <li>
         <a href="#jesus-christ.-2" id="toc-jesus-christ.-2">
          <span id="anchor-157">
          </span>
          Jesus Christ.
         </a>
        </li>
        <li>
         <a href="#peace." id="toc-peace.">
          <span id="anchor-158">
          </span>
          Peace.
         </a>
        </li>
        <li>
         <a href="#temple." id="toc-temple.">
          <span id="anchor-159">
          </span>
          Temple.
         </a>
        </li>
        <li>
         <a href="#a-thousand-years." id="toc-a-thousand-years.">
          <span id="anchor-160">
          </span>
          A thousand years.
         </a>
        </li>
        <li>
         <a href="#section" id="toc-section">
          <span id="anchor-161">
          </span>
          144,000
         </a>
        </li>
        <li>
         <a href="#gods-wrath." id="toc-gods-wrath.">
          <span id="anchor-162">
          </span>
          God&#39;s Wrath.
         </a>
        </li>
        <li>
         <a href="#caught-up." id="toc-caught-up.">
          <span id="anchor-163">
          </span>
          Caught up.
         </a>
        </li>
        <li>
         <a href="#great-tribulation." id="toc-great-tribulation.">
          <span id="anchor-164">
          </span>
          Great Tribulation.
         </a>
        </li>
        <li>
         <a href="#eternal-abhorrence." id="toc-eternal-abhorrence.">
          <span id="anchor-165">
          </span>
          Eternal Abhorrence.
         </a>
        </li>
        <li>
         <a href="#the-abomination-of-desolation." id="toc-the-abomination-of-desolation.">
          <span id="anchor-167">
          </span>
          The
Abomination of Desolation.
         </a>
         <ul>
          <li>
           <a href="#the-final-moment." id="toc-the-final-moment.">
            <span id="anchor-168">
            </span>
            The final moment.
           </a>
          </li>
          <li>
           <a href="#weeks." id="toc-weeks.">
            <span id="anchor-169">
            </span>
            70
Weeks.
           </a>
          </li>
          <li>
           <a href="#north-and-south." id="toc-north-and-south.">
            <span id="anchor-170">
            </span>
            North and south.
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="#israel." id="toc-israel.">
          <span id="anchor-171">
          </span>
          Israel.
         </a>
        </li>
        <li>
         <a href="#details." id="toc-details.">
          <span id="anchor-172">
          </span>
          Details.
         </a>
         <ul>
          <li>
           <a href="#delivery." id="toc-delivery.">
            <span id="anchor-173">
            </span>
            <strong>
             Delivery
            </strong>
            .
           </a>
          </li>
          <li>
           <a href="#messengers." id="toc-messengers.">
            <span id="anchor-174">
            </span>
            7 messengers.
           </a>
          </li>
          <li>
           <a href="#babylon." id="toc-babylon.">
            <span id="anchor-175">
            </span>
            Babylon.
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="#reign." id="toc-reign.">
          <span id="anchor-176">
          </span>
          Reign.
         </a>
        </li>
       </ul>
      </li>
     </ul>
    </li>
    <li>
     <a href="#part-3.-periphery." id="toc-part-3.-periphery.">
      <span id="anchor-177">
      </span>
      PART 3. PERIPHERY.
     </a>
     <ul>
      <li>
       <a href="#beliefs." id="toc-beliefs.">
        <span id="anchor-178">
        </span>
        Beliefs.
       </a>
       <ul>
        <li>
         <a href="#principles." id="toc-principles.">
          <span id="anchor-179">
          </span>
          Principles.
         </a>
        </li>
        <li>
         <a href="#evidence.-1" id="toc-evidence.-1">
          <span id="anchor-180">
          </span>
          Evidence.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#the-truth." id="toc-the-truth.">
        <span id="anchor-181">
        </span>
        The Truth.
       </a>
      </li>
      <li>
       <a href="#the-search." id="toc-the-search.">
        <span id="anchor-182">
        </span>
        The search.
       </a>
      </li>
      <li>
       <a href="#supernatural." id="toc-supernatural.">
        <span id="anchor-183">
        </span>
        Supernatural.
       </a>
      </li>
      <li>
       <a href="#science." id="toc-science.">
        <span id="anchor-184">
        </span>
        Science.
       </a>
      </li>
      <li>
       <a href="#distances." id="toc-distances.">
        <span id="anchor-185">
        </span>
        Distances.
       </a>
      </li>
      <li>
       <a href="#redshift." id="toc-redshift.">
        <span id="anchor-186">
        </span>
        Redshift.
       </a>
      </li>
      <li>
       <a href="#radioactive." id="toc-radioactive.">
        <span id="anchor-187">
        </span>
        Radioactive.
       </a>
      </li>
      <li>
       <a href="#helium." id="toc-helium.">
        <span id="anchor-188">
        </span>
        Helium.
       </a>
      </li>
      <li>
       <a href="#factories." id="toc-factories.">
        <span id="anchor-189">
        </span>
        Factories.
       </a>
      </li>
      <li>
       <a href="#monomers." id="toc-monomers.">
        <span id="anchor-190">
        </span>
        Monomers.
       </a>
       <ul>
        <li>
         <a href="#the-letters." id="toc-the-letters.">
          <span id="anchor-191">
          </span>
          The letters.
         </a>
        </li>
        <li>
         <a href="#gloves." id="toc-gloves.">
          <span id="anchor-192">
          </span>
          Gloves.
         </a>
        </li>
        <li>
         <a href="#reactions." id="toc-reactions.">
          <span id="anchor-193">
          </span>
          Reactions.
         </a>
        </li>
        <li>
         <a href="#easy.-1" id="toc-easy.-1">
          <span id="anchor-194">
          </span>
          Easy.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#polymers." id="toc-polymers.">
        <span id="anchor-195">
        </span>
        Polymers.
       </a>
      </li>
      <li>
       <a href="#programmer." id="toc-programmer.">
        <span id="anchor-196">
        </span>
        Programmer.
       </a>
      </li>
      <li>
       <a href="#the-tale-of-the-frog." id="toc-the-tale-of-the-frog.">
        <span id="anchor-197">
        </span>
        The tale of
the frog.
       </a>
      </li>
      <li>
       <a href="#trees." id="toc-trees.">
        <span id="anchor-198">
        </span>
        Trees.
       </a>
      </li>
      <li>
       <a href="#coal." id="toc-coal.">
        <span id="anchor-199">
        </span>
        Coal.
       </a>
      </li>
      <li>
       <a href="#tectonics." id="toc-tectonics.">
        <span id="anchor-200">
        </span>
        Tectonics.
       </a>
       <ul>
        <li>
         <a href="#trenches." id="toc-trenches.">
          <span id="anchor-201">
          </span>
          Trenches.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#ridges." id="toc-ridges.">
        <span id="anchor-202">
        </span>
        Ridges.
       </a>
      </li>
      <li>
       <a href="#hydroplates." id="toc-hydroplates.">
        <span id="anchor-203">
        </span>
        Hydroplates.
       </a>
       <ul>
        <li>
         <a href="#another-story." id="toc-another-story.">
          <span id="anchor-204">
          </span>
          Another story.
         </a>
        </li>
        <li>
         <a href="#conditions." id="toc-conditions.">
          <span id="anchor-205">
          </span>
          Conditions.
         </a>
        </li>
        <li>
         <a href="#the-process." id="toc-the-process.">
          <span id="anchor-206">
          </span>
          The process.
         </a>
        </li>
        <li>
         <a href="#in-two." id="toc-in-two.">
          <span id="anchor-207">
          </span>
          In
two.
         </a>
        </li>
        <li>
         <a href="#a-comparison." id="toc-a-comparison.">
          <span id="anchor-208">
          </span>
          A comparison.
         </a>
        </li>
        <li>
         <a href="#rupture-phase." id="toc-rupture-phase.">
          <span id="anchor-209">
          </span>
          Rupture Phase.
         </a>
         <ul>
          <li>
           <a href="#water." id="toc-water.">
            <span id="anchor-210">
            </span>
            Water.
           </a>
          </li>
          <li>
           <a href="#objects." id="toc-objects.">
            <span id="anchor-211">
            </span>
            Objects.
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="#flood-phase." id="toc-flood-phase.">
          <span id="anchor-212">
          </span>
          Flood Phase.
         </a>
         <ul>
          <li>
           <a href="#hail." id="toc-hail.">
            <span id="anchor-213">
            </span>
            Hail.
           </a>
          </li>
          <li>
           <a href="#discharges." id="toc-discharges.">
            <span id="anchor-214">
            </span>
            Discharges.
           </a>
          </li>
          <li>
           <a href="#strata." id="toc-strata.">
            <span id="anchor-215">
            </span>
            Strata.
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="#drift-phase." id="toc-drift-phase.">
          <span id="anchor-216">
          </span>
          Drift Phase.
         </a>
         <ul>
          <li>
           <a href="#ridge." id="toc-ridge.">
            <span id="anchor-217">
            </span>
            Ridge.
           </a>
          </li>
          <li>
           <a href="#magnetic." id="toc-magnetic.">
            <span id="anchor-218">
            </span>
            Magnetic.
           </a>
          </li>
          <li>
           <a href="#separated." id="toc-separated.">
            <span id="anchor-219">
            </span>
            Separated.
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="#recovery-phase." id="toc-recovery-phase.">
          <span id="anchor-220">
          </span>
          Recovery Phase.
         </a>
         <ul>
          <li>
           <a href="#magma." id="toc-magma.">
            <span id="anchor-221">
            </span>
            Magma.
           </a>
          </li>
          <li>
           <a href="#earthquakes." id="toc-earthquakes.">
            <span id="anchor-222">
            </span>
            Earthquakes.
           </a>
          </li>
          <li>
           <a href="#field." id="toc-field.">
            <span id="anchor-223">
            </span>
            Field.
           </a>
          </li>
          <li>
           <a href="#bulging-and-sinking." id="toc-bulging-and-sinking.">
            <span id="anchor-224">
            </span>
            Bulging and Sinking.
           </a>
          </li>
          <li>
           <a href="#trenches.-1" id="toc-trenches.-1">
            <span id="anchor-225">
            </span>
            Trenches.
           </a>
          </li>
          <li>
           <a href="#moutains." id="toc-moutains.">
            <span id="anchor-226">
            </span>
            Moutains.
           </a>
          </li>
          <li>
           <a href="#unconformities." id="toc-unconformities.">
            <span id="anchor-227">
            </span>
            Unconformities.
           </a>
          </li>
          <li>
           <a href="#hydrocarbs." id="toc-hydrocarbs.">
            <span id="anchor-228">
            </span>
            Hydrocarbs.
           </a>
          </li>
          <li>
           <a href="#canyons." id="toc-canyons.">
            <span id="anchor-229">
            </span>
            Canyons.
           </a>
          </li>
          <li>
           <a href="#plateaus." id="toc-plateaus.">
            <span id="anchor-230">
            </span>
            Plateaus.
           </a>
          </li>
          <li>
           <a href="#butte." id="toc-butte.">
            <span id="anchor-231">
            </span>
            Butte.
           </a>
          </li>
          <li>
           <a href="#latitude-rotation." id="toc-latitude-rotation.">
            <span id="anchor-232">
            </span>
            Latitude rotation.
           </a>
          </li>
          <li>
           <a href="#meridian-90." id="toc-meridian-90.">
            <span id="anchor-233">
            </span>
            Meridian 90.
           </a>
          </li>
          <li>
           <a href="#continues." id="toc-continues.">
            <span id="anchor-234">
            </span>
            Continues.
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="#differences." id="toc-differences.">
          <span id="anchor-235">
          </span>
          Differences.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#the-couple." id="toc-the-couple.">
        <span id="anchor-236">
        </span>
        The couple.
       </a>
       <ul>
        <li>
         <a href="#reproduction.-1" id="toc-reproduction.-1">
          <span id="anchor-237">
          </span>
          Reproduction.
         </a>
        </li>
        <li>
         <a href="#no-cheating." id="toc-no-cheating.">
          <span id="anchor-238">
          </span>
          No cheating.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#dinosaurs." id="toc-dinosaurs.">
        <span id="anchor-239">
        </span>
        Dinosaurs.
       </a>
       <ul>
        <li>
         <a href="#biblical." id="toc-biblical.">
          <span id="anchor-240">
          </span>
          Biblical.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#taxonomy." id="toc-taxonomy.">
        <span id="anchor-241">
        </span>
        Taxonomy.
       </a>
       <ul>
        <li>
         <a href="#th-century." id="toc-th-century.">
          <span id="anchor-242">
          </span>
          18th century.
         </a>
        </li>
        <li>
         <a href="#biblical.-1" id="toc-biblical.-1">
          <span id="anchor-243">
          </span>
          Biblical.
         </a>
        </li>
        <li>
         <a href="#few." id="toc-few.">
          <span id="anchor-244">
          </span>
          Few.
         </a>
        </li>
        <li>
         <a href="#adaptation." id="toc-adaptation.">
          <span id="anchor-245">
          </span>
          Adaptation.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#noahs-ark." id="toc-noahs-ark.">
        <span id="anchor-246">
        </span>
        Noah&#39;s Ark.
       </a>
       <ul>
        <li>
         <a href="#section-1" id="toc-section-1">
          <span id="anchor-247">
          </span>
          1948.
         </a>
        </li>
        <li>
         <a href="#section-2" id="toc-section-2">
          <span id="anchor-248">
          </span>
          2014.
         </a>
        </li>
        <li>
         <a href="#the-facts." id="toc-the-facts.">
          <span id="anchor-249">
          </span>
          The facts.
         </a>
        </li>
        <li>
         <a href="#logistics." id="toc-logistics.">
          <span id="anchor-250">
          </span>
          Logistics.
         </a>
        </li>
        <li>
         <a href="#first-things-first." id="toc-first-things-first.">
          <span id="anchor-251">
          </span>
          First thing&#39;s first.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#history." id="toc-history.">
        <span id="anchor-252">
        </span>
        History.
       </a>
      </li>
      <li>
       <a href="#the-column." id="toc-the-column.">
        <span id="anchor-253">
        </span>
        The Column.
       </a>
      </li>
      <li>
       <a href="#genealogies." id="toc-genealogies.">
        <span id="anchor-254">
        </span>
        Genealogies.
       </a>
      </li>
      <li>
       <a href="#eridu." id="toc-eridu.">
        <span id="anchor-255">
        </span>
        Eridu.
       </a>
      </li>
      <li>
       <a href="#monumental-egypt." id="toc-monumental-egypt.">
        <span id="anchor-256">
        </span>
        Monumental Egypt.
       </a>
      </li>
      <li>
       <a href="#ur." id="toc-ur.">
        <span id="anchor-257">
        </span>
        Ur.
       </a>
      </li>
      <li>
       <a href="#sodoma-and-gomorra." id="toc-sodoma-and-gomorra.">
        <span id="anchor-258">
        </span>
        Sodoma and Gomorra.
       </a>
      </li>
      <li>
       <a href="#imhotep." id="toc-imhotep.">
        <span id="anchor-259">
        </span>
        Imhotep.
       </a>
      </li>
      <li>
       <a href="#nuweiba." id="toc-nuweiba.">
        <span id="anchor-260">
        </span>
        Nuweiba.
       </a>
      </li>
      <li>
       <a href="#jabal-maqla." id="toc-jabal-maqla.">
        <span id="anchor-261">
        </span>
        Jabal-Maqla.
       </a>
      </li>
      <li>
       <a href="#synchronizing-egypt." id="toc-synchronizing-egypt.">
        <span id="anchor-262">
        </span>
        Synchronizing Egypt.
       </a>
      </li>
      <li>
       <a href="#probability." id="toc-probability.">
        <span id="anchor-263">
        </span>
        Probability.
       </a>
       <ul>
        <li>
         <a href="#fundamental-probability." id="toc-fundamental-probability.">
          <span id="anchor-264">
          </span>
          Fundamental probability.
         </a>
        </li>
        <li>
         <a href="#statistical-probability." id="toc-statistical-probability.">
          <span id="anchor-265">
          </span>
          Statistical probability.
         </a>
        </li>
        <li>
         <a href="#creations." id="toc-creations.">
          <span id="anchor-266">
          </span>
          Creations.
         </a>
        </li>
        <li>
         <a href="#quantum." id="toc-quantum.">
          <span id="anchor-267">
          </span>
          Quantum.
         </a>
        </li>
        <li>
         <a href="#popular." id="toc-popular.">
          <span id="anchor-268">
          </span>
          Popular.
         </a>
        </li>
       </ul>
      </li>
      <li>
       <a href="#gravely-absurd." id="toc-gravely-absurd.">
        <span id="anchor-269">
        </span>
        Gravely absurd.
       </a>
      </li>
      <li>
       <a href="#fields." id="toc-fields.">
        <span id="anchor-270">
        </span>
        Fields.
       </a>
      </li>
      <li>
       <a href="#extraterrestrial." id="toc-extraterrestrial.">
        <span id="anchor-271">
        </span>
        Extraterrestrial.
       </a>
      </li>
      <li>
       <a href="#determinism." id="toc-determinism.">
        <span id="anchor-272">
        </span>
        Determinism.
       </a>
      </li>
     </ul>
    </li>
    <li>
     <a href="#part-4.-testimony." id="toc-part-4.-testimony.">
      <span id="anchor-273">
      </span>
      PART 4. TESTIMONY.
     </a>
     <ul>
      <li>
       <a href="#my-testimony." id="toc-my-testimony.">
        <span id="anchor-274">
        </span>
        My testimony.
       </a>
      </li>
      <li>
       <a href="#and-you" id="toc-and-you">
        <span id="anchor-275">
        </span>
        And
you?
       </a>
      </li>
     </ul>
    </li>
    <li>
     <a href="#biblical-references" id="toc-biblical-references">
      <span id="anchor-276">
      </span>
      Biblical References
     </a>
    </li>
   </ul>
  </nav>
 </body>
</html>
